{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "bouldersmashexplosion"
    },
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/trapbouldersmash/trapbouldersmash.animation",
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/throwingboulder_impact1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "black"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
