{
	"aztec" : "aztecmaterial",
	"brick" : "brickmaterial",
	"cobblestone" : "cobblestonematerial",
	"composite01" : "composite01material",
	"concrete" :  "concretematerial",
	"corruptdirt" :  "corruptdirtmaterial",
	"darksmoothstone" : "darksmoothstonematerial",
	"darkwood" : "darkwoodmaterial",
	"dirt" : "dirtmaterial",
	"girder" : "girdermaterial",
	"glass" : "glassmaterial",
	"gravel" : "gravelmaterial",
	"hellstone" : "hellstonematerial",
	"metallic" : "metallicmaterial",
	"plate": "platematerial",
	"purplecrystal" : "purplecrystalmaterial",
	"rockbrick" :   "rockbrickmaterial",
	"sandstone" :  "sandstonematerial",
	"sandstone01" : "sandstonematerial",
	"rostone" : "rostonematerial",
	"marestone" : "marestonematerial"
}
