{

	// Vanilla
	"coal" : "coalore",
	"copper" : "copperore",
	"iron" : "ironore",
	"tungsten" :  "tungstenore",
	"titanium" :  "titaniumore",
	"ferozium" : "feroziumore",
	"violium" : "violiumore",
	"aegisalt" : "aegisaltore",
	"solarium" : "solariumore",
	"platinum" : "platinumore",
	"prisilite" : "prisiliteore",
	"plutonium" : "plutoniumore",
	"lead" : "lead",
	"corefragment" : "corefragmentore",
	"diamond" : "diamond",
	"erchius" :  "solidfuel",
	"moonstone" : "moonstoneore",
	"uranium" : "uraniumore",
	"trianglium" : "triangliumore",
	"silver" : "silverore",
	"gold" : "goldore",
	"sulphur" : "sulphur",

	// FU
	"cinnabar" : "cinnabarore",
	"corruption" : "corruptionore",
	"densium" : "densiumore",
	"effigium" : "effigiumore",
	"fublooddiamond" :  "blooddiamond",
	"funeontubing" : "funeontube",
	"irradium" : "irradiumore",
	"isogen" : "isogenore",
	"koanite" : "koaniteore",
	"lunariore" : "solarishard",
	"magnesium" : "magnesiumore",
	"mascagnite" : "mascagniteore",
	"neptunium" :  "neptuniumore",
	"nocxium" :  "nocxiumore",
	"penumbrite" : "penumbriteore",
	"protocite" : "protociteore",
	"pyreite" : "pyreiteore",
	"quietus" : "quietusore",
	"sivite" : "siviteore",
	"thorium" : "thoriumore",
	"xithricite" :  "xithriciteore",
	"zerchesium" :  "zerchesiumore",

	// Arcana
	"arcana_mod_animaOre" : "arcana_ore_animaOre",
	"arcana_mod_arcaniumOre" : "arcana_ore_arcaniumOre",
	"arcana_mod_ariostone" : "elemental_crafting_ariostone",
	"arcana_mod_aspiriteOre" :  "arcana_randomitem_aspirite",
	"arcana_mod_atlaGoldOre" :  "arcana_ore_atlaGoldOre",
	"arcana_mod_atumiumOre" : "arcana_ore_atumiumOre",
	"arcana_mod_avostone" : "arcana_misc_avostone",
	"arcana_mod_azuriumOre" : "arcana_ore_azuriumOre",
	"arcana_mod_borealiteOre" : "arcana_ore_borealiteOre",
	"arcana_mod_corrodiumOre" : "arcana_ore_corrodiumOre",
	"arcana_mod_enartzFragment" : "arcana_ore_enartzFragment",
	"arcana_mod_exoslateFragment" : "arcana_ore_exoslateFragment",
	"arcana_mod_geodestone" :  "arcana_randomitem_geodestone",
	"arcana_mod_holosiumFragment" :  "arcana_ore_holosiumFragment",
	"arcana_mod_immoriteOre" : "arcana_randomitem_immorite",
	"arcana_mod_luminariumOre" : "arcana_ore_luminariumOre",
	"arcana_mod_magifireCrystal" : "elemental_crafting_magifireCrystal",
	"arcana_mod_morphosisShard" : "arcana_ore_morphosisShard",
	"arcana_mod_necroiumFragment" : "arcana_ore_necroiumFragment",
	"arcana_mod_noxionOre" : "arcana_randomitem_noxion",
	"arcana_mod_oceanite" : "arcana_misc_oceanite",
	"arcana_mod_pinkAquamarine" :  "elemental_crafting_pinkAquamarine",
	"arcana_mod_rawDiathrylium" :  "arcana_ore_rawDiathrylium",
	"arcana_mod_rawDustrium" : "workshop_crafting_rawDustrium",
	"arcana_mod_renatineFragment" : "arcana_misc_renatineFragment",
	"arcana_mod_rufescite" : "arcana_randomitem_rufescite",
	"arcana_mod_sceantine" : "arcana_misc_sceantine",
	"arcana_mod_thoriumOre" :  "arcana_ore_thoriumOre",
	"arcana_mod_verrostinOre" :  "arcana_ore_verrostinOre"

}
