{
	"version" : "1.43b",
	"giveScrolls" : false,
	"text" :
"Mechanics:
    Guardians now use their own protection functions to prevent players from instantly breaking shields with regular attacks.
UI:
    Mastery Tab:
        Added more information about Challenge rewards.
    Specialization Tab:
        Lore removed from Specialization Select screen.
    Lore Tab:
        More Specialization Lore added to the Lore Tab.
Class Balance:
    Explorer:
        Enhanced Dash now remembers which selection you were on (between Sprint and Dash).
Specializations:
    Hunter: A New Rogue Specialization.
    Captain:
        Unlocking no longer requires a certain ship tier.

"
}