{
	"version" : "1.42c",
	"giveScrolls" : false,
	"text" :
"UI:
    Skill Tab:
        Not available yet.
    Lore Tab:
        Added the ability to view recent changelog information.
        Lore not available yet.

Mechanics:
    Mastery:
        Master's Desk given new image.
        UI updated.

Class Balance:
    Knight:
        Slam:
            Halts momentum upon hitting water to prevent death.

Profession Balance:
    Smith:
        Added Smith.
    Miner:
        Electrum, Platinum, and Steel recipes for regular crafting furnace improved.
        Billon Coin ore recipe added. Slightly less efficient.
        Refinery pixel yield for Platinum, Electrum, and Steel drastically lowered.

Specialization Balance:
    Dragoon:
        Dragon's Bane:
            Increased Physical Resistance when lunging.
    Cannoneer:
        Bomb's Away:
            Dexterity Damage Scaling Increased by 5.
            Aerial jumps no longer trigger on held space bar.
            Lowered Grounded Energy Cost to 40 from 50.
            Lowered Aerial Energy Cost to 10 from 50.
            Height gained no longer depends on current y velocity.
        Stormhowl:
            Unique Shortsword that causes Embrittle.
            If you cannot find the weapon in the anvil, reselect Cannoneer from the Specialization Select menu to unlock it.
        Outburst:
            No longer increases in damage when held.
            Energy Cost increased.
            Grenades now explode on contact with enemies.
            Fire rate increased.
            Grenades do less damage as Energy ratio decreases.
            Fire Grenade causes Disorient instead of Burning to synergize with Stormhowl.
    Crusader:
        Oathkeeper:
            Alt Fire requires charge up.
            Alt Fire hitbox trimmed.
"
}