{
	//All Weapon Damage Bonuses in weaponScaling.config
	"strength" : [
		{
			"text" : "Greatly Increases Shield Health.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.02
				}
			]
		},
		{
			"text" : "Significantly Increases Two-Handed Melee Damage.",
			"type" : "weapon"
		},
		{
			"text" : "Slightly Increases One-Handed Melee Weapon Damage.^red; Doesn't stack with Dex.!^reset;",
			"type" : "weapon"
		},
		{
			"text" : "Minimally Increases Armor.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "protection",
					"amountType" : "amount",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "(GiC) Decreases Miss Chance.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ews_misschance_mult ",
					"amountType" : "amount",
					"amount" : -0.075
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Strength:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Melee Weapons,\nand lowered to -25% for Mono-Wielded One-Handed Melee Weapons.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"agility" : [
		{
			"text" : "Significantly Decreases Fall Damage.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "fallDamageMultiplier",
					"amountType" : "amount",
					"amount" : 0.01,
					"negative" : true
				}
			]
		},
		{
			"text" : "Greatly Increases Swim Speed.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "movement",
					"stat" : "liquidMovementModifier",
					"amount" : 0.015
				}
			]
		},
		{
			"text" : "Increases Movement Speed.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "movement",
					"stat" : "speedModifier",
					"amount" : 0.01
				}
			]
		},
		{
			"text" : "Slightly Increases Jump Height.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "movement",
					"stat" : "airJumpModifier",
					"amount" : 0.0075
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Agility:^reset;\nClassic Mode penalty for Movement Speed and Jump Height halved.\nSpecialization penalty for Movement Speed and Jump Height halved.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"vitality" : [
		{
			"text" : "Greatly Increases Max Health.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "maxHealth",
					"amountType" : "baseMultiplier",
					"amount" : 0.02
				}
			]
		},
		{
			"text" : "Decreases Hunger Rate.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "foodDelta",
					"amountType" : "amount",
					"amount" : 0.0005
				}
			]
		},
		{
			"text" : "(GiC) Increases Bleed Resist.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ews_bleedResistance",
					"amountType" : "amount",
					"amount" : 0.02
				}
			]
		},		
		{
			"text" : "^green;Starting From 20 Vitality:^reset;\nClassic Mode penalty for Max Health and Food Delta halved.\nSpecialization penalty for Max Health and Food Delta halved.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"vigor" : [
		{
			"text" : "Greatly Increases Max Energy.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "maxEnergy",
					"amountType" : "baseMultiplier",
					"amount" : 0.02
				}
			]
		},
		{
			"text" : "Increases Energy Recharge Rate.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenPercentageRate",
					"amountType" : "amount",
					"amount" : 0.01
				}
			]
		},
		{
			"text" : "Decreases Energy Recharge Delay.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenBlockTime",
					"amountType" : "amount",
					"negative" : true,
					"amount" : 0.01
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Vigor:^reset;\nClassic Mode penalties for Energy halved.\nSpecialization penalties for Energy halved.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"intelligence" : [
		{
			"text" : "Greatly Increases Staff Damage.",
			"type" : "stat",
			"apply" : [
			]
		},
		{
			"text" : "Minimally Increases Energy Recharge Rate.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenPercentageRate",
					"amountType" : "amount",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "(GiC) Increases Psychic Resistance.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ews_psychicResistance",
					"amountType" : "amount",
					"amount" : 0.01
				}
			]
		},
		
		{
			"text" : "Increases Experience Orb Gain (Cross Party).",
			"type" : "stat",
			"apply" : [
			]
		},
		{
			"text" : "Slightly Increases Wand Damage.",
			"type" : "weapon"
		},
		{
			"text" : "^green;Starting From 20 Intelligence:^reset;\nClassic Mode penalty lowered to -50% for Staffs and Grimoires,\nand lowered to -25% for Mono-Wielded Wands and Magic Orbs.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"endurance" : [
		{
			"text" : "Significantly Increases Armor.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "protection",
					"amountType" : "amount",
					"amount" : 0.33
				}
			]
		},
		{
			"text" : "Increases Knockback Resistance.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "grit",
					"amountType" : "amount",
					"amount" : 0.01
				}
			]
		},
		{
			"text" : "Moderately Increases All Resistances.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "physicalResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "fireResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "electricResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "iceResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "poisonResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "demonicResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "holyResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "novaResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "shadowResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "cosmicResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "radioactiveResistance",
					"amountType" : "amount",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "(GiC) Increases melee and arms resistances.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ews_meleeResistance",
					"amountType" : "amount",
					"amount" : 0.01
				},
				{
					"type" : "status",
					"stat" : "ews_smallarmsResistance",
					"amountType" : "amount",
					"amount" : 0.075
				},
				{
					"type" : "status",
					"stat" : "ews_heavyarmsResistance",
					"amountType" : "amount",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Endurance:^reset;\nClassic Mode penalty for Armor and all Resistances halved.\nSpecialization penalty for Armor and all Resistances halved.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"dexterity" : [
		{
			"text" : "Increases Ranged Weapon Damage, Bleed Chance and Bleed Length.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ivrpgBleedChance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "ivrpgBleedLength",
					"amountType" : "amount",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Slightly Increases One-Handed Weapon Damage.^red; Doesn't stack with Strength!^reset;",
			"type" : "weapon"
		},
		{
			"text" : "Slightly Decreases Fall Damage.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "fallDamageMultiplier",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.005,
					"negative" : true
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Dexterity:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Ranged Weapons,\nlowered to -50% for Dual-Wielded Ranged and Melee Weapons,\nand lowered to -25% for Mono-Wielded One-Handed Melee and Ranged Weapons.",
			"type" : "classic",
			"apply" : [
			]
		}
	],
	"default" : [
		{
			"text" : "Click a stat's icon to see what occurs\nwhen that stat is raised."
		}
	]
		
}
