{
	"ivrpg_hardenedmasteroid" : "Mini-Bosses - Mini-Boss Dictionary - Hardened Masteroid",
	"ivrpg_hardenedmasteroidmid" : "Mini-Bosses - Mini-Boss Dictionary - Hardened Masteroid (Mid)",
	"ivrpg_giantmandraflora" : "Mini-Bosses - Mini-Boss Dictionary - Giant Mandraflora",
	"ivrpg_hungryparasprite" : "Mini-Bosses - Mini-Boss Dictionary - Hungry Parasprite",
	"ivrpg_shieldedtrifangle" : "Mini-Bosses - Mini-Boss Dictionary - Shielded Trifangle",
	"ivrpg_shieldedchiropterror" : "Mini-Bosses - Mini-Boss Dictionary - Shielded Chiropterror",
	"ivrpg_gianticenarfin" : "Mini-Bosses - Mini-Boss Dictionary - Giant Ice Narfin",
	"ivrpg_giantfirelumoth" : "Mini-Bosses - Mini-Boss Dictionary - Giant Fire Lumoth",
	"ivrpg_giantelectricpetricub" : "Mini-Bosses - Mini-Boss Dictionary - Giant Electric Petricub",
	"ivrpg_demonicspookit" : "Demonic Enemies - Demonic Spookit",
	"ivrpg_holywisper" : "Holy Enemies - Holy Wisper",
	"ivrpg_corruptedscandroid" : "Corrupted Enemies - Corrupted Scandroid"
}