{
	"version" : "1.54",
    "RPGAIversion" : false,
    "RPGAItext" : "No Changes.",
	"giveScrolls" : false,
	"changelog" :
"Items:
    Recipes for Class Items and Weapons reduced drastically and normalized.
    Recipes for Class Items using Mastery Points normalized.
    Tungsten Wands:
        As part of RPG Growth's soon-to-come intrinsic Magic Overhaul, three new Tier 2 Wands have been added to the Anvil.
        These three wands come in Ice, Fire, and Electric elements, and are greatly helpful to early-game Wizards.
    Broken Wand:
        Now properly discharges when Energy locks.
Enemies:
    New Monsters added, with various mechanics to increase combat difficulty.
    Check Lore - Mechanics - Enemies for more information after you defeat one.
UI:
    Rudimentary Level Up Bar now toggleable via the Overview Tab (little Check Mark at the bottom).
Classes:
    Ninja:
        Aether Tantos can now be partially aimed three times mid-combo.
        Vanish Sphere no longer bounces backwards when transforming with high Agility.
    Wizard:
        Nova:
            Damage change from element difference no longer grows multiplicatively at higher Power Multipliers.
            Because of this, the difference between Ice and Fire has shrunken considerably.
        Controlled Hover:
            Now utilizes WASD rather than aim position.
            Base Energy Cost decreased to 50eps from 75eps.
            Energy Cost greatly decreased when hovering in place or downwards.
            Energy Cost greatly increased when hovering upwards.
            Speed is now normalized in every direction.
    Soldier:
        No longer need to equip a Grenade with One-Handed Ranged Weapons to receive 120% Base Damage. Bonus now applies when at least one - but not more than one - One-Handed Ranged Weapon is equipped.
Mechanics:
    Initial Weapon Quests changed from gathering item to battling in an Arena. 
    Leveling up now also sates Hunger.
    Enemies defeated with Avikan Hunting Weapons (From Elithean Races) should now properly drop XP.
Techs:
    All basic Class Techs now have a built in shortcut to open the Mysterious Book - Hold Shift and triple-tap Crouch within ~0.45 seconds.
Specializations:
    Valkyrie's Specialization Lore now properly unlocks when Valkyrie is unlocked.
    Unlocking Captain now utilizes a script from the new Companion Lua to reduce script load.
    Titan's Epimetheus' bullets now properly knockback enemies.
    Dark Templar is still disabled while its Weapon is being created, and its Tech reworked.
Known Bugs/Issues:
    Skill Points are not granted when leveling in a mech. Use the Skill Tab Reset Button to gain any missing points.
    When two or more Specialization Lore toasts should pop, only one does (all are still unlocked, however).
    Some Techs/Abilities Scripts generate Item Configs without a pcall, meaning that certain improper items may crash them.
    Elementress does not have a robust Tech description.
    Elementress's Tech, Attune, has difficult controls. A quality of life patch is in the works.
    Hunter does not have a robust Tech description.

",
    "credits" :
"Programming:
    ^#ffaafa;Chaika? Yes. Chaika.
        Main Programmer.
        Responsible for GUI, Main Status Scripts, Techs, Abilities, Weapons, etc.
        Kunoichi is bae.
    ^magenta;DanMan
        Secondary Programmer.
        Wrote some Tech and Ability Scripts.
        Wrote Bash Scripts to automate file creation.
JSON:
    ^blue;Azure.Fang
        JSON extraodinaire!
        Taught me how to properly patch JSON, and created quite a lot of patches as well!
        Wouldn't have a lot of the important big JSON patches without him.
Patrons:
    Thanks for everything! :)
    ^green;Caine
        Requested (and helped design) Caine's Chest, a Chest that turns into a weapon! Caine's Chest is craftable via the Chest tab in the Industrial Workbench. It will function like a normal Chest until left in pitch dark, where it will then become a weapon. Be careful... If you want to skip the steps to actually get the weapon, the ID is 'ivrpgwcaineschest'!
Sprites:
    ^#882288;Nagoek
        Weapons: Versa, Aegis, Spira, Nova, Siphon, For Us All, True Aegis, Nautilus, Gungnir, Anne, Marie, Danger Close, Soulless Whisper.
    ^red;Steven Steel
        Weapons: Aether, Phase Shift, Stormhowl, Eclipse.
    ^yellow;Banny
        Weapons: Outburst, Leader's Rally, Epimetheus.
        Icons: Kunoichi, Captain, Titan.
    ^orange;JM401
        Items: Profession Stations.
        Icons: Professions.
    ^yellow;Samey the Hedgehog
        Items: Spiral Energy, Spiral Power.
General Design:
    ^blue;Ribs
        Weapon Combos: Oathkeeper, Aegis, Aether, Heartless.
        Specializations: Crusader.
    ^yellow;Banny
        Specializations: Titan, Captain.
    ^orange;JM401
        Profession UI.
    ^orange;SushiSquid
        Techs: Tank Sphere
"
}