{
	"upgrades" : {
	    "tech" : {
	    	"ivrpgucpeakperformance" : {
	    		"title" : "Peak Performance",
	    		"description" : "Knight Slam Upgrade.\nMid-air jumps increased to 3.\nSlam Knockback Increased.\n^red;Slam Damage Decreased."
	    	},
	    	"ivrpgucstunningsphere" : {
	    		"title" : "Stunning Armor",
	    		"description" : "Armor Sphere Upgrade.\nHold Left-Click while transformed to Stun enemies on contact.\n^red;Drains Energy while Stun is active."
	    	},
	    	"ivrpguchoversphere" : {
	    		"title" : "Hover Sphere",
	    		"description" : "Gravity Sphere Upgrade.\nHold Right-Click while transformed to Hover towards the cursor.\n^red;Drains Energy while Hover is active."
	    	},
	    	"ivrpgucfourthwall" : {
	    		"title" : "Fourth Wall",
	    		"description" : "Translocate Upgrade.\nTranslocate now allows the user to teleport through walls, even if the user is currently in an Instanced World."
	    	},
	    	"ivrpgucghost" : {
	    		"title" : "Ghost",
	    		"description" : "Flash Jump Upgrade.\nFlash Jump has extended Invulnerability. While Invulnerable, phase through walls.\n^red;Can trap you in blocks."
	    	},
	    	"ivrpgucphaseout" : {
	    		"title" : "Phase Out",
	    		"description" : "Shadow Step Upgrade.\nShadow Step now allows the user to phase through walls, even if the user is currently in an Instanced World."
	    	},
	    	"ivrpgucwavedash" : {
	    		"title" : "Wavedash",
	    		"description" : "Escape! Upgrade.\nStop immediately after completing a dash\nFall Damage is negated for a short time after dashing.\nDashing into the ground does not stop the dash."
	    	},
	    	"ivrpgucwalljump" : {
	    		"title" : "Wall Jump",
	    		"description" : "Escape! Upgrade.\nWalljumping is enabled with Escape!.\nMid-air dashes are replenished upon clinging to a wall."
	    	},
	    	"ivrpgucpinpointaccuracy" : {
	    		"title" : "Pinpoint Accuracy",
	    		"description" : "Tank Sphere Upgrade.\nRockets fired while transformed actively seek targets.\n^red;Rocket Velocity Decreased."
	    	},
	    	"ivrpgucbatterypack" : {
	    		"title" : "Battery Pack",
	    		"description" : "Energize Upgrade.\nWhile Energy is full,\nGrounded Jumps are further improved,\nand Mid-air jumps are increased to 3."
	    	},
	    	"ivrpgucglidesphere" : {
	    		"title" : "Herme's Sphere",
	    		"description" : "Drill Sphere Upgrade.\nHold [W] while transformed to Glide.\n^red;Energy drains while Gliding."
	    	},
	    	"ivrpgucmoreenhanced" : {
	    		"title" : "Even More Enhanced",
	    		"description" : "Enhanced Movement Upgrade.\nDashes last longer.\nSprinting is faster."
	    	},
	    	"ivrpguc" : {
	    		"title" : "Title",
	    		"description" : "Description"
	    	}
	    },
	    "weapon" : {
	    	"ivrpgucrighteousness" : {
	    		"title" : "Righteousness",
	    		"description" : "Consecutive Perfect Shields with the Vital Aegis increase its Power.\n^red;Blocking regularly resets the current Power gain."
	    	},
	    	"ivrpgucblindingjustice" : {
	    		"title" : "Blinding Justice",
	    		"description" : "Perfect Shields with the Vital Aegis disorient nearby enemies."
	    	},
	    	"ivrpgucquicksilver" : {
	    		"title" : "Quicksilver",
	    		"description" : "Primed Nova charges faster and has a larger casting range.\n^red;However, its overall Damage is Decreased."
	    	},
	    	"ivrpgucpassedprime" : {
	    		"title" : "Passed Prime",
	    		"description" : "Primed Nova can be over-charged until Energy completely runs out, boosting Power depending on the amount of Energy drained."
	    	},
	    	"ivrpgucvampirescaress" : {
	    		"title" : "Vampire's Caress",
	    		"description" : "Each time Blood Aether kills an enemy, its duration increases."
	    	},
	    	"ivrpgucbloodseeker" : {
	    		"title" : "Blood Seeker",
	    		"description" : "Blood Aether has more aggressive tracking.\nIn addition, Blood Aether does more damage to an enemy that has already been hit by it."
	    	},
	    	"ivrpgucsymbiosis" : {
	    		"title" : "Symbiosis",
	    		"description" : "Siphon Spore deals Double Damage when the user's health is below one third."
	    	},
	    	"ivrpguccharger" : {
	    		"title" : "Charger",
	    		"description" : "Siphon Flux restores Energy to nearby Allies when Lightning Slice connects with an enemy."
	    	},
	    	"ivrpguccombobreaker" : {
	    		"title" : "Combo Breaker",
	    		"description" : "Siphon Razor's Critical Slice can be used after three attacks instead of four."
	    	},
	    	"ivrpguchardlight" : {
	    		"title" : "Hard Light",
	    		"description" : "Bullets fired from Versa Ricochet bounce towards nearby enemies upon hitting walls."
	    	},
	    	"ivrpguctriggerhappy" : {
	    		"title" : "Trigger Happy",
	    		"description" : "Versa Ricochet fires immediately when charged, and takes shorter time to charge fully."
	    	},
	    	"ivrpgucspintowin" : {
	    		"title" : "Spin to Win",
	    		"description" : "Ravenous Spira does more damage to blocks and enemies.\nEnergy regenerates when destroying blocks, whether or not Shift is held.\n^red;Ravenous Spira uses more Energy."
	    	},
	    	"ivrpgucrighthandman" : {
	    		"title" : "Right Hand Man",
	    		"description" : "Ravenous Spira can be used to break background blocks when held in the Right Hand (Secondary Hand)."
	    	}
	    },
	    "affinity" : {
	    	"ivrpgucplasmacore" : {
	    		"title" : "Plasma Core",
	    		"description" : "Shock & Arc Affinity Upgrade.\nAffinity Weaknesses no longer affect you."
	    	},
		    "ivrpguceternalflame" : {
		    	"title" : "Eternal Flame",
		    	"description" : "Flame & Infernal Affinity Upgrade.\nAffinity Weaknesses no longer affect you."
		    },
		    "ivrpgucincurable" : {
		    	"title" : "Incurable",
		    	"description" : "Venom & Toxic Affinity Upgrade.\nAffinity Weaknesses no longer affect you."
		    },
		    "ivrpgucevergreen" : {
		    	"title" : "Evergreen", 
		    	"description" : "Frost & Cryo Affinity Upgrade.\nAffinity Weaknesses no longer affect you."
		    },
		    "ivrpgucbloom" : {
	    		"title" : "Bloom",
	    		"description" : "Flame & Infernal Affinity Upgrade.\nKilling Seared enemies makes them explode.\nExplosion Damage scales with Power Multiplier."
	    	},
	    	"ivrpgucvikingfuneral" : {
	    		"title" : "Viking Funeral",
	    		"description" : "Flame & Infernal Affinity Upgrade.\nSear lasts twice as long."
	    	},
	    	"ivrpgucfeedbackloop" : {
	    		"title" : "Feedback Loop",
	    		"description" : "Shock & Arc Affinity Upgrade.\nUpon inflicting Overload Status,\nGain Rage for a 2 Seconds."
	    	},
	    	"ivrpgucdischarge" : {
	    		"title" : "Discharge",
	    		"description" : "Shock & Arc Affinity Upgrade.\nWhile wet, nearby entities are shocked repeatedly."
	    	},
	    	"ivrpgucmiasma" : {
	    		"title" : "Miasma",
	    		"description" : "Venom & Toxic Affinity Upgrade.\nThe clouds spawned at your feet inflict a weak poison."
	    	},
	    	"ivrpguccontagion" : {
	    		"title" : "Contagion",
	    		"description" : "Venom & Toxic Affinity Upgrade.\nToxified enemies have a chance to Toxify nearby enemies."
	    	},
	    	"ivrpgucskadisblessing" : {
	    		"title" : "Skadis Blessing",
	    		"description" : "Frost & Cryo Affinity Upgrade.\nDeal +50% Damage with Bows. Hits with arrows always Embrittle."
	    	},
	    	"ivrpguccoldheart" : {
	    		"title" : "Cold Heart",
	    		"description" : "Frost & Cryo Affinity Upgrade.\nThe longer an enemy is Embrittled, the more damage they take from outside sources."
	    	},
	    	"ivrpgucicequeen" : {
	    		"title" : "Ice Queen",
	    		"description" : "Frost & Cryo Affinity Upgrade. ^red;Females Only.^reset;\nDeal +75% Damage with Whips, Claws, and Daggers. No Speed decrease while wielding Whips."
	    	}
	    },
	    "general" : {
	    	"ivrpguc.general" : {
	    		"title" : "Title",
	    		"description" : "Test to see font size as well as total wrapping length. Hopefully we can get this sizeable chunk of text into this small area, because if not, we'll have issues in the future with describing various upgrades. I also need to check total length up and down, just because."
	    	},
	    	"ivrpguc" : {
	    		"title" : "Title",
	    		"description" : "Description"
	    	}
	    }
  	}
}