{
	"upgrades" : {
	    "class" : {

	    },
	    "affinity" : {
	    	"ivrpgucplasmacore" : {
	    		"title" : "Plasma Core",
	    		"description" : "Negates all detrimental effects\nwhile using the Arc Affinity.\nWeakness to Cold Damage removed.\nNo longer lose\nHealth or Energy while submerged."
	    	},
		    "ivrpguceternalflame" : {
		    	"title" : "Eternal Flame",
		    	"description" : "Negates all detrimental effects\nwhile using the Infernal Affinity."
		    },
		    "ivrpgucincurable" : {
		    	"title" : "Incurable", "description" : "Negates all detrimental effects while using the Toxic Affinity."
		    },
		    "ivrpgucevergreen" : {
		    	"title" : "Evergreen", 
		    	"description" : "Negates all detrimental effects while using the Cryo Affinity."
		    }
	    },
	    "general" : {
	    	"test" : {
	    		"title" : "Title",
	    		"description" : "Test to see font size as well as total wrapping length. Hopefully we can get this sizeable chunk of text into this small area, because if not, we'll have issues in the future with describing various upgrades. I also need to check total length up and down, just because."
	    	}
	    }
  	}
}