{
	"monsters" : {
		"castlelord" : [
			"ivrpgucrighteousness"
		],
		"bandit" : [
			"ivrpgucblindingjustice"
		],
		"lumoth" : [
			"ivrpgucquicksilver",
			"ivrpgucstunningsphere",
			"ivrpgucglidesphere"
		],
		"wisper" : [
			"ivrpgucpassedprime",
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart",
			"ivrpguchoversphere",
			"ivrpgucfourthwall",
			"ivrpgucghost",
			"ivrpgucphaseout"
		],
		"batong" : [
			"ivrpgucvampirescaress",
			"ivrpgucglidesphere"
		],
		"hemogoblin" : [
			"ivrpgucbloodseeker"
		],
		"sporgus" : [
			"ivrpgucsymbiosis"
		],
		"bobot" : [
			"ivrpguccharger",
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop",
			"ivrpgucbatterypack"
		],
		"orbide" : [
			"ivrpguccombobreaker",
			"ivrpgucglidesphere"
		],
		"scandroid" : [
			"ivrpguchardlight",
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop",
			"ivrpguchoversphere",
			"ivrpgucpinpointaccuracy"
		],
		"twigun" : [
			"ivrpguctriggerhappy",
			"ivrpgucpinpointaccuracy"
		],
		"ringram" : [
			"ivrpgucspintowin"
		],
		"mandraflora" : [
			"ivrpgucrighthandman"
		],
		"ignome" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral",
			"ivrpgucglidesphere"
		],
		"crabcano" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral",
			"ivrpgucpeakperformance"
		],
		"pyromantle" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"fennix" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"snaunt" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"miasmop" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"pteropod" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable",
			"ivrpgucglidesphere"
		],
		"agrobat" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable",
			"ivrpgucglidesphere"
		],
		"voltip" : [
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop",
			"ivrpgucstunningsphere",
			"ivrpgucbatterypack"
		],
		"skimbus" : [
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart",
			"ivrpgucfourthwall",
			"ivrpgucghost",
			"ivrpgucphaseout"
		],
		"pulpin" : [
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart",
			"ivrpgucwavedash",
			"ivrpgucwalljump"
		],
		"spookit" : [
			"ivrpgucfourthwall",
			"ivrpgucghost",
			"ivrpgucphaseout"
		],
		"gosmet" : [
			"ivrpgucfourthwall",
			"ivrpgucghost",
			"ivrpgucphaseout"
		],
		"toumingo" : [
			"ivrpgucpeakperformance"
		],
		"iguarmor" : [
			"ivrpgucwalljump"
		],
		"anglure" : [
			"ivrpgucstunningsphere"
		],
		"snuffish" : [
			"ivrpgucwavedash"
		],
		"lilodon" : [
			"ivrpgucwavedash"
		],
		"oculob" : [
			"ivrpgucwalljump"
		],
		"tintic" : [
			"ivrpgucwalljump"
		],
		"crustoise" : [
			"ivrpgucwalljump"
		],
		"snaggler" : [
			"ivrpgucwalljump"
		],
		"omnicannon" : [
			"ivrpgucpinpointaccuracy"
		],
		"heavydrone" : [
			"ivrpgucbatterypack"
		],
		"bobfae" : [
			"ivrpgucglidesphere"
		],
		"capricoat" : [
			"ivrpgucmoreenhanced"
		],
		"oogler" : [
			"ivrpgucmoreenhanced"
		],
		"squeem" : [
			"ivrpgucfourthwall",
			"ivrpgucghost",
			"ivrpgucphaseout"
		]
	},
	"items" : {
		"ivrpgucrighteousness" : 100
	}
}