{
	"tags" : {
		"melee" : {
			"twoHanded" : {
				"strength" : 0.02
			},
			"oneHanded" : {
				"strength" : 0.0075,
				"dexterity" : 0.0075
			},
			"conflictingTags" : ["katana", "scythe", "glaive", "whip", "chakram", "boomerang"]
		},
		"ninja" : {
			"oneHanded" : {
				"dexterity" : 0.0075
			}
		},
		"chakram" : {
			"oneHanded" : {
				"dexterity" : 0.0075
			}
		},
		"boomerang" : {
			"oneHanded" : {
				"dexterity" : 0.0075
			}
		},
		"ranged" : {
			"twoHanded" : {
				"dexterity" : 0.015
			},
			"oneHanded" : {
				"dexterity" : 0.0075
			},
			"conflictingTags" : ["magebaton", "rpgffspistol"]
		},
		"staff" : {
			"twoHanded" : {
				"intelligence" : 0.02
			}
		},
		"wand" : {
			"oneHanded" : {
				"intelligence" : 0.0075
			}
		},
		"katana" : {
			"twoHanded" : {
				"strength" : 0.02,
				"dexterity" : 0.02
			},
			"oneHanded" : {
				"strength" : 0.0075,
				"dexterity" : 0.0075
			}
		},
		"glaive" : {
			"twoHanded" : {
				"strength" : 0.02,
				"dexterity" : 0.02
			},
			"oneHanded" : {
				"strength" : 0.0075,
				"dexterity" : 0.0075
			}
		},
		"scythe" : {
			"twoHanded" : {
				"strength" : 0.02,
				"dexterity" : 0.02
			},
			"oneHanded" : {
				"strength" : 0.0075,
				"dexterity" : 0.0075
			}
		},
		"whip" : {
			"twoHanded" : {
				"strength" : 0.02,
				"dexterity" : 0.02
			},
			"oneHanded" : {
				"strength" : 0.0075,
				"dexterity" : 0.0075
			}
		},
		"rpgffspistol" : {
			"twoHanded" : {
				"dexterity" : 0.0075
			},
			"oneHanded" : {
				"dexterity" : 0.0075
			}
		},
		"magebaton" : {
			"twoHanded" : {
				"intelligence" : 0.02
			},
			"oneHanded" : {
				"intelligence" : 0.0075
			}
		}
	},
	"items" : {
		"magnorbs" : {
			"dexterity" : 0.01,
			"intelligence" : 0.01
		},
		"evileye" : {
			"dexterity" : 0.01,
			"intelligence" : 0.01
		},
		"remotegrenadelauncher" : {
			"dexterity" : 0.015
		},
		"erchiuseye" : {
			"intelligence" : 0.015
		},
		"energywhip" : {
			"dexterity" : 0.02
		},
		"mlgs" : {
			"strength" : 0.005,
			"intelligence" : 0.015
		},
		"ivrpgwcaineschest" : {
			"strength" : 0.005,
			"dexterity" : 0.005,
			"intelligence" : 0.005
		}
	}
}
