[
	[
    {
      "name" : "paladin",
      "title" : "Paladin",
      "description" : "Paladins are holy defenders who block attacks from every angle with a sturdy grip. Paladins are masters with shields, and have slight magical affinity, moreso than most other Knights.",
      "unlockText" : "Perfect Shield the Heart of Ruin's tentacles one time.",
      "unlockStatus" : "ivrpgsupaladin",
      "weaponText" : [
        "Gain access to True Aegis, a Two-Handed Shield with Holy Powers. True Aegis can channel Holy Energy outwards, dealing constant damage and debuffing all enemies it hits.",
        "Gain access to Immaculate Shield, a Tech that provides team support but requires a skillful defense."
      ]
    },
    {
      "name" : "juggernaut",
      "title" : "Juggernaut",
      "disabled" : true,
      "description" : "Juggernauts shrug off damage as they plow through enemies, wielding heavy weapons with ease. Their large frames make it hard for them to stop moving, but sometimes it doesn't really matter. With thunderous footsteps, they pound enemies down, flattening them with mighty hammers.",
      "unlockText" : "Use a Hammer to defeat enemies. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsujuggernaut",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "overkill" : true,
        "damageTypes" : ["hammer"]
      },
      "weaponText" : [
        "Gain access to Crushing Meteor, a Hammer that can crush even obsidian beneath its hefty weight.",
        "Gain access to Limit Break, a Tech that makes you unstoppable for a short period, letting you even break walls moving fast enough."
      ]
    },
    {
      "name" : "samurai",
      "title" : "Samurai",
      "gender" : "male",
      "disabled" : true,
      "description" : "Following a strict code called bushido, Samurai are masters of quick, agile, yet honorable swordplay. Taking enemies straight on without playing dirty, they train hard to hone their movement and ability. While very proficient with many weapons, like Spears and Bows, the Samurai fight best with Katanas.",
      "unlockText" : "Use Spears, Katanas, or Bows to defeat enemies. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsusamurai",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "overkill" : true,
        "damageTypes" : ["spear","katana","bow"]
      },
      "weaponText" : [
        "Gain access to Samurai Heart, a Katana that can be used to deftly counter enemies.",
        "Gain access to Iaijutsu, a Tech that allows you to use Energy to quickly slash forwards."
      ]
    },
    {
      "name" : "valkyrie",
      "title" : "Valkyrie",
      "gender" : "female",
      "description" : "Valkyries are angels with dominion over life that grant unlimited power to worthy allies. Phenomenal with spears and shortswords, Valkyries use their holy powers to gracefully glide across the battlefield smiting enemies.",
      "unlockText" : "Use Spears or Shortswords to defeat enemies. Unlocked faster by defeating higher tier enemies. Take damage from a 250-block high fall without dying to unlock immediately.",
      "unlockStatus" : "ivrpgsuvalkyrie",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : ["shortsword", "spear"]
      },
      "weaponText" : [
        "Gain access to Gungnir, a Spear that turns enemies into a healing ray of light.",
        "Gain access to Einherjar, a Tech that allows you to grant invulnerability to a nearby ally."
      ]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield other two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsucrusader",
      "unlockNumber" : 700,
      "unlockBehavior" : {
        "damageTypes" : [ "broadsword" ],
        "enemyTypes" : [
          { "type" : "cultist", "modifier" : 4 },
          { "type" : "templeguard", "modifier" : 4 },
          { "type" : "tombguard", "modifier" : 4 },
          { "type" : "tentacle" },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a lengthy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuconquistador",
      "weaponText" : [
        "Gain access to Arquebus, a Crossbow that shoots exploding bolts.",
        "Gain access to The Cavalry's Here, a Tech that summons a horse you can ride."
      ]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "Dragoons wield lances and spears. Coupled with their light armor, they are a force meant to quickly and decisively pierce through all opposition - no matter how durable, or how high in the sky.",
      "unlockText" : "Use a Spear to defeat enemies, or take fall damage. Unlocked faster by defeating higher tier enemies, or the Bone Dragon.",
      "unlockStatus" : "ivrpgsudragoon",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : [ "spear" ],
        "enemyTypes" : [
          { "type" : "dragonboss", "modifier" : 50 },
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to Dragon's Bane, a Two-handed Spear with excellent range and elemental capabilities.",
        "Gain access to Dragon's Leap, a Tech that upgrades Knight's Slam with phenomenal Jump Height and a better Slam explosion."
      ]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "Dark Templars excel with various Melee Weapons, but prefer Halberds and Scythes. Able to dextrously wield large weapons, Dark Templars ruthlessly slaughter foes and revel in bloodshed, allowing the darkness within to overtake them, and corrupting everything and everyone they come in contact with.",
      "unlockText" : "Slaughter enemies. Unlocked faster by defeating higher tier enemies, or by killing enemies via Critical Hits.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "bleedBonus" : 2
      },
      "weaponText" : [
        "Gain access to Heartless, a Halberd with far-reaching swings that can cause massive explosions.",
        "Gain access to Abounding Darkness, a Tech that drains Health but damages nearby enemies and drains their lifeforce."
      ]
    }
	],
	[
    {
      "name" : "necromancer",
      "title" : "Necromancer",
      "description" : "Necromancers fight using demonic magic and can raise the dead, and handle close-range combat much better than most Wizards. Because of their close attunement to death, Necromancers can efficiently wield scythes and daggers, and are often able to drain life from enemies to heal allies.",
      "unlockText" : "Defeat enemies while your current health is lower than 30% of your max health. Gain more progress the lower your Health. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsunecromancer",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "healthUnder" : 0.3
      },
      "weaponText" : [
        "Gain access to For Us All, a demonic Scythe that can unleash unstable Demonic Energy.",
        "Gain access to Reap, a Tech that allows you to instantly kill low health enemies or spawn a friendly monster."
      ]
    },
    {
      "name" : "battlemage",
      "title" : "Battle Mage",
      "disabled" : true,
      "description" : "Battle Mages give up on pure magic to focus on their physique, learning to fight proficiently with all kinds of melee weapons. However, even though they no longer really use magical wands or staffs, they still use rudimentary magic to strengthen their body and sharpen their mind.",
      "unlockText" : "Defeat enemies with Two-Handed Melee Weapons while Strength, Vitality, and Intelligence are at least 20. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsubattlemage",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : ["broadsword", "spear", "hammer", "katana", "greataxe", "polearm"],
        "requiredCurrency" : { "intelligencepoint" : 20, "strengthpoint" : 20, "vitalitypoint" : 20 }
      },
      "weaponText" : [
        "Gain access to Solstice, a Melee Staff that can be empowered with Nova Energy.",
        "Gain access to Battle Aura, a Tech that empowers you and nearby allies with various physical buffs."
      ]
    },
    {
      "name" : "warlock",
      "title" : "Warlock",
      "gender" : "male",
      "disabled" : true,
      "description" : "Highly intelligent Wizards who have mastered the art of manipulating Nova energy, Warlocks pride themselves on their massive storage of near limitless power. Able to change and shift the universe in subtle, and often not-so-subtle, ways, Warlocks truly have the universe in the palm of their hands. Almost.",
      "unlockText" : "Defeat enemies while Intelligence is 50. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuwarlock",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "intelligencepoint" : 50 }
      },
      "weaponText" : [
        "Gain access to Orbital, a Staff that can summon Nova crystals and pull space apart.",
        "Gain access to Nova Step, a Tech that allows you to walk midir by creating viscous clouds of Nova energy."
      ]
    },
    {
      "name" : "elementress",
      "title" : "Elementress",
      "gender" : "female",
      "description" : "A sweet voice calls out to you, tempting you: will you break your physical form and become a concentrated vessel of pure elemental energy? If so, harness the raw power that only an Elementress can, and revel in your new ability to throw magic around.",
      "unlockText" : "Defeat enemies with Nova, Fire, Ice, or Electric Damage. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuelementress",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : [ "nova", "fire", "electric", "ice" ]
      },
      "weaponText" : [
        "Gain access to Eclipse, a Wand that spawns seeking shards of Nova Energy.",
        "Gain access to Attune, a Tech that provides an amplitude of elemental abilities."
      ]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield other two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsucrusader",
      "unlockNumber" : 700,
      "unlockBehavior" : {
        "damageTypes" : [ "broadsword" ],
        "enemyTypes" : [
          { "type" : "cultist", "modifier" : 4 },
          { "type" : "templeguard", "modifier" : 4 },
          { "type" : "tombguard", "modifier" : 4 },
          { "type" : "tentacle" },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a crazy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat Gosmet, Skimbus, Spookit, Wisper, Squeem, or Tentacle Ghosts while Intelligence is greater than 40. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuwraith",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "intelligencepoint" : 41 },
        "enemyTypes" : [
          { "type" : "skimbus" },
          { "type" : "spookit" },
          { "type" : "gosmet" },
          { "type" : "wisper" },
          { "type" : "squeem" },
          { "type" : "tentacleghost", "amount" : 1 },
          { "type" : "erchiusghost", "amount" : 10 }
        ]
      },
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "Combining Science with Magic, the Technomancer dons elemental armor and uses both Wands and Ranged Weapons to get the job done. Technomancers enhance mundane weaponry with magic energy to increase damage output, making even weaker guns hit like trucks.",
      "unlockText" : "Defeat enemied with Nova, Fire, Ice, Electric, or Poison Damage. Defeating enemies with the Flamethrower grants bonus progress. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : ["fire", "ice", "nova", "electric", "poison", "flamethrower"],
        "damageTypeBonus" : {"flamethrower" : 3}
      },
      "weaponText" : [
        "Gain access to Omnia-Thrower, a Flamethrower that can switch between Nova, Fire, Electric, Ice, and Poison Energy.",
        "Gain access to Elemental Overcharge, a Tech that upgrades Magic Shield with improved Element Resistance and Increased Power."
      ]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "Changelings utilize a unique magic to shapeshift between various creatures that they have studied. Able to morph their bodies to an extreme, Changelings can shrink in size to become incredibly resilient, or feed on matter to grow larger, allowing them to get the upper hand in battles.",
      "unlockText" : "Defeat enemies. Wisper, Poptop, and Orbide give more progress. Unlocked faster by defeating higher tier enemies.",
      "unlockNumber" : 750,
      "unlockBehavior" : {
        "enemyTypes" : [
          { "type" : "wisper", "modifier" : 3 },
          { "type" : "poptop", "modifier" : 3 },
          { "type" : "orbide", "modifier" : 3 },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "Gain access to Shapeshift, a Head Tech that enables transformation between Poptop, Wisper, and Orbide, each with unique attacks, movement, and passive abilities."
      ]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ]
    }
  ],
	[
    {
      "name" : "shade",
      "title" : "Shade",
      "disabled" : true,
      "description" : "Silent killers, Shades viciously dismantle enemies in a shroud of darkness. Utilizing Demonic energy, Shades can warp reality around them, causing them to vanish without a trace, even becoming immune to the most deadly of elements. Using Daggers and Fist Weapons with great skill, if you've managed to spot one, it's still already too late.",
      "unlockText" : "Use Daggers or Fist Weapons to defeat enemies. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsushade",
      "unlockNumber" : 666,
      "unlockBehavior" : {
        "damageTypes" : [ "dagger", "fist", "claw" ]
      },
      "weaponText" : [
        "Gain access to Quasar, a Dagger that causes darkness when killing ememies.",
        "Gain access to Hidden Dragon, a Tech that enables camouflage on command."
      ]
    },
    {
      "name" : "stalker",
      "title" : "Stalker",
      "gender" : "male",
      "disabled" : true,
      "description" : "The Stalker patiently waits far in the distance, eyes focused on one target. When they've finally decided the method they'd like to use, they strike, letting their arrow fly true. If necessary, Stalkers aren't too picky, and will close in to ensnare their prey, and God know what they do with it. Because of this, there is quite a stigma against them.",
      "unlockText" : "Use Bows to defeat enemies. Unlocked faster by defeating higher tier enemies or by defeating enemies from a distance.",
      "unlockStatus" : "ivrpgsustalker",
      "unlockNumber" : 600,
      "unlockBehavior" : {
        "damageTypes" : [ "bow" ],
        "requiredPosition" : { "type" : ">=", "magnitude" : 30, "optional" : true }
      },
      "weaponText" : [
        "Gain access to Fear, a Bow that can shoot deadly mines and piercing arrows.",
        "Gain access to Entrapment, a Tech that captures enemies in deadly traps."
      ]
    },
    {
      "name" : "kunoichi",
      "title" : "Kunoichi",
      "gender" : "female",
      "description" : "Despite having slightly lower Health\nand dealing a bit less Damage\n^#ffaafa;The Kunoichi\nGracfully Dances Among\nSnaps Of Her War-Fan\n^white;silencing whomever she pleases.",
      "unlockText" : "Using a Dagger, Kunai, Shuriken, or War-Fan, defeat enemies while Agility is higher than 30. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsukunoichi",
      "unlockNumber" : 600,
      "unlockBehavior" : {
        "requiredCurrency" : { "agilitypoint" : 31 },
        "damageTypes" : [ "warfan", "dagger", "alwaysbleed", "bloodaether" ]
      },
      "weaponText" : [
        "Gain access to Luxuria, a One-handed War Fan with phenomenal speed and graceful combos.",
        "Gain access to Swirling Petal, a Tech that allows for quick backwards movement and provides great crowd control via dazing gas."
      ]
    },
    {
      "name" : "adept",
      "title" : "Adept",
      "description" : "Adepts are Ninjas who have harnessed chaotic energy, so much so that they have become unstable. Because of this, Adepts can utilize wands and can lighten themselves and nearby matter. However, the price for such power is costly...",
      "unlockText" : "Survive for 30 seconds right underneath the Heart of Ruin while both Intelligence and Agility are greater than 40.",
      "unlockStatus" : "ivrpgsuadept",
      "weaponText" : [
        "Gain access to Phase Shift, a One-Handed Wand with phenomenal AoE damage against enemies and fantastic AoE ally support.",
        "Gain access to Flash Step, a Tech that replaces jumping with unstable, directional teleportation."
      ]
    },
    {
      "name" : "thief",
      "title" : "Thief",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuthief",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "Changelings utilize a unique magic to shapeshift between various creatures that they have studied. Able to morph their bodies to an extreme, Changelings can shrink in size to become incredibly resilient, or feed on matter to grow larger, allowing them to get the upper hand in battles.",
      "unlockText" : "Defeat enemies. Wisper, Poptop, and Orbide give more progress. Unlocked faster by defeating higher tier enemies.",
      "unlockNumber" : 750,
      "unlockBehavior" : {
        "enemyTypes" : [
          { "type" : "wisper", "modifier" : 3 },
          { "type" : "poptop", "modifier" : 3 },
          { "type" : "orbide", "modifier" : 3 },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "Gain access to Shapeshift, a Head Tech that enables transformation between Poptop, Wisper, and Orbide, each with unique attacks, movement, and passive abilities."
      ]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "Dark Templars excel with various Melee Weapons, but prefer Halberds and Scythes. Able to dextrously wield large weapons, Dark Templars ruthlessly slaughter foes and revel in bloodshed, allowing the darkness within to overtake them, and corrupting everything and everyone they come in contact with.",
      "unlockText" : "Slaughter enemies. Unlocked faster by defeating higher tier enemies, or by causing Bleed via Critical Hits.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "bleedBonus" : 2
      },
      "weaponText" : [
        "Gain access to Heartless, a Halberd with far-reaching swings that can cause massive explosions.",
        "Gain access to Abounding Darkness, a Tech that drains Health but damages nearby enemies and drains their lifeforce."
      ]
    }
  ],
	[
    {
      "name" : "mechanist",
      "title" : "Mechanist",
      "disabled" : true,
      "description" : "Mechanists are pros with everything mechanical, capable of repairing and upgrading all kinds of machinery in order to do their bidding. With turrets and drones by their sides, Technicians are like a one-man army.",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsumechanist",
      "weaponText" : [
        "Gain access to Ex-Mechina, a One-Handed Rocket Launcher that leaves behind arc energy pulses.",
        "Gain access to Skynet, a Tech that can spawn multiple friendly drones, or a heavy, automatic turret."
      ]
    },
    {
      "name" : "deadshot",
      "title" : "Deadshot",
      "disabled" : true,
      "description" : "Masters with Sniper Rifles, Deadshots can shoot targets from unfathomable distances, before their enemies even have a chance to see them. Their patience allows them to sit still for hours, adjusting their scope and breathing quietly.",
      "unlockText" : "Use Ranged Weapons to defeat enemies from a distance. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsudeadshot",
      "unlockNumber" : 750,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "requiredPosition" : { "type" : ">=", "magnitude" : 30 }
      },
      "weaponText" : [
        "Gain access to Lotus, a Sniper Rifle that can create clouds of deadly gas upon defeating enemies.",
        "Gain access to Ideal Shot, a Tech that upgrades Marksman to greatly increase Power."
      ]
    },
    {
      "name" : "vigilante",
      "title" : "Vigilante",
      "description" : "Vigilantes use their own moral system to enact justice as they see fit. Due to their love of pistols, they can easily dual-wield ranged weapons. When fighting villains, Vigilantes get a rush of power and energy to take matters into their own hands.",
      "unlockText" : "Use ranged weapons to defeat bandits, outlaws, cultists, and prisoners. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuvigilante",
      "unlockNumber" : 100,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "enemyTypes" : [
          { "type" : "bandit" },
          { "type" : "outlaw" },
          { "type" : "cultist" },
          { "type" : "evil" },
          { "type" : "prisoner" }
        ]
      },
      "weaponText" : [
        "Gain access to Anne and Marie, a pair of unique and powerful pistols that syngerize well together.",
        "Gain access to Desperado, a Tech that grants infinite Energy and ramps up power when used."
      ]
    },
    {
      "name" : "titan",
      "title" : "Titan",
      "description" : "Titans are frontline bastions who help hold the line steadfast with their shield. Their weapon of choice is a One-handed Pistol or Machine Pistol with a Shield. While capable fighters at all ranges, they also inspire nearby allies with a protective aura.",
      "unlockText" : "Use ranged weapons to deal damage quickly after Perfect Shielding. Damage that deals a final blow is tripled.",
      "unlockStatus" : "ivrpgsutitan",
      "unlockNumber" : 5000,
      "weaponText" : [
        "Gain access to Epimetheus, a one-handed Submachine Gun with average stats that provides defensive bonuses upon killing enemies.",
        "Gain access to Atlas' Burden, a Tech that increases the offensive and defensive capabilities of you and nearby allies."
      ]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies within 7 blocks. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuvanguard",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "requiredPosition" : { "type" : "<", "magnitude" : 7 }
      },
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "Combining Science with Magic, the Technomancer dons elemental armor and uses both Wands and Ranged Weapons to get the job done. Technomancers enhance mundane weaponry with magic energy to increase damage output, making even weaker guns hit like trucks.",
      "unlockText" : "Defeat enemied with Nova, Fire, Ice, Electric, or Poison Damage. Defeating enemies with the Flamethrower grants bonus progress. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : ["fire", "ice", "nova", "electric", "poison", "flamethrower"],
        "damageTypeBonus" : {"flamethrower" : 3}
      },
      "weaponText" : [
        "Gain access to Omnia-Thrower, a Flamethrower that can switch between Nova, Fire, Electric, Ice, and Poison Energy.",
        "Gain access to Elemental Overcharge, a Tech that upgrades Magic Shield with improved Element Resistance and Increased Power."
      ]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "Dragoons wield lances and spears. Coupled with their light armor, they are a force meant to quickly and decisively pierce through all opposition - no matter how durable, or how high in the sky.",
      "unlockText" : "Use a Spear to defeat enemies, or take fall damage. Unlocked faster by defeating higher tier enemies, or the Bone Dragon.",
      "unlockStatus" : "ivrpgsudragoon",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : [ "spear" ],
        "enemyTypes" : [
          { "type" : "dragonboss", "modifier" : 50 },
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to Dragon's Bane, a Two-handed Spear with excellent range and elemental capabilities.",
        "Gain access to Dragon's Leap, a Tech that upgrades Knight's Slam with phenomenal Jump Height and a better Slam explosion."
      ]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ]
    }
  ],
	[
    {
      "name" : "cannoneer",
      "title" : "Cannoneer",
      "description" : "Blow'em away! Cannoneers are rogues that specialize in explosive weaponry. Normally utilizing Shortswords and Grenade Launchers, Cannoneers can get up close and personal to slice up enemies or stay back and blow them all to bits.",
      "unlockText" : "Defeat enemies while wielding a Shortsword in one hand and a Grenade Launcher in the other. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsucannoneer",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "weaponTypes" : ["shortsword", "grenadelauncher"]
      },
      "weaponText" : [
        "Gain access to Outburst and Stormhowl, a Grenade Launcher and Shortsword pair that devastates enemies up close.",
        "Gain access to Bombs Away, a Tech that provides the ability to shoot cannonballs in multiple directions."
      ]
    },
    {
      "name" : "saboteur",
      "title" : "Saboteur",
      "disabled" : true,
      "description" : "Sabotaging whatever they can find is in their nature. Saboteurs look for vulnerabilities in any system and summarily exploit them. Great with a variety of weapons, like Daggers, Pistols, Whips, and Fists/Claws, Saboteurs are prepared for any encounter.",
      "unlockText" : "Use Ranged Weapons, Daggers, Fists/Claws, or Whips to defeat enemies. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsusaboteur",
      "unlockNumber" : 750,
      "unlockBehavior" : {
        "damageTypes" : ["dagger", "bullet", "shotgun", "fist", "claw", "lash"]
      },
      "weaponText" : [
        "Gain access to Sarin, a Dagger that releases a special chemical substance that can cause poisonous explosions.",
        "Gain access to Shrapnel Mine, a tech that places mines that can vary in effect depending on weapon loadout."
      ]
    },
    {
      "name" : "vinetender",
      "title" : "Vinetender",
      "disabled" : true,
      "description" : "Vinetenders can slightly alter the chemical components in plants and use a special magic to move nitrogen around at will. Using Plant-Based Weapons enables them to deal the most damage, but they are also proficient with Whips and Bows as well.",
      "unlockText" : "Use the Vine Whip to defeat enemies. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuvinetender",
      "unlockNumber" : 100,
      "unlockBehavior" : {
        "damageTypes" : ["poisonlash"]
      },
      "weaponText" : [
        "Gain access to Chrysantha, a Vine Whip that can root enemies in place.",
        "Gain access to Natural Aura, a Tech that pacifies nearby natural monsters."
      ]
    },
    {
      "name" : "hunter",
      "title" : "Hunter",
      "description" : "The Hunter is stealthy and cunning, using cloaking technology to surprise enemies. With deadly precision, the Hunter can accurately fire a variety of long-range weapons and deftly handle daggers at close ranges.",
      "unlockText" : "Defeat enemies from behind. Doing so with Ranged Weapons, Bows, or Daggers grants bonus progress.",
      "unlockStatus" : "ivrpgsuhunter",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypeBonus" : { "bullet" : 2, "shotgun" : 2, "bow" : 3, "dagger" : 4},
        "requiredPosition" : { "type" : "behind" }
      },
      "weaponText" : [
        "Gain access to Mida, an accurate Sniper Rifle that can be cloaked in various elements using Multitool.",
        "Gain access to Multitool, a Tech that enables a variety of functions, such as dodging, throwing elemental grenades, and enhancing Mida."
      ]
    },
    {
      "name" : "thief",
      "title" : "Thief",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuthief",
      "weaponText" : [
        ""
      ]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat Gosmet, Skimbus, Spookit, Wisper, Squeem, or Tentacle Ghosts while Intelligence is greater than 40. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuwraith",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "intelligencepoint" : 41 },
        "enemyTypes" : [
          { "type" : "skimbus" },
          { "type" : "spookit" },
          { "type" : "gosmet" },
          { "type" : "wisper" },
          { "type" : "squeem" },
          { "type" : "tentacleghost", "amount" : 1 },
          { "type" : "erchiusghost", "amount" : 10 }
        ]
      },
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "trapper",
      "title" : "Trapper",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsutrapper",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ]
    }
  ],
  [
    {
      "name" : "pioneer",
      "title" : "Pioneer",
      "description" : "Searching new lands to discover hidden treasures, Pioneers are the first to colonize new planets. Able to quickly navigate colonized planets and claim new planets for themselves, Pioneers excel in blazing a trail through the galaxy.",
      "unlockText" : "Explore various planets for more than 3 minutes each.",
      "unlockNumber" : 20,
      "unlockStatus" : "ivrpgsupioneer",
      "weaponText" : [
        "Gain access to Nautilus, a One-handed Tool that can be used to nullify all environmental damage as well as ease movement in all liquids.",
        "Gain access to Colonize, a Tech that allows you to place down a Colony Flag on any planet."
      ]
    },
    {
      "name" : "scout",
      "title" : "Scout",
      "disabled" : true,
      "description" : "Mapping out areas and finding the best paths, Scouts are truly courageous. No matter the terrain, a Scout will properly look around to ensure a safe route in order for others to follow along.",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockNumber" : 25,
      "unlockStatus" : "ivrpgsuscout",
      "weaponText" : [
        "Gain access to Third Eye, a Grappling Hook with increased range and a built-in weak-spot detector.",
        "Gain access to Heartbeat Sensor, a Tech that highlights nearby hostiles, friendlies, and ores."
      ]
    },
    {
      "name" : "captain",
      "title" : "Captain",
      "description" : "Captains are known for their ability to lead and rally their comrades in battle. While alone, they are nothing to write home about, but with their comrades in battle they are a force to be reckoned with. They analyze the situations help support their teams in being offensive, defensive or even speedy.",
      "unlockText" : "Have a current Crew Complement of 4 or more.",
      "unlockNumber" : 4,
      "unlockStatus" : "ivrpgsucaptain",
      "weaponText" : [
        "Gain access to the Leader's Rally, a flag that is able to send a wave of inspiration out to your comrades.",
        "Gain access to Ally Stance, a Tech that functions primarily as a Stat-boost for your team that comes at a downside as well."
      ]
    },
    {
      "name" : "pilot",
      "title" : "Pilot",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsupilot",
      "weaponText" : [
        "Gain access to Transformer Matrix, a Vehicle Spawner that can spawn various types of vehicles.",
        "Gain access to Nanobot Overcharge, a Tech that fully repairs damaged vehicles."
      ]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies within 7 blocks. Unlocked faster by defeating higher tier enemies.",
      "unlockStatus" : "ivrpgsuvanguard",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "requiredPosition" : { "type" : "<", "magnitude" : 7 }
      },
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsu",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "trapper",
      "title" : "Trapper",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsutrapper",
      "weaponText" : [
        "-"
      ]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Currently unavailable. Unlock requirements will be added soon.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ]
    }
  ]
]