[
	//Base
	"universe",
	"people",
	"class",
	"specialization",
	"mechanics",

	//Universe
	"truth",

	//People

	//Class
	"knight",
	"wizard",
	"ninja",
	"soldier",
	"rogue",
	"explorer",

	//Mechanics

	"enemybossgeneral",
	"enemybossshield",
	"enemybossburst",
	"enemybossrapid",
	"enemybossblood",
	"enemybossbreed",
	"enemybossnpc",
	"enemybossspecific",
	"jeweler",

	//Specialization
	[
		"adept",
		"assassin",
		"battlemage",
		"berserker",
		"cannoneer",
		"captain",
		"changeling",
		"conquistador",
		"crusader",
		"darktemplar",
		"deadshot",
		"dragoon",
		"elementress",
		"fae",
		"hunter",
		"juggernaut",
		"kunoichi",
		"mechanist",
		"mercenary",
		"necromancer",
		"operative",
		"paladin",
		"pilot",
		"pioneer",
		"saboteur",
		"sage",
		"samurai",
		"scout",
		"shade",
		"technomancer",
		"titan",
		"thief",
		"trapper",
		"valkyrie",
		"vanguard",
		"vigilante",
		"wanderer",
		"warlock",
		"wraith"
	]
]