{
	"monsters" : {
		"castlelord" : [
			"ivrpgucrighteousness"
		],
		"bandit" : [
			"ivrpgucblindingjustice"
		],
		"lumoth" : [
			"ivrpgucquicksilver"
		],
		"wisper" : [
			"ivrpgucpassedprime",
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart"
		],
		"batong" : [
			"ivrpgucvampirescaress"
		],
		"hemogoblin" : [
			"ivrpgucbloodseeker"
		],
		"sporgus" : [
			"ivrpgucsymbiosis"
		],
		"bobot" : [
			"ivrpguccharger",
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop"
		],
		"orbide" : [
			"ivrpguccombobreaker"
		],
		"scandroid" : [
			"ivrpguchardlight",
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop"
		],
		"twigun" : [
			"ivrpguctriggerhappy"
		],
		"ringram" : [
			"ivrpgucspintowin"
		],
		"mandraflora" : [
			"ivrpgucrighthandman"
		],
		"ignome" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"crabcano" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"pyromantle" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"fennix" : [
			"ivrpgucbloom",
			"ivrpguceternalflame",
			"ivrpgucvikingfuneral"
		],
		"snaunt" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"miasmop" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"pteropod" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"agrobat" : [
			"ivrpgucmiasma",
			"ivrpguccontagion",
			"ivrpgucincurable"
		],
		"voltip" : [
			"ivrpgucdischarge",
			"ivrpgucplasmacore",
			"ivrpgucfeedbackloop"
		],
		"skimbus" : [
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart"
		],
		"pulpin" : [
			"ivrpgucicequeen",
			"ivrpgucskadisblessing",
			"ivrpgucevergreen",
			"ivrpguccoldheart"
		]
	},
	"items" : {
		"ivrpgucrighteousness" : 10
	}
}