[
	//Base
	"universe",
	"people",
	"class",
	"specialization",
	"mechanics",

	//Universe
	"truth",

	//People

	//Class
	"knight",
	"wizard",
	"ninja",
	"soldier",
	"rogue",
	"explorer",

	//Mechanics

	"enemybossgeneral",
	"enemybossshield",
	"enemybossburst",
	"enemybossrapid",
	"enemybossblood",
	"enemybossbreed",
	"enemybossnpc",

	//Specialization
	[
		"adept",
		"cannoneer",
		"captain",
		"changeling",
		"crusader",
		"darktemplar",
		"dragoon",
		"elementress",
		"hunter",
		"kunoichi",
		"necromancer",
		"paladin",
		"pioneer",
		"titan",
		"valkryie",
		"vanguard",
		"vigilante",
		"wraith"
	]
]