[
	//Base
	"universe",
	"people",
	"class",
	"specialization",

	//Universe
	"truth",

	//People
	"winter",
	"zia",
	"soliste",
	"promisemethis",
	"whoareyoureally",
	"whennothingstaredback",
	"bahn",
	"egoen",
	"againstallodds",

	//Class
	"knight",
	"wizard",
	"ninja",
	"soldier",
	"rogue",
	"explorer"

	//Speciailzation
]