{
    // Racial Stat-Scaling Bonuses
    // "Race" : ["0.05 Scaling", "0.025 Scaling", "0.025 Scaling"]
    
    // Vanilla

    "novakid": ["dexterity", "vigor", "vitality"],
    "apex": ["intelligence", "vigor", "strength"],
    "human": ["vitality", "endurance", "vigor"],
    "avian": ["vigor", "agility", "intelligence"],
    "floran": ["strength", "dexterity", "vitality"],
    "hylotl": ["agility", "intelligence", "dexterity"],
    "glitch": ["endurance", "strength", "dexterity"],

    // Non-Vanilla

    "telvakian" : [strength", "endurance", "vitality"],
    "slime" : ["vitality", "vigor", "dexterity"],
    "squid" : ["agility", "vigor", "dexterity"],
    "ooze" : ["vitality", "vigor", "dexterity"],
    "saturnian": ["vigor", "intelligence", "agility"],
    "kitsune": ["agility", "dexterity", "vigor"],
    "lamia": ["endurance", "vitality", "agility"],
    "everis": ["intelligence", "vigor", "agility"],
    "angel": ["endurance", "vitality", "strength" ]
}