{
	"skillbodyadrenalinerush" : {
		"persistentEffects" : ["powerMultiplier"],
		"effectTypes" : ["amount"],
		"effectTiers" : [[0.25, 0.33, 0.4]],
		"when" : [
			{
				"type" : "status",
				"stat1" : ["resource", "health"],
				"operator" : "/",
				"stat2" : ["stat", "maxHealth"],
				"operator2" : "<"
			}
		],
		"whenTiers" : [[0.2, 0.25, 0.33]]
	},
	"skillmindadrenalinerush" : {
		"persistentEffects" : ["maxEnergy"],
		"effectTypes" : ["baseMultiplier"],
		"effectTiers" : [[1.25, 1.33, 1.4]],
		"when" : [
			{
				"type" : "status",
				"stat1" : ["resource", "health"],
				"operator" : "/",
				"stat2" : ["stat", "maxHealth"],
				"operator2" : "<"
			}
		],
		"whenTiers" : [[0.2, 0.25, 0.33]]
	},
	"skillmindearlybird" : {
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[0.1, 0.2, 0.3, 0.4, 0.5], [0.1, 0.15, 0.2, 0.25, 0.3]],
		"when" : [
			{
				"type" : "world",
				"func" : "timeOfDay",
				"operator" : "<"
			}
		],
		"whenTiers" : [[0.5, 0.5, 0.5, 0.5, 0.5]]
	},
	"skillmindnightowl" : {
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[0.1, 0.2, 0.3, 0.4, 0.5], [0.1, 0.15, 0.2, 0.25, 0.3]],
		"when" : [
			{
				"type" : "world",
				"func" : "timeOfDay",
				"operator" : ">"
			}
		],
		"whenTiers" : [[0.5, 0.5, 0.5, 0.5, 0.5]]
	},
	"skillbodymomentum" : {
		"persistentEffects" : ["powerMultiplier", "fallDamageMultiplier"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[0.25, 0.3, 0.35, 0.4, 0.5], [0.05, 0.1, 0.15, 0.2, 0.25]]
	},
	"skillbodyarmorup-reaction" : {
		"persistentEffects" : ["powerMultiplier", "protection"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[-0.1, -0.15, -0.2, -0.25, -0.3, -0.35, -0.4], [3, 4, 5, 6, 7, 8, 10]]
	},
	"skillbodyarmorup-function" : {
		"persistentEffects" : ["powerMultiplier", "protection"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[-0.1, -0.15, -0.2, -0.25, -0.3, -0.35, -0.4], [3, 4, 5, 6, 7, 8, 10]]
	},
	"skillmindarmorup-anticipation" : {
		"persistentEffects" : ["powerMultiplier", "protection"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[-0.1, -0.15, -0.2, -0.25, -0.3, -0.35, -0.4], [3, 4, 5, 6, 7, 8, 10]]
	},
	"skillsoularmorup-determination" : {
		"persistentEffects" : ["powerMultiplier", "protection"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[-0.1, -0.15, -0.2, -0.25, -0.3, -0.35, -0.4], [3, 4, 5, 6, 7, 8, 10]]
	},
	"skillbodybolsterspeed-muscle" : {
		"persistentEffects" : ["energyRegenPercentageRate"],
		"effectTypes" : ["amount"],
		"effectTiers" : [[-0.04, -0.08, -0.12, -0.16, -0.20]],
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[0.1, 0.15, 0.2, 0.25, 0.33], [0.05, 0.1, 0.15, 0.2, 0.25]]
	},
	"skillbodybolsterspeed-stride" : {
		"persistentEffects" : ["ivrpgBleedChance"],
		"effectTypes" : ["amount"],
		"effectTiers" : [[-0.02, -0.04, -0.06, -0.08, -0.1]],
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[0.1, 0.15, 0.2, 0.25, 0.33], [0.05, 0.1, 0.15, 0.2, 0.25]]
	},
	"skillmindbolsterspeed-form" : {
		"persistentEffects" : ["maxEnergy"],
		"effectTypes" : ["baseMultiplier"],
		"effectTiers" : [[0.95, 0.9, 0.85, 0.8, 0.75]],
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[0.1, 0.15, 0.2, 0.25, 0.33], [0.05, 0.1, 0.15, 0.2, 0.25]]
	},
	"skillbodybruteforce" : {
		"persistentEffects" : ["ivrpgBleedChance"],
		"effectTypes" : ["amount"],
		"effectTiers" : [[0.03, 0.06, 0.09, 0.12, 0.15]],
		"movementEffects" : ["speedModifier", "airJumpModifier"],
		"movementTiers" : [[-0.05, -0.1, -0.15, -0.2, -0.25], [-0.03, -0.06, -0.09, -0.12, -0.15]]
	},
	"skillbodyvitalblow" : {
		"persistentEffects" : ["powerMultiplier", "maxHealth"],
		"effectTypes" : ["amount", "baseMultiplier"],
		"effectTiers" : [[0.1, 0.15, 0.2, 0.25, 0.33], [0.95, 0.9, 0.85, 0.8, 0.75]],
		"when" : [
			{
				"type" : "status",
				"stat1" : ["resource", "health"],
				"operator" : "/",
				"stat2" : ["stat", "maxHealth"],
				"operator2" : ">"
			}
		],
		"whenTiers" : [[0.9, 0.9, 0.9, 0.9, 0.9]],
		"withoutWhen" : [false, true]
	},
	"skillmindkeeneye" : {
		"persistentEffects" : ["ivrpgBleedChance", "energyRegenPercentageRate"],
		"effectTypes" : ["amount", "amount"],
		"effectTiers" : [[0.03, 0.06, 0.09, 0.12, 0.15], [-0.04, -0.08, -0.12, -0.16, -0.20]]
	},
	"skillsoulcriticalluck" : {
		"persistentEffects" : ["ivrpgBleedChance"],
		"effectTypes" : ["amount"],
		"effectTiers" : [[0.03, 0.06, 0.09, 0.12, 0.15]]
	}
}