[
	[
    {
      "name" : "paladin",
      "title" : "Paladin",
      "description" : "Paladins are holy defenders who block attacks from every angle with a sturdy grip. Paladins are masters with shields, and have slight magical affinity, moreso than most other Knights.",
      "unlockText" : "Perfect shield the Heart of Ruin's tentacles.",
      "unlockStatus" : "ivrpgsupaladin",
      "weaponText" : [
        "Gain access to True Aegis, a Two-Handed Shield with magnificent Holy Powers.",
        "Gain access to Immaculate Shield, a Tech that provides team support but requires a skillful defense."
      ],
      "flavor" : [
        "\"Requesting support. I repeat, requesting support! Vessel is stranded and under attack in Sector I5-T, Quadrant 3.",
        "Vessel is a Falcon S6: gold with blue highlights; stationary. Vessel is carrying 200 liters additional fuel and 3 tons of cargo. Auxillary power is low; oxygen supply fading fast. Vessel has been breached by an unknown lifeform.",
        "I repeat, an unknown lifeform has breached the vessel and slain all crew members. Please, for the love of God, I request immediate support from all nearby vessels.\n^blue;I will not let this Falcon fall!^reset;\"",
        "- Paladin Sen, last known contact"
      ]
    },
    {
      "name" : "juggernaut",
      "title" : "Juggernaut",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsujuggernaut",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "samurai",
      "title" : "Samurai",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsusamurai",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "valkyrie",
      "title" : "Valkryie",
      "description" : "Valkyries are angels with dominion over life that grant unlimited power to worthy allies. Phenomenal with spears and shortswords, Valkyries use their holy powers to gracefully glide across the battlefield smiting enemies.",
      "unlockText" : "^white;Not Available Yet. Ignore The Following:^reset;\nUse Spears or Shortswords to defeat enemies or fall from 500 blocks high.",
      "unlockStatus" : "ivrpgsuvalkryie",
      "weaponText" : [
        "Gain access to Gungnir, a Spear that turns enemies into a healing ray of light.",
        "Gain access to Einherjar, a Tech that allows you to grant invulnerability to a nearby ally."
      ],
      "flavor" : [
        "\"You know, Sen's disciples told me about her. Said she was an angel. I didn't believe them - thought they were crazy. After all, Sen's been long gone, so it figures they'd make up stories. Besides, it took my team a bout of 5 hours 26 minutes to break his defense, so if she really could do what they said, nothing in the world would even stand a chance.\"",
        "\"And what exactly was it she could do?\"",
        "\"Well, I'm sure you wouldn't believe it, being the logical fellow you are.\"",
        "\"Try me.\"",
        "^blue;\"Prevent death.\""
      ]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards.",
      "unlockStatus" : "ivrpgsucrusader",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : [ "broadsword" ],
        "enemyTypes" : [
          { "type" : "cultist", "modifier" : 4 },
          { "type" : "templeguard", "modifier" : 4 },
          { "type" : "tombguard", "modifier" : 4 },
          { "type" : "tentacle" },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a crazy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ],
      "flavor" : [
        "Responsible for the death of thousands, the Crusaders took it upon themselves to annihilate the unfaithful, the aftermath of which was a festering reputation.",
        "And it continued to fester: impossible to remove. A connotation so great, even the mere name could send some into rage. It was, in all senses, ^blue;a word of power.",
        "However, despite this, the mantle is once again ready to be worn. The looming threat of the unclean, of the Ruin, and the creatures like it, cannot be left unchecked. And thus, with history behind them, the Crusaders will rise again.",
        "^blue;Deus Vult!"
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuconquistador",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "Dragoons utilize spears to poke through defenses with crazy accuracy.",
      "unlockText" : "^white;Not Available Yet. Ignore The Following:^reset;\nUsing a Spear, Quarterstaff, or Assault Rifle, defeat enemies. Defeating the Bone Dragon with a Spear provides an immense boost.",
      "unlockStatus" : "ivrpgsudragoon",
      "weaponText" : [
        "Gain access to Dragon's Bane, a Two-handed Spear with excellent range and elemental capabilities.",
        "Gain access to Dragon's Leap, a Tech that upgrades Knight's Slam with phenomenal Jump Height."
      ],
      "flavor" : [
        "Eviscerate your enemies with volcanic passion, mauling them with burning stabs and shocking strikes as you bound from foe to foe. Crush them with tremendous pressure as you leap and land, trembling the earth beneath. Take to the skies using incredible force in order to smite even those that dare try and stand above you.",
        "You are not a dragon. No.",
        "^blue;You are a Dragon Slayer."
      ]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "weaponText" : [
        "-"
      ],
      "flavor" : [
        "Sudden pressure bending metal -\nForcing bothered dust to settle.\n^blue;Shhh: do you hear that?",
        "Fervid death erupts from ashes,\nStealing thought and tearing gashes.\n^blue;Shhhh: do you hear that?",
        "Spreading out and creeping in:\nA sentient husk entrenched in sin.\n^blue;Shhhhh: do you hear that?",
        "Runes engrave in ruined flesh;\nWhispers clash: a garbled mesh.\n^blue;Shhhhhh: do you hear that?",
        "Well...\n53^blue;D^reset;61^blue;o^reset;76^blue;y^reset;65^blue;o^reset;20^blue;u^reset;55^blue;?^reset;73"
      ]
    }
	],
	[
    {
      "name" : "necromancer",
      "title" : "Necromancer",
      "description" : "Necromancers fight using demonic magic and can raise the dead, and handle close-range combat much better than most Wizards. Because of their close attunement to death, Necromancers can efficiently wield scythes and daggers, and are often able to drain life from enemies to heal allies.",
      "unlockText" : "Defeat enemies while your current health is lower than 30% of your max health. Gain more progress the lower your Health.",
      "unlockStatus" : "ivrpgsunecromancer",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "healthUnder" : 0.3,
        "enemyTypes" : [
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to For Us All, a demonic Scythe that can unleash unstable Demonic Energy.",
        "Gain access to Reap, a Tech that allows you to instantly kill low health enemies or spawn a friendly monster."
      ],
      "flavor" : [
        "Within the swirling darkness, a single drop of light remains.",
        "^magenta;Smother it.",
        "As the light fades, blackened embers spark, crossing out lines in history. Time is not absolute: no, of course not.",
        "^magenta;But you are.",
        "Disgust. Fear. Horror. Hatred. Ignore them. Ignore the stares and shudders. Ignore them all. For they do not understand: despite their cries, pleas, and hopes; you will snuff their life and replace it. After all:",
        "^magenta;Death comes for us all..."
      ]
    },
    {
      "name" : "battlemage",
      "title" : "Battle Mage",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubattlemage",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "warlock",
      "title" : "Warlock",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwarlock",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "elementalist",
      "title" : "Elementalist",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuelementalist",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards.",
      "unlockStatus" : "ivrpgsucrusader",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "damageTypes" : [ "broadsword" ],
        "enemyTypes" : [
          { "type" : "cultist", "modifier" : 4 },
          { "type" : "templeguard", "modifier" : 4 },
          { "type" : "tombguard", "modifier" : 4 },
          { "type" : "tentacle" },
          { "type" : "", "modifier" : 0.25 }
        ]
      },
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a crazy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ],
      "flavor" : [
        "Responsible for the death of thousands, the Crusaders took it upon themselves to annihilate the unfaithful, the aftermath of which was a festering reputation.",
        "And it continued to fester: impossible to remove. A connotation so great, even the mere name could send some into rage. It was, in all senses, ^magenta;a word of power.",
        "However, despite this, the mantle is once again ready to be worn. The looming threat of the unclean, of the Ruin, and the creatures like it, cannot be left unchecked. And thus, with history behind them, the Crusaders will rise again.",
        "^magenta;Deus Vult!"
      ]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat ghosts while Intelligence is greater than 40.",
      "unlockStatus" : "ivrpgsuwraith",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "intelligencepoint" : 41 },
        "enemyTypes" : [
          { "type" : "skimbus" },
          { "type" : "spookit" },
          { "type" : "gosmet" },
          { "type" : "wisper" },
          { "type" : "squeem" },
          { "type" : "tentacleghost", "amount" : 1 },
          { "type" : "erchiusghost", "amount" : 10 }
        ]
      },
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ],
      "flavor" : [
        "\"^magenta;You no longer belong: a soulless puppet.^reset;\"",
        "\"No. I never belonged.\"",
        "\"^magenta;You are nothing: a shell of humanity.^reset;\"",
        "\"No. I was never human.\"",
        "\"^magenta;You. Are. Empty.^reset;\"",
        "\"Yea?\"",
        "\"^magenta;...^reset;\"",
        "\"And?\"",
        "- A passing conversation."
      ]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
	[
    {
      "name" : "shade",
      "title" : "Shade",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsushade",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "stalker",
      "title" : "Stalker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsustalker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "kunoichi",
      "title" : "Kunoichi",
      "gender" : "female",
      "description" : "^red;Female Only^white;\nDespite having slightly lower Health\nand dealing a bit less Damage\n^#ffaafa;The Kunoichi\nGracfully Dances Among\nSnaps Of Her War-Fan\n^white;silencing whomever she pleases.",
      "unlockText" : "Using a Dagger, Kunai, Shuriken, or War-Fan, defeat enemies while Agility is higher than 30.",
      "unlockStatus" : "ivrpgsukunoichi",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "agilitypoint" : 31 },
        "damageTypes" : [ "warfan", "dagger", "alwaysbleed", "bloodaether" ],
        "enemyTypes" : [
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to Luxuria, a One-handed War Fan with phenomenal speed and graceful combos.",
        "Gain access to Swirling Petal, a Tech that allows for quick backwards movement and provides great crowd control via dazing gas."
      ],
      "flavor" : [
        "\"She was a ssweet flower: a deadly lure.\nOf coursse, that was before her dissapearance. Has she wilted?\nOr is she sstill sspreading her toxins.\n\nSometimes, I hear her voice calling out to me, as if reaching from the void.\nBut it never sseems ssad, the voice.\nIf she ssstill lives, I know she's\nsstill as dangerous as ever:\nmore dangerous than usssss...",
        "^red;More dangerous than anyone.^reset;\"",
        "-Assassin Vinella, when asked about her Captain (MIA), Winter"
      ]
    },
    {
      "name" : "adept",
      "title" : "Adept",
      "description" : "Adepts are Ninjas who have harnessed chaotic energy, so much so that they have become unstable. Because of this, Adepts can utilize wands and can lighten themselves and nearby matter. However, the price for such power is costly...",
      "unlockText" : "Survive for 30 seconds very close to the Heart of Ruin while both Intelligence and Agility are greater than 40.",
      "unlockStatus" : "ivrpgsuadept",
      "weaponText" : [
        "Gain access to Phase Shift, a One-Handed Wand with phenomenal AoE damage against enemies and fantastic AoE ally support.",
        "Gain access to Flash Step, a Tech that replaces jumping with unstable, directional teleportation."
      ],
      "flavor" : [
        "She found there was no where left to go. Crushing pressure caused matter to simply collapse around her. Ruinous creatures reached out from the darkness behind her. And then, in front: nothing. Nothing at all.\n^red;And she shuddered, for it was impossible.^reset; Death around and death behind, yet in front, there was nothing. Nothing that edged into her muscle and skin and chitin and bone. Nothing that clawed at her vision and ate at her brain. And she felt fear and joy and hatred and grief and disdain and arousal and pain, and it never stopped.\n^red;And then, even the death became nothing.^reset;\nIt was not there from the beginning.\nAnd it would not be there at the end.\nAnd she knew, and she laughed:\n^red;For there was nothing left for her to feel."
      ]
    },
    {
      "name" : "assassin",
      "title" : "Assassin",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuassassin",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "weaponText" : [
        "-"
      ],
      "flavor" : [
        "Sudden pressure bending metal -\nForcing bothered dust to settle.\n^red;Shhh: do you hear that?",
        "Fervid death erupts from ashes,\nStealing thought and tearing gashes.\n^red;Shhhh: do you hear that?",
        "Spreading out and creeping in:\nA sentient husk entrenched in sin.\n^red;Shhhhh: do you hear that?",
        "Runes engrave in ruined flesh;\nWhispers clash: a garbled mesh.\n^red;Shhhhhh: do you hear that?",
        "Well...\n53^red;D^reset;61^red;o^reset;76^red;y^reset;65^red;o^reset;20^red;u^reset;55^red;?^reset;73"
      ]
    }
  ],
	[
    {
      "name" : "mechanist",
      "title" : "Mechanist",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumechanist",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "deadshot",
      "title" : "Deadshot",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudeadshot",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vigilante",
      "title" : "Vigilante",
      "description" : "Vigilantes use their own moral system to enact justice as they see fit. Due to their love of pistols, they can easily dual-wield ranged weapons. When fighting villains, Vigilantes get a rush of power and energy to take matters into their own hands.",
      "unlockText" : "Use ranged weapons to defeat bandits and outlaws.",
      "unlockStatus" : "ivrpgsuvigilante",
      "unlockNumber" : 100,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "enemyTypes" : [
          { "type" : "bandit" },
          { "type" : "outlaw" }
        ]
      },
      "weaponText" : [
        "Gain access to Anne and Marie, a pair of unique and powerful pistols that syngerize well together.",
        "Gain access to Desperado, a Tech that grants infinite Energy and ramps up power when used."
      ],
      "flavor" : [
        "Laws are forged in fires of fear and corruption; cast in iron to control and manipulate. But when the law is broken and action fails, what then? When retribution is in order, or revenge is needed? When peace cannot be kept, and villains arise without restraints? When morality is taken for granted, and fools erupt brazenly with uncontrolled conniptions?^orange; What then?",
        "Well, you don't need text in yellowed paper; or signatures in white boxes; or some haughty sheriff's permission; to decide. You enact your own laws. You control your own jurisdiction. And no matter what, no matter who, you uphold justice in your own name.",
        "^orange;And trust me: they will remember it."
      ]
    },
    {
      "name" : "titan",
      "title" : "Titan",
      "description" : "Titans are frontline bastions who help hold the line steadfast with their shield. Their weapon of choice is a one-handed pistol or smg paired with a shield. While capable fighters at all ranges, they also inspire nearby allies with a protective aura.",
      "unlockText" : "Use ranged weapons to deal damage quickly after Perfect Shielding. Damage that deals a final blow is tripled.",
      "unlockStatus" : "ivrpgsutitan",
      "unlockNumber" : 10000,
      "weaponText" : [
        "Gain access to Epimetheus, a one-handed Submachine Gun with average stats that provides defensive bonuses upon killing enemies.",
        "Gain access to Atlas' Burden, a Tech that increases the offensive and defensive capabilities of you and nearby allies."
      ],
      "flavor" : [
        "\"The Paladins are humble, sure, but that doesn't mean their fans are. The comparison gets made quite often, I assure you:",
        "<Well, you use a shield, so doesn't that mean you're just a wannabe Paladin?>",
        "I can't tell you how many times I've heard that. But the thing is, there's a huge difference between us Titans and the Paladins. You see, while Paladins defend and defend and defend, us Titans do things with a bit more... pizazz. And you know why?",
        "^orange;Because we have guns.^reset;\"",
        "- Titan Bahn, on Paladins vs. Titans"
      ]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies while up close and personal.",
      "unlockStatus" : "ivrpgsuvanguard",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "requiredPosition" : { "type" : "<", "magnitude" : 7 },
        "enemyTypes" : [
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ],
      "flavor" : [
        "She did what?",
        "^orange;You heard me the first time.",
        "Yea, but we're talking nearly 1000 enemy soldiers. With high-tech armor. And, you know... deadly weapons and what not.",
        "^orange;Right. Well: they're gone now.",
        "Ok, but is she alright?",
        "^orange;Funny you should ask.",
        "Uh-oh.",
        "^orange;No, you misunderstand...\nShe's never been better."
      ]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "Dragoons utilize spears to poke through defenses with crazy accuracy.",
      "unlockText" : "^white;Not Available Yet. Ignore The Following:^reset;\nUsing a Spear, Quarterstaff, or Assault Rifle, defeat enemies. Defeating the Bone Dragon with a Spear provides an immense boost.",
      "unlockStatus" : "ivrpgsudragoon",
      "weaponText" : [
        "Gain access to Dragon's Bane, a Two-handed Spear with excellent range and elemental capabilities.",
        "Gain access to Dragon's Leap, a Tech that upgrades Knight's Slam with phenomenal Jump Height."
      ],
      "flavor" : [
        "Eviscerate your enemies with volcanic passion, mauling them with burning stabs and shocking strikes as you bound from foe to foe. Crush them with tremendous pressure as you leap and land, trembling the earth beneath. Take to the skies using incredible force in order to smite even those that dare try and stand above you.",
        "You are not a dragon. No.",
        "^orange;You are a Dragon Slayer."
      ]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
	[
    {
      "name" : "cannoneer",
      "title" : "Cannoneer",
      "description" : "Blow'em away! Cannoneers are rogues that specialize in explosive weaponry. Normally utilizing Shortswords and Grenade Launchers, Cannoneers can get up close and personal to slice up enemies or stay back and blow them all to bits.",
      "unlockText" : "^white;Not Available Yet. Ignore The Following:^reset;\nUse Shortswords or Explosive Weapons to defeat enemies.",
      "unlockStatus" : "ivrpgsucannoneer",
      "weaponText" : [
        "Gain access to Outburst, a one-handed Grenade Launcher that shoots multiple grenades at a time.",
        "Gain access to Bombs Away, a Tech that provides the ability to shoot cannonballs in multiple directions."
      ],
      "flavor" : [
        "\"That lassy has conquered many an ocean planet, but I think we can handle'er.\"",
        "\"You sure about that boss? She's apparently way tougher than she looks.\"",
        "\"Don't go playing with me now, ye'hear? What kind of pirates shy away from treasure like this. We'll whoop her real good, so quit yer yappin'.\"",
        "\"Whatever ye say, boss.\"",
        "-A recording from a damaged blackbox found in a sunken pirate ship.^green;\nSeems to be one of the only things that hasn't been blown to smithereens."
      ]
    },
    {
      "name" : "saboteur",
      "title" : "Saboteur",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsusaboteur",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vinetender",
      "title" : "Vinetender",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuvinetender",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "hunter",
      "title" : "Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "assassin",
      "title" : "Assassin",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuassassin",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat ghosts while Intelligence is greater than 40.",
      "unlockStatus" : "ivrpgsuwraith",
      "unlockNumber" : 1000,
      "unlockBehavior" : {
        "requiredCurrency" : { "intelligencepoint" : 41 },
        "enemyTypes" : [
          { "type" : "skimbus" },
          { "type" : "spookit" },
          { "type" : "gosmet" },
          { "type" : "wisper" },
          { "type" : "squeem" },
          { "type" : "tentacleghost", "amount" : 1 },
          { "type" : "erchiusghost", "amount" : 10 }
        ]
      },
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ],
      "flavor" : [
        "\"^green;You no longer belong: a soulless puppet.^reset;\"",
        "\"No. I never belonged.\"",
        "\"^green;You are nothing: a shell of humanity.^reset;\"",
        "\"No. I was never human.\"",
        "\"^green;You. Are. Empty.^reset;\"",
        "\"Yea?\"",
        "\"^green;...^reset;\"",
        "\"And?\"",
        "- A passing conversation."
      ]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "bountyhunter",
      "title" : "Bounty Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubountyhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
  [
    {
      "name" : "pioneer",
      "title" : "Pioneer",
      "description" : "Searching new lands to discover hidden treasures, Pioneers are the first to colonize new planets. Able to quickly navigate colonized planets and claim new planets for themselves, Pioneers excel in blazing a trail through the galaxy.",
      "unlockText" : "^white;Not Available Yet. Ignore The Following:^reset;\nDiscover new planets and use flags to bookmark old planets.",
      "unlockStatus" : "ivrpgsupioneer",
      "weaponText" : [
        "Gain access to Nautilus, a One-handed Tool that can be used to nullify all environmental damage as well as allow free movement in all liquids.",
        "Gain access to Colonize, a Tech that allows you to place down a Colony Flag on un-colonized planets."
      ],
      "flavor" : [
        "Spreading as far as the eye can see, your colonies are a welcome sight for weary travelers. Take pride in the vast expansion of cities and towns, discovered and claimed by you, and a safe haven for all. There is no planet you cannot tame; whether bubbling with magma or sulfuric acid; or frigid and teeming with dangerous creatures.",
        "Do not shy away from deadly radiation or inpenatrable darkness or strange mutations in the far reaches of the universe. No, make them all yours: testaments to your empire. So keep on finding new frontiers and settling distant lands.",
        "If they exist, ^yellow;they're yours for the taking!"
      ]
    },
    {
      "name" : "scout",
      "title" : "Scout",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuscout",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "captain",
      "title" : "Captain",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucaptain",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "voyager",
      "title" : "Voyager",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuvoyager",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies while up close and personal.",
      "unlockStatus" : "ivrpgsuvanguard",
      "unlockNumber" : 500,
      "unlockBehavior" : {
        "damageTypes" : [ "bullet", "shotgun" ],
        "requiredPosition" : { "type" : "<", "magnitude" : 7 },
        "enemyTypes" : [
          { "type" : "" }
        ]
      },
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ],
      "flavor" : [
        "She did what?",
        "^yellow;You heard me the first time.",
        "Yea, but we're talking nearly 1000 enemy soldiers. With high-tech armor. And, you know... deadly weapons and what not.",
        "^yellow;Right. Well: they're gone now.",
        "Ok, but is she alright?",
        "^yellow;Funny you should ask.",
        "Uh-oh.",
        "^yellow;No, you misunderstand...\nShe's never been better."
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsu",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "bountyhunter",
      "title" : "Bounty Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubountyhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ]
]