{
	"1" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	},
  	"2" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	},
  	"3" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	},
  	"4" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	},
  	"5" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	},
  	"6" : {
    	"1" : "paladin",
    	"2" : "juggernaut",
    	"3" : "valkyrie",
    	"4" : "crusader",
    	"5" : "",
    	"6" : "",
    	"7" : "",
    	"8" : ""
  	}
}