[
	[
    {
      "name" : "paladin",
      "title" : "Paladin",
      "description" : "Paladins are holy defenders who block attacks from every angle with a sturdy grip. Paladins are masters with shields, and have slight magical affinity, moreso than most other Knights.",
      "unlockText" : "Perfect shield the Heart of Ruin's tentacles.",
      "unlockStatus" : "ivrpgsupaladin",
      "weaponText" : [
        "Gain access to True Aegis, a Two-Handed Shield with magnificent Holy Powers.",
        "Gain access to Immaculate Shield, a Tech that provides team support but requires a skillful defense."
      ],
      "flavor" : [
        "\"Requesting support. I repeat, requesting support! Vessel is stranded and under attack in Sector I5-T, Quadrant 3.",
        "Vessel is a Falcon S6: gold with blue highlights; stationary. Vessel is carrying 200 liters additional fuel and 3 tons of cargo. Auxillary power is low; oxygen supply fading fast. Vessel has been breached by an unknown lifeform.",
        "I repeat, an unknown lifeform has breached the vessel and slain all crew members. Please, for the love of God, I request immediate support from all nearby vessels.\n^blue;I will not let this Falcon fall!^reset;\"",
        "- Paladin Sen, last known contact"
      ]
    },
    {
      "name" : "juggernaut",
      "title" : "Juggernaut",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsujuggernaut",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "samurai",
      "title" : "Samurai",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsusamurai",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "valkyrie",
      "title" : "Valkryie",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuvalkryie",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards.",
      "unlockStatus" : "ivrpgsucrusader",
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a crazy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ],
      "flavor" : [
        "Responsible for the death of thousands, the Crusaders took it upon themselves to annihilate the unfaithful, the aftermath of which was a festering reputation.",
        "And it continued to fester: impossible to remove. A connotation so great, even the mere name could send some into rage. It was, in all senses, ^blue;a word of power.",
        "However, despite this, the mantle is once again ready to be worn. The looming threat of the unclean, of the Ruin, and the creatures like it, cannot be left unchecked. And thus, with history behind them, the Crusaders will rise again.",
        "^blue;Deus Vult!"
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuconquistador",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudragoon",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
	],
	[
    {
      "name" : "necromancer",
      "title" : "Necromancer",
      "description" : "Necromancers fight using demonic magic and can raise the dead, and handle close-range combat much better than most Wizards. Because of their close attunement to death, Necromancers can efficiently wield scythes and daggers, and are often able to drain life from enemies to heal allies.",
      "unlockText" : "Defeat enemies while your current health is lower than 20% of your max health.",
      "unlockStatus" : "ivrpgsunecromancer",
      "weaponText" : [
        "Gain access to For Us All, a demonic Scythe that can unleash unstable Demonic Energy.",
        "Gain access to Reap, a Tech that allows you to instantly kill low health enemies or spawn a friendly monster."
      ],
      "flavor" : [
        "Within the swirling darkness, a single drop of light remains.",
        "^magenta;Smother it.",
        "As the light fades, blackened embers spark, crossing out lines in history. Time is not absolute: no, of course not.",
        "^magenta;But you are.",
        "Disgust. Fear. Horror. Hatred. Ignore them. Ignore the stares and shudders. Ignore them all. For they do not understand: despite their cries, pleas, and hopes; you will snuff their life and replace it. After all:",
        "^magenta;Death comes for us all..."
      ]
    },
    {
      "name" : "battlemage",
      "title" : "Battle Mage",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubattlemage",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "warlock",
      "title" : "Warlock",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwarlock",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "elementalist",
      "title" : "Elementalist",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuelementalist",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "crusader",
      "title" : "Crusader",
      "description" : "Crusaders are holy fighters who crush enemies with devasting combos. Zealots who are unable to stomach heathens, Crusaders do poorly when touched by foes, but excel at killing enemies quickly. Crusaders only really use broadswords, but can still poorly wield two-handed melee weapons.",
      "unlockText" : "Use a Broadsword to defeat enemies. Unlocked faster by defeating Cultists or Avian Temple Guards.",
      "unlockStatus" : "ivrpgsucrusader",
      "weaponText" : [
        "Gain access to Oathkeeper, a Broadsword with a crazy combo and the ability to fire Holy Energy.",
        "Gain access to Resurgence, a Tech that modifies sprint and allows you to come back from certain death."
      ],
      "flavor" : [
        "Responsible for the death of thousands, the Crusaders took it upon themselves to annihilate the unfaithful, the aftermath of which was a festering reputation.",
        "And it continued to fester: impossible to remove. A connotation so great, even the mere name could send some into rage. It was, in all senses, ^magenta;a word of power.",
        "However, despite this, the mantle is once again ready to be worn. The looming threat of the unclean, of the Ruin, and the creatures like it, cannot be left unchecked. And thus, with history behind them, the Crusaders will rise again.",
        "^magenta;Deus Vult!"
      ]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat ghosts while Intelligence is greater than 40.",
      "unlockStatus" : "ivrpgsuwraith",
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ],
      "flavor" : [
        "\"^magenta;You no longer belong: a soulless puppet.^reset;\"",
        "\"No. I never belonged.\"",
        "\"^magenta;You are nothing: a shell of humanity.^reset;\"",
        "\"No. I was never human.\"",
        "\"^magenta;You. Are. Empty.^reset;\"",
        "\"Yea?\"",
        "\"^magenta;...^reset;\"",
        "\"And?\"",
        "- A passing conversation."
      ]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
	[
    {
      "name" : "shade",
      "title" : "Shade",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsushade",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "stalker",
      "title" : "Stalker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsustalker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "seductress",
      "title" : "Seductress",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuseductress",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "adept",
      "title" : "Adept",
      "description" : "Adepts are Ninjas who have harnessed chaotic energy, so much so that they have become unstable. Because of this, Adepts can utilize wands and can lighten themselves and nearby matter. However, the price for such power is costly...",
      "unlockText" : "Survive for 30 seconds very close to the Heart of Ruin while both Intelligence and Agility are greater than 40.",
      "unlockStatus" : "ivrpgsuadept",
      "weaponText" : [
        "Gain access to Phase Shift, a One-Handed Wand with phenomenal AoE damage against enemies and fantastic AoE ally support.",
        "Gain access to Flash Step, a Tech that replaces jumping with unstable, directional teleportation."
      ],
      "flavor" : [
        "She found there was no where left to go. Crushing pressure caused matter to simply collapse around her. Ruinous creatures reached out from the darkness behind her. And then, in front: nothing. Nothing at all.\n^red;And she shuddered, for it was impossible.^reset; Death around and death behind, yet in front, there was nothing. Nothing that edged into her muscle and flesh and sinew and bone. Nothing that clawed at her vision and ate at her brain. And she felt fear and joy and hatred and grief and disdain and arousal and pain, and it never stopped.\n^red;And then, even the death became nothing.^reset;\nIt was not there from the beginning.\nAnd it would not be there at the end.\nAnd she knew, and she laughed:\n^red;For there was nothing left for her to feel."
      ]
    },
    {
      "name" : "assassin",
      "title" : "Assassin",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuassassin",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "changeling",
      "title" : "Changeling",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuchangeling",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "darktemplar",
      "title" : "Dark Templar",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudarktemplar",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
	[
    {
      "name" : "mechanist",
      "title" : "Mechanist",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumechanist",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "deadshot",
      "title" : "Deadshot",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudeadshot",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vigilante",
      "title" : "Vigilante",
      "description" : "Vigilantes use their own moral system to enact justice as they see fit. Due to their love of pistols, they can easily dual-wield ranged weapons. When fighting villains, Vigilantes get a rush of power and energy to take matters into their own hands.",
      "unlockText" : "Use ranged weapons to defeat bandits and outlaws.",
      "unlockStatus" : "ivrpgsuvigilante",
      "weaponText" : [
        "Gain access to Anne and Marie, a pair of unique and powerful pistols that syngerize well together.",
        "Gain access to Desperado, a Tech that grants infinite Energy and ramps up power when used."
      ],
      "flavor" : [
        "Laws are forged in fires of fear and corruption; cast in iron to control and manipulate. But when the law is broken and action fails, what then? When retribution is in order, or revenge is needed? When peace cannot be kept, and villains arise without restraints? When morality is taken for granted, and fools erupt brazenly with uncontrolled conniptions?^orange; What then?",
        "Well, you don't need text in yellowed paper; or signatures in white boxes; or some haughty sheriff's permission; to decide. You enact your own laws. You control your own jurisdiction. And no matter what, no matter who, you uphold justice in your own name.",
        "^orange;And trust me: they will remember it."
      ]
    },
    {
      "name" : "titan",
      "title" : "Titan",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsutitan",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies while up close and personal.",
      "unlockStatus" : "ivrpgsuvanguard",
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ],
      "flavor" : [
        "She did what?",
        "^orange;You heard me the first time.",
        "Yea, but we're talking nearly 1000 enemy soldiers. With high-tech armor. And, you know... deadly weapons and what not.",
        "^orange;Right. Well: they're gone now.",
        "Ok, but is she alright?",
        "^orange;Funny you should ask.",
        "Uh-oh.",
        "^orange;No, you misunderstand...\nShe's never been better."
      ]
    },
    {
      "name" : "operative",
      "title" : "Operative",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuoperative",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "technomancer",
      "title" : "Technomancer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsutechnomancer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "dragoon",
      "title" : "Dragoon",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsudragoon",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
	[
    {
      "name" : "cannoneer",
      "title" : "Cannoneer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucannoneer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "saboteur",
      "title" : "Saboteur",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsusaboteur",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vinetender",
      "title" : "Vinetender",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuvinetender",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "hunter",
      "title" : "Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "assassin",
      "title" : "Assassin",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuassassin",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wraith",
      "title" : "Wraith",
      "description" : "Wraiths are spirits, no longer corporeal. Because of this, Wraiths are barely affected by gravity and can phase through matter when threatened. Wraiths are unable to wield large weapons and can no longer use magic.",
      "unlockText" : "Defeat ghosts while Intelligence is greater than 40.",
      "unlockStatus" : "ivrpgsuwraith",
      "weaponText" : [
        "Gain access to Soulless Whisper, a cursed Claw whose combo finisher allows for travel in any direction.",
        "Gain access to Dark Phase, a Tech that replaces jumping with the ability to hover through walls."
      ],
      "flavor" : [
        "\"^green;You no longer belong: a soulless puppet.^reset;\"",
        "\"No. I never belonged.\"",
        "\"^green;You are nothing: a shell of humanity.^reset;\"",
        "\"No. I was never human.\"",
        "\"^green;You. Are. Empty.^reset;\"",
        "\"Yea?\"",
        "\"^green;...^reset;\"",
        "\"And?\"",
        "- A passing conversation."
      ]
    },
    {
      "name" : "berserker",
      "title" : "Berserker",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuberserker",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "bountyhunter",
      "title" : "Bounty Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubountyhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "mercenary",
      "title" : "Mercenary",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsumercenary",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ],
  [
    {
      "name" : "pioneer",
      "title" : "Pioneer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsupioneer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "scout",
      "title" : "Scout",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuscout",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "captain",
      "title" : "Captain",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucaptain",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "voyager",
      "title" : "Voyager",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuvoyager",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "vanguard",
      "title" : "Vanguard",
      "description" : "Fight at the front lines! Vanguards are the first to taste bloodshed, excelling at close-range combat, but handling long-range combat poorly. Vanguards excel with Machine Pistols and often utilize melee weapons when they run out of energy.",
      "unlockText" : "Use ranged weapons to defeat enemies while up close and personal.",
      "unlockStatus" : "ivrpgsuvanguard",
      "weaponText" : [
        "Gain access to Danger Close, a One-Handed Submachine Gun that has terrible accuracy but shreds while near enemies.",
        "Gain access to Rush, a Tech that lets you travel towards and attack enemies near instantly."
      ],
      "flavor" : [
        "She did what?",
        "^yellow;You heard me the first time.",
        "Yea, but we're talking nearly 1000 enemy soldiers. With high-tech armor. And, you know... deadly weapons and what not.",
        "^yellow;Right. Well: they're gone now.",
        "Ok, but is she alright?",
        "^yellow;Funny you should ask.",
        "Uh-oh.",
        "^yellow;No, you misunderstand...\nShe's never been better."
      ]
    },
    {
      "name" : "conquistador",
      "title" : "Conquistador",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsu",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "wanderer",
      "title" : "Wanderer",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsuwanderer",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "bountyhunter",
      "title" : "Bounty Hunter",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsubountyhunter",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    },
    {
      "name" : "cleric",
      "title" : "Cleric",
      "description" : "-",
      "unlockText" : "Still unknown! New updates may shed light on this requirement.",
      "unlockStatus" : "ivrpgsucleric",
      "weaponText" : [
        "-"
      ],
      "flavor" : ["-"]
    }
  ]
]