{
	//All Weapon Damage Bonuses in weaponScaling.config
	"strength" : [
		{
			"text" : "Greatly Increases Shield Health.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Significantly Increases Two-Handed Melee Damage.",
			"type" : "weapon"
		},
		{
			"text" : "Slightly Increases One-Handed Melee Weapon Damage.^red; Doesn't stack with Dex.!^reset;",
			"type" : "weapon"
		},
		{
			"text" : "Minimally Increases Physical Resistance.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "physicalResistance",
					"amountType" : "amount",
					"amount" : 0.0025
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Strength:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Melee Weapons,\nand lowered to -25% for Mono-Wielded One-Handed Melee Weapons.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"agility" : [
		{
			"text" : "Significantly Increases Speed.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "movement",
					"stat" : "speedModifier",
					"amount" : 0.02
				}
			]
		},
		{
			"text" : "Increases Jump Height.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "movement",
					"stat" : "airJumpModifier",
					"amount" : 0.01
				}
			]
		},
		{
			"text" : "Decreases Fall Damage.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "fallDamageMultiplier",
					"amountType" : "amount",
					"amount" : 0.01,
					"negative" : true
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Agility:^reset;\nClassic Mode penalty for Speed and Jump Height halved.\nSpecialization penalty for Speed and Jump Height halved.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"vitality" : [
		{
			"text" : "Significantly Increases Max Health.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "maxHealth",
					"amountType" : "baseMultiplier",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Decreases Hunger Rate.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "foodDelta",
					"amountType" : "amount",
					"amount" : 0.0002
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Vitality:^reset;\nClassic Mode penalty for Max Health and Food Delta halved.\nSpecialization penalty for Max Health and Food Delta halved.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"vigor" : [
		{
			"text" : "Significantly Increases Max Energy.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "maxEnergy",
					"amountType" : "baseMultiplier",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Greatly Increases Energy Recharge Rate.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenPercentageRate",
					"amountType" : "amount",
					"amount" : 0.02
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Vigor:^reset;\nClassic Mode penalty for Max Energy and Energy Regeneration halved.\nSpecialization penalty for Max Energy and Energy Regeneration halved.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"intelligence" : [
		{
			"text" : "Greatly Increases Energy Recharge Rate and Staff Damage.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenPercentageRate",
					"amountType" : "amount",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Decreases Energy Recharge Delay.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "energyRegenBlockTime",
					"amountType" : "amount",
					"amount" : 0.01,
					"negative" : true
				}
			]
		},
		{
			"text" : "Slightly Increases Wand Damage.",
			"type" : "weapon"
		},
		{
			"text" : "^green;Starting From 20 Intelligence:^reset;\nClassic Mode penalty lowered to -50% for Staffs,\nand lowered to -25% for Mono-Wielded Wands.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"endurance" : [
		{
			"text" : "Increases Knockback Resistance and Physical Resistance.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "grit",
					"amountType" : "amount",
					"amount" : 0.01
				},
				{
					"type" : "status",
					"stat" : "physicalResistance",
					"amountType" : "amount",
					"amount" : 0.0075
				}
			]
		},
		{
			"text" : "Moderately Increases All Other Resistances.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "fireResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "electricResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "iceResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "poisonResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "shadowResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "cosmicResistance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "radioactiveResistance",
					"amountType" : "amount",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Endurance:^reset;\nClassic Mode penalty for all Resistances halved.\nSpecialization penalty for all Resistances halved.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"dexterity" : [
		{
			"text" : "Increases Ranged Weapon Damage, Bleed Chance and Bleed Length.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "ivrpgBleedChance",
					"amountType" : "amount",
					"amount" : 0.005
				},
				{
					"type" : "status",
					"stat" : "ivrpgBleedLength",
					"amountType" : "amount",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "Slightly Increases One-Handed Weapon Damage.^red; Doesn't stack with Strength!^reset;",
			"type" : "weapon"
		},
		{
			"text" : "Slightly Decreases Fall Damage.",
			"type" : "stat",
			"apply" : [
				{
					"type" : "status",
					"stat" : "fallDamageMultiplier",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.005,
					"negative" : true
				}
			]
		},
		{
			"text" : "^green;Starting From 20 Dexterity:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Ranged Weapons,\nlowered to -50% for Dual-Wielded Ranged and Melee Weapons,\nand lowered to -25% for Mono-Wielded One-Handed Melee and Ranged Weapons.",
			"type" : "classic",
			"apply" : [
				{
					"type" : "status",
					"stat" : "shieldHealth",
					"amountType" : "effectiveMultiplier",
					"amount" : 0.05
				}
			]
		}
	],
	"default" : [
		{
			"text" : "Click a stat's icon to see what occurs\nwhen that stat is raised."
		}
	]
		
}