{
	"strength" : [
		{
			"text" : "Greatly Increases Shield Health.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Significantly Increases Two-Handed Melee Damage.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Slightly Increases One-Handed Melee Weapon Damage.^red; Doesn't stack with Dex.!^reset;",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Minimally Increases Physical Resistance.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Strength:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Melee Weapons,",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "and lowered to -25% for Mono-Wielded One-Handed Melee Weapons.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"agility" : [
		{
			"text" : "Significantly Increases Speed.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Increases Jump Height.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Decreases Fall Damage.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Agility:^reset;\nClassic Mode penalty for Speed and Jump Height halved.\nSpecialization penalty for Speed and Jump Height halved.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"vitality" : [
		{
			"text" : "Significantly Increases Max Health.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Decreases Hunger Rate.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Vitality:^reset;\nClassic Mode penalty for Max Health and Food Delta halved.\nSpecialization penalty for Max Health and Food Delta halved.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"vigor" : [
		{
			"text" : "Significantly Increases Max Energy.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Greatly Increases Energy Recharge Rate.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Vigor:^reset;\nClassic Mode penalty for Max Energy and Energy Regeneration halved.\nSpecialization penalty for Max Energy and Energy Regeneration halved.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"intelligence" : [
		{
			"text" : "Greatly Increases Energy Recharge Rate and Staff Damage.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Decreases Energy Recharge Delay.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Slightly Increases Wand Damage.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Intelligence:^reset;\nClassic Mode penalty lowered to -50% for Staffs,\nand lowered to -25% for Mono-Wielded Wands.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"endurance" : [
		{
			"text" : "Increases Knockback Resistance and Physical Resistance.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Moderately Increases All Other Resistances.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Endurance:^reset;\nClassic Mode penalty for all Resistances halved.\nSpecialization penalty for all Resistances halved.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"dexterity" : [
		{
			"text" : "Increases Ranged Weapon Damage, Bleed Chance and Bleed Length.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Slightly Increases One-Handed Weapon Damage.^red; Doesn't stack with Strength!^reset;",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "Slightly Decreases Fall Damage.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		},
		{
			"text" : "^green;Starting From 20 Dexterity:^reset;\nClassic Mode penalty lowered to -50% for Two-Handed Ranged Weapons,\nlowered to -50% for Dual-Wielded Ranged and Melee Weapons,\nand lowered to -25% for Mono-Wielded One-Handed Melee and Ranged Weapons.",
			"stat" : "here",
			"type" : "here",
			"amount" : 0
		}
	],
	"default" : [
		{
			"text" : "Click a stat's icon to see what occurs\nwhen that stat is raised."
		}
	]
		
}