{
  "primary" : [
    "ivrpg_elementsunder",
    "ivrpg_elementburst",
    "ivrpg_elementbolt",
    "ivrpg_elementimplosion",
    "ivrpg_elementeruption",
    "ivrpg_chaosscythe",
    "ivrpg_chaosbeam",
    "ivrpg_holynova"
  ],

  "alt" : [
    "ivrpg_greaterbarrier",
    "ivrpg_greatermote",
    "ivrpg_greatermist",
    "ivrpg_elementwave",
    "ivrpg_elementblade",
    "ivrpg_elementscythe",
    "ivrpg_elementstorm",
    "ivrpg_nosferatu"
  ]
}
