{
  //Primary Abilities
  "ivrpg_elementsunder" : false,
  "ivrpg_elementburst" : {"fire" : true, "poison" : true, "nova" : true, "earth" : true, "demonic" : true},
  "ivrpg_elementbolt" : {"electric" : true, "ice" : true, "nova" : true, "earth" : true, "holy" : true},
  "ivrpg_elementimplosion" : false,
  "ivrpg_elementeruption" : false,
  "ivrpg_chaosscythe" : {"fire" : true, "demonic" : true, "ice" : true, "nova" : true},
  "ivrpg_chaosbeam" : {"electric" : true, "holy" : true, "poison" : true, "nova" : true},
  "ivrpg_holynova" : {"holy" : true},

  //Alt Abilities
  "ivrpg_greaterbarrier" : {"earth" : true},
  "ivrpg_greatermote" : {"fire" : true, "electric" : true, "holy" : true},
  "ivrpg_greatermist" : {"poison" : true, "ice" : true, "demonic" : true},
  "ivrpg_elementwave" : false,
  "ivrpg_elementblade" : {"fire" : true, "earth" : true, "holy" : true, "nova" : true},
  "ivrpg_elementscythe" : {"ice" : true, "earth" : true, "demonic" : true, "nova" : true},
  "ivrpg_elementstorm" : {"fire" : true, "electric" : true, "ice" : true, "poison" : true},
  "ivrpg_nosferatu" : {"demonic" : true}
}
