{
  //Primary Abilities
  "ivrpg_elementsunder" : "Elemental Sunder",
  "ivrpg_elementburst" : "Elemental Burst",
  "ivrpg_elementbolt" : "Elemental Bolt",
  "ivrpg_elementimplosion" : "Elemental Implosion",
  "ivrpg_elementeruption" : "Elemental Eruption",
  "ivrpg_chaosscythe" : "Chaos Scythe",
  "ivrpg_chaosbeam" : "Chaos Beam",
  "ivrpg_holynova" : "Holy Nova",

  //Alt Abilities
  "ivrpg_greaterbarrier" : "Greater Barrier",
  "ivrpg_greatermote" : "Greater Mote",
  "ivrpg_greatermist" : "Greater Mist",
  "ivrpg_elementwave" : "Elemental Wave",
  "ivrpg_elementblade" : "Elemental Blade",
  "ivrpg_elementscythe" : "Elemental Scythe",
  "ivrpg_elementstorm" : "Elemental Storm",
  "ivrpg_nosferatu" : "Nosferatu"
}
