{
  "gui" : {
    "windowtitle" : {
      "type" : "title",
      "title" : "Grimoire Inscriber",
      "subtitle" : "Words are power.",
      "icon" : {
        "type" : "image",
        "file" : "/professions/alchemist/inserter/portable_inserter_icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/objects/ivrpg_crafting/UI/grimoire_header.png",
      "fileBody" : "/objects/ivrpg_crafting/UI/grimoire_body.png",
      "fileFooter" : "/objects/ivrpg_crafting/UI/grimoire_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [423, 319]
    },
    "lblText1" : {
      "type" : "label",
      "position" : [219, 280],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a Grimoire, place one Leather in Grey Slot for the Grimoire's Cover.
      ^red;When creating Grimoire Pages, place one complete Grimoire in the Grey Slot."
    },
    "lblText2" : {
      "type" : "label",
      "position" : [219, 224],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a Grimoire, place five Bars of the following type in Yellow Slot to determine the Level:
      ^gray;Iron, Tungsten, Titanium, Durasteel, Violium/Aegisalt/Ferozium, Solarium
      ^red;When creating Grimoire Pages, place two Paper in the Yellow Slot."
    },
    "lblText3" : {
      "type" : "label",
      "position" : [219, 175],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a Grimoire, place one of the following in each Red Slot to determine each Ability's Element:
      ^gray;Venom Sample, Scorched Core, Cryonic Extract, Static Cell, Energized Star, Fertile Root, Vitriolic Matter
      ^magenta;Leaving a Red Slot empty results in the Earth Element."
    },
    "lblText4" : {
      "type" : "label",
      "position" : [219, 147],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a Grimoire, place one Grimoire Page in each Blue Slot."
    },
    "lblText5" : {
      "type" : "label",
      "position" : [219, 90],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a Grimoire, make sure everything is in place and press Inscribe.
      ^gray;The Grimoire will appear in the first Purple Slot.
      ^red;When creating Grimoire Pages, make sure everything is in place and press Inscribe.
      ^gray;The Grimoire Pages will fill the two Purple Slots."
    },
    "itemSlot1" : {
      "type" : "itemslot",
      "position" : [23, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot2" : {
      "type" : "itemslot",
      "position" : [59, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot3" : {
      "type" : "itemslot",
      "position" : [78, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot4" : {
      "type" : "itemslot",
      "position" : [97, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot5" : {
      "type" : "itemslot",
      "position" : [59, 74],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot6" : {
      "type" : "itemslot",
      "position" : [78, 74],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    }
  },
  "scripts" : [ "/objects/ivrpg_crafting/inscribe.lua" ],
  "scriptDelta" : 0,

  "scriptWidgetCallbacks" : [
    "leftClick",
    "rightClick"
  ]
}
