{
  "legarmour" : ["ivrpgaegisaltanklet", "ivrpgvioliumanklet", "ivrpgferoziumanklet", "ivrpgbronzeanklet", "ivrpgelectrumanklet", "ivrpgsteelanklet", "ivrpgsoulfireanklet", "ivrpghermesanklet", "ivrpgriptideanklet", "ivrpgaegisaltbelt", "ivrpgvioliumbelt", "ivrpgferoziumbelt", "ivrpgbronzebelt", "ivrpgelectrumbelt", "ivrpgsteelbelt", "ivrpgemeraldbelt", "ivrpgrubybelt", "ivrpgsapphirebelt"],
  
  "legwear" : ["ivrpgaegisaltanklet", "ivrpgvioliumanklet", "ivrpgferoziumanklet", "ivrpgbronzeanklet", "ivrpgelectrumanklet", "ivrpgsteelanklet", "ivrpgsoulfireanklet", "ivrpghermesanklet", "ivrpgriptideanklet", "ivrpgaegisaltbelt", "ivrpgvioliumbelt", "ivrpgferoziumbelt", "ivrpgbronzebelt", "ivrpgelectrumbelt", "ivrpgsteelbelt", "ivrpgemeraldbelt", "ivrpgrubybelt", "ivrpgsapphirebelt"],
  
  "chestarmour" : ["ivrpgaegisaltring", "ivrpgvioliumring", "ivrpgferoziumring", "ivrpgbronzering", "ivrpgelectrumring", "ivrpgsteelring", "ivrpgfluxring", "ivrpgghostlyring", "ivrpgspitefulring", "ivrpgaegisaltwatch", "ivrpgvioliumwatch", "ivrpgferoziumwatch", "ivrpgbronzewatch", "ivrpgelectrumwatch", "ivrpgsteelwatch", "ivrpghitechwatch", "ivrpgmechanicalwatch", "ivrpgsolarpoweredwatch"],
  
  "chestwear" : ["ivrpgaegisaltring", "ivrpgvioliumring", "ivrpgferoziumring", "ivrpgbronzering", "ivrpgelectrumring", "ivrpgsteelring", "ivrpgfluxring", "ivrpgghostlyring", "ivrpgspitefulring", "ivrpgaegisaltwatch", "ivrpgvioliumwatch", "ivrpgferoziumwatch", "ivrpgbronzewatch", "ivrpgelectrumwatch", "ivrpgsteelwatch", "ivrpghitechwatch", "ivrpgmechanicalwatch", "ivrpgsolarpoweredwatch"],
  
  "headarmour" : ["ivrpgaegisaltearring", "ivrpgvioliumearring", "ivrpgferoziumearring", "ivrpgbronzeearring", "ivrpgelectrumearring", "ivrpgsteelearring", "ivrpgdawnsearring", "ivrpgdusksearring", "ivrpgeaglesearring", "ivrpgaegisaltnecklace", "ivrpgvioliumnecklace", "ivrpgferoziumnecklace", "ivrpgbronzenecklace", "ivrpgelectrumnecklace", "ivrpgsteelnecklace", "ivrpgmemorylocket", "ivrpgpurifyingpendant", "ivrpgsaintlycharm"],
  
  "headwear" : ["ivrpgaegisaltearring", "ivrpgvioliumearring", "ivrpgferoziumearring", "ivrpgbronzeearring", "ivrpgelectrumearring", "ivrpgsteelearring", "ivrpgdawnsearring", "ivrpgdusksearring", "ivrpgeaglesearring", "ivrpgaegisaltnecklace", "ivrpgvioliumnecklace", "ivrpgferoziumnecklace", "ivrpgbronzenecklace", "ivrpgelectrumnecklace", "ivrpgsteelnecklace", "ivrpgmemorylocket", "ivrpgpurifyingpendant", "ivrpgsaintlycharm"]
}