{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/objectcrafting/campfire_header.png",
      "fileBody" : "/interface/objectcrafting/campfire_body.png",
      "fileFooter" : "/interface/objectcrafting/campfire_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [123, 105]
    },
    "lblText" : {
      "type" : "label",
      "position" : [70, 78],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "value" : "^#b9b5b2;Place Alchemic Pistol to the left and ACI to the right."
      },
    "itemSlot1" : {
      "type" : "itemslot",
      "position" : [23, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot2" : {
      "type" : "itemslot",
      "position" : [59, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot3" : {
      "type" : "itemslot",
      "position" : [78, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "itemSlot4" : {
      "type" : "itemslot",
      "position" : [97, 54],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "leftClick",
      "rightClickCallback" : "rightClick"
    },
    "pointer" : {
      "type" : "image",
      "position" : [45, 57],
      "file" : "/interface/objectcrafting/arrow.png"
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/objectcrafting/campfire_shine.png",
      "position" : [0, 12]
    }
  },

  "scripts" : [ "/professions/alchemist/inserter/inserter_slots.lua" ],
  "scriptDelta" : 0,

  "scriptWidgetCallbacks" : [
    "leftClick",
    "rightClick"
  ]

}
