{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/professions/smith/UI/smith_header.png",
      "fileBody" : "/professions/smith/UI/smith_body.png",
      "fileFooter" : "/professions/smith/UI/smith_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [195, 36],
      "base" : "/interface/objectcrafting/cook.png",
      "hover" : "/interface/objectcrafting/cookover.png",
      "caption" : "Smith"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [423, 319]
    },
    //"lblText" : {
      //"type" : "label",
      //"position" : [138, 79],
      //"hAnchor" : "mid",
      //"wrapWidth" : 295,
      //"fontSize" : 6,
      //"value" : ""
    //},
    "lblText1" : {
      "type" : "label",
      "position" : [219, 298],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "Place Electrum Bars in Yellow Slot. Requires ^red;exactly 2^reset; for Upgrades and ^red;exactly 4^reset; for Creation."
    },
    "lblText2" : {
      "type" : "label",
      "position" : [219, 254],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "Place 5 Bars in Grey Slot to determine Weapon Level, from 1 to 6. Accepts the following:
      ^gray;Iron, Tungsten, Titanium, Durasteel, Violium/Aegisalt/Ferozium, Solarium
      ^red;A higher tier will be introduced at a later date.^reset;"
    },
    "lblText3" : {
      "type" : "label",
      "position" : [219, 202],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "Place 1 Item in Red Slot to determine Element. Accepts the following:
      ^gray;Venom Sample, Scorched Core, Cryonic Extract, Static Cell, Glass (Keeps Element)
      ^white;Glass can be created using Sand in a Furnace. ^red;Do not use Glass Blocks.^reset;
      ^magenta;Legendary^gray; and ^yellow;Essential^gray; Weapons can not change element: either use Glass or their element's related Item."
    },
    "lblText4" : {
      "type" : "label",
      "position" : [219, 144],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "When creating a new weapon, place ^red;3 Coal^reset; in the Blue Slot.
      ^gray;Otherwise, place desired Items in Blue Slot. Accepts the following:
      ^white;Diamond (Increases Base Damage), Battery (Decreases Energy Cost), 3 Coal (No Stat Change)
      ^gray;Some Weapons do not accept these modifications,^red; so try using 3 Coal if your weapon is not being upgraded.^reset;
      ^white;You can only use Diamonds and Batteries once. Batteries can be crafted in a Furnace: ^red;don't use AA Batteries."
    },
    "lblText5" : {
      "type" : "label",
      "position" : [219, 85],
      "hAnchor" : "mid",
      "wrapWidth" : 420,
      "fontSize" : 7,
      "value" : "To upgrade an existing weapon, place it in the Purple Slot.
      ^gray;Otherwise, to create a new weapon, place an item in the Purple Slot. Accepts the following:^reset;
      Exactly 2 Sharpened Claw (Spear), Exactly 2 Hardened Carapace (Hammer), Exactly 6 Steel Bar (Broadsword),
      ^gray;Exactly 1 Sharpened Claw (Dagger), Exactly 1 Hardened Carapace (Axe), Exactly 3 Steel Bar (Shortsword)
      ^red;More Weapon Types will be introduced at a later date; Mod Weapon Types, like Katanas, will be included as well."
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [155, 54],
      "dimensions" : [5, 1],
      "spacing" : [20, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 5,
      "position" : [265, 54],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
