{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/professions/smith/UI/smith_header.png",
      "fileBody" : "/professions/smith/UI/smith_body.png",
      "fileFooter" : "/professions/smith/UI/smith_footer.png"
    },
    "toggleCrafting" : {
      "type" : "button",
      "position" : [120, 36],
      "base" : "/interface/objectcrafting/cook.png",
      "hover" : "/interface/objectcrafting/cookover.png",
      "caption" : "Smith"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [273, 179]
    },
    "lblText" : {
      "type" : "label",
      "position" : [138, 79],
      "hAnchor" : "mid",
      "wrapWidth" : 295,
      "fontSize" : 6,
      "value" : "^gray;Place Electrum Bars in Yellow Slot. Requires 2 for Upgrades and 4 for Creation.
      ^white;Place 5 Bars in Grey Slot to determine Weapon Level. Accepts the following:
      Copper, Iron, Tungsten, Titanium, Durasteel, Violium/Aegisalt/Ferozium, Solarium
      ^gray;Place 1 Item in Red Slot to determine Element. Accepts the following:
      Venom Sample, Scorched Core, Cryonic Extract, Static Cell, Glass (Keeps Element)
      ^white;Place desired Items in Blue Slot. Accepts the following:
      Diamond (+ Base Damage), Battery (- Energy Cost), 3 Coal (Same Stats)
      ^red;Must use Coal for creation! Modifiers (except Coal) only ever work once!
      ^gray;To upgrade an existing weapon, simply place the weapon in the Purple Slot.
      ^white;To create a new weapon, place an item in the Purple Slot. Accepts the following:
      2 Sharpened Claw (Spear), 2 Hardened Carapace (Hammer), 6 Steel Bar (Broadsword),
      1 Sharpened Claw (Dagger), 1 Hardened Carapace (Axe), 3 Steel Bar (Shortsword)"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [80, 54],
      "dimensions" : [5, 1],
      "spacing" : [20, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 5,
      "position" : [190, 54],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    }
  }
}
