{
  "animatedParts" : {
    "stateTypes" : {
      "armor" : {
        "priority" : 4,
        "default" : "on",
        "states" : {
          "on" : {
            "frames" : 1
          }
        }
      }
    },
    "parts" : {
      "armor" : {
        "properties" : {
          "fullbright" : true,
          "zLevel" : 15,
          "offset" : [0,5]
        },
        "partStates" : {
          "armor" : {
            "on" : {
              "properties" : {
                "image" : "/monsters/rpgmonsters/tankinterface/<armorType>.png:<armor><barFlipDirectives>"
              }
            }
          }
        }
      }
    }
  },
  "globalTagDefaults" : {
    "armor" : "10",
    "barFlipDirectives" : "",
    "armorType" : "burst"
  },
  "sounds" : {
    "fillTank" : [ "/sfx/tech/tech_superjump.ogg" ],
    "fillTank2" : [ "/sfx/tools/beamaxe.ogg" ],
    "tankFull" : [ "/sfx/objects/plantorb_open.ogg" ],
    "tankEmpty" : [ "/sfx/objects/plant_break1.ogg" ],
    "bolt" : [ "/sfx/projectiles/electric_barrier_shock1.ogg" ],
    "grow" : [ "/monsters/rpgmonsters/tankinterface/bloodexplosion/blood_loop.ogg" ]
  }
}