{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "fuelrodexp"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_poison2.ogg" ]
    },
    {
      "action" : "light",
      "color" : [166, 236, 165]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
