{
	"knight" : {
		"text" : "The Knight: Melee Tank. Does better with Two-Handed Melee Weapons, but still does great with Sword and Shield. The Knight's skills mostly improve defensive capabilities, though all have offensive measures as well. The Knight can heal via Perfect Shielding, and has higher Knockback Resistance.",
		"color" : "blue",
		"class" : 1
	},
	"wizard" : {
		"text" : "The Wizard: Ranged Utility. Does better with Staffs and Wands. The Wizard's skills mostly improve utility and movement. The Wizard can randomly apply Elemental Status (Fire, Ice, Lightning) to enemies while hitting them, and fares better against the Elements while holding Wands or Staffs.",
		"color" : "magenta",
		"class" : 2
	},
	"ninja" : {
		"text" : "The Ninja: Mixed-Range, Evasive DPS. Does better with Shurikens, but still does great with One-Handed (Non-Ranged) Weapons. The Ninja's skills mostly improve movement and evasion. The Ninja has an easier time causing Bleed, and can easily avoid Fall Damage.",
		"color" : "red",
		"class" : 3
	},
	"soldier" : {
		"text" : "The Soldier: Ranged Tank. Does better with Two-Handed Ranged Weapons, but can still utilize One-Handed Ranged Weapons fairly well. The Soldier's skills mostly improve utility and defense. The Soldier does more damage while at full Energy, and can randomly stun enemies while hitting them.",
		"color" : "orange",
		"class" : 4
	},
	"rogue" : {
		"text" : "The Rogue: Mixed-Range CC. Does better with One-Handed Weapons. The Rogue's skills mostly improve offensive capabilities, though also increase Physical, Poison, and Knockback Resistance. The Rogue can randomly Poison enemies, and is more Resistant to Poison while Food is near full.",
		"color" : "green",
		"class" : 5
	},
	"explorer" : {
		"text" : "The Explorer: Evasive Utility. Does better with Tools, like Pickaxes, Flashlights, or the Matter Manipulator. The Explorer's skills mostly improve movement and mining. The Explorer glows while Health is greater than half, and is slightly more Resistant to Physical Damage.",
		"color" : "yellow",
		"class" : 6
	},
	"default" : {
		"text" : "Click a Class' icon to see how that Class plays.",
		"color" : "white",
		"class" : 0
	}
}