{
	"title" : "No Class",
	"name" : "default",
	"image" : "/classes/icons/noclass.png",
	"color" : "white",
	"ability" : {
		"text" : "",
		"image" : "/objects/class/noclasseffect.png",
		"name" : ""
	},
	"classic" : [
		{
			"type" : "status",
			"text" : "No Negative Effects",
			"apply" : [
			]
		}
	],
	"scaling" : [
	],
	"weaponBonuses" : [
	],
	"passive" : [
	],
	"techs" : [
		{
			"title" : "",
			"type" : "",
			"name" : "",
			"level" : 4,
			"text" : ""
		},
		{
			"title" : "",
			"type" : "",
			"name" : "",
			"level" : 8,
			"text" : ""
		},
		{
			"title" : "",
			"type" : "",
			"name" : "",
			"level" : 16,
			"text" : ""
		},
		{
			"title" : "",
			"type" : "",
			"name" : "",
			"level" : 32,
			"text" : ""
		}
	],
	"weapon" : {
		"title" : "",
		"text" : [
		],
		"image" : "/classes/weapons/noclass.png",
		"name" : "",
		"quest" : ""
 	}
}