{
	"title" : "Explorer",
	"name" : "explorer",
	"image" : "/classes/icons/explorer.png",
	"color" : "yellow",
	"stats" : {
		"agility" : 4,
		"vitality" : 4,
		"vigor" : 3,
		"endurance" : 2
	},
	"ability" : {
		"text" : "While Health is greater than half, provide a bright yellow Glow.",
		"image" : "/scripts/explorerglow/explorerglow.png",
		"name" : "explorerglow"
	},
	"classic" : [
		{
			"type" : "status",
			"text" : "-15% Power Multiplier",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.85
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vitality",
			"textType" : "great",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "+10% Power, Speed, and Resistance while using Grappling Hooks, Rope, Mining Tools, Throwable Light Sources, or Flashlights.",
			"apply" : {
				"explorer" : {
					"amount" : 1.1,
					"twoHanded" : false,
					"extraStats" : {
						"poisonResistance" : 0.1,
						"fireResistance" : 0.1,
						"iceResistance" : 0.1,
						"electricResistance" : 0.1
					},
					"extraMovement" : {
						"speedModifier" : 1.1
					}
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+10% Physical Resistance.",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1
				}
			]
		}
	],
	"techs" : [
		{
			"title" : "Glide",
			"type" : "Leg",
			"name" : "explorerglide",
			"level" : 4,
			"text" : "An upgrade to Double Jump, hold [W] to glide forward, slowly losing altitude. You can use your double jump while gliding. Glide energy cost decreases with higher Agility."
		},
		{
			"title" : "Enhanced Dash",
			"type" : "Body",
			"name" : "explorerenhancedmovement",
			"level" : 8,
			"text" : "Press [G] (Bind [G] in your Controls) to switch between Enhanced Airdash and Enhanced Sprint. Enhanced Airdash travels further than Air Dash, and has a shorter cooldown. Enhanced Sprint is faster and costs less energy than Sprint."
		},
		{
			"title" : "Drill Sphere",
			"type" : "Head",
			"name" : "explorerdrillsphere",
			"level" : 16,
			"text" : "Press [H] (Bind [H] in your Controls) to transform into a fast Spike Sphere that can jump. Press [F] to drill down at incredible speed, draining your energy. You can drill whether or not you are transformed."
		},
		{
			"title" : "Enhanced Jump",
			"type" : "Leg",
			"name" : "explorerenhancedjump",
			"level" : 32,
			"text" : "An upgrade to Glide. Gain another three midair jumps and a wall jump. Midair jumps are 85% as effective. You cling to walls slightly longer than the normal Wall Jump and slide down slower as well. Glide energy cost decreases with higher Agility."
		}
	],
	"weapon" : {
		"title" : "Spira",
		"text" : [
			"The Spira is a one-handed drill with increased speed and infinite use. Hungry Spira draws items closer. Pressing shift while using Ravenous Spira causes no blocks to drop, but fills energy while breaking them."
		],
		"image" : "/classes/weapons/explorer.png",
		"name" : "explorerspiradrill",
		"quest" : "ivrpgspiraquest"
 	}
}