{
	"title" : "Knight",
	"name" : "knight",
	"image" : "/classes/icons/knight.png",
	"color" : "blue",
	"stats" : {
		"strength" : 5,
		"endurance" : 4,
		"vitality" : 3,
		"vigor" : 1
	},
	"ability" : {
		"text" : "Perfect Shields increase Damage by +20% for a short period.",
		"image" : "/scripts/knightblock/knightblock.png",
		"name" : "knightblock"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot equip Ranged or Magic Weapons.\nCannot Dual-Wield Weapons.",
			"textColor" : "#a01e00",
			"apply" : {
				"wand" : {
					"all" : true
				},
				"staff" : {
					"twoHanded" : true
				},
				"ranged" : {
					"all" : true
				},
				"weapon" : {
					"with" : [
						"weapon"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can equip Hunting Bows.",
			"textColor" : "green",
			"apply" : {
				"bow" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "movement",
			"text" : "90% Speed\n70% Jump Height",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"stat" : "speedModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				},
				{
					"stat" : "airJumpModifier",
					"amount" : 0.7,
					"halvingStat" : "agility",
					"halvingAmount" : 0.15
				}
			]
		},
		{
			"type" : "status",
			"text" : "75% Max Energy",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Strength",
			"textType" : "great",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.1
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "120% Base Power while using a Shield with a Shortsword, Longsword Mace, or Axe.",
			"type" : "weapon",
			"apply" : {
				"shield" : {
					"amount" : 1.2,
					"twoHanded" : false,
					"with" : [
						"shortsword",
						"axe",
						"mace",
						"longsword"
					]
				}
			}
		},
		{
			"text" : "120% Base Power with Broadswords and Greataxes.",
			"type" : "weapon",
			"apply" : {
				"broadsword" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"greataxe" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+20% Knockback Resistance.",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "grit",
					"amount" : 0.2
				}
			]
		}
	],
	"techs" : [
		{
			"title" : "Bash",
			"type" : "Body",
			"name" : "knightbash",
			"level" : 4,
			"text" : "An upgrade to Sprint, while running, enemies receive damage and knockback. Damage is doubled when holding up a shield. Damage scales with Strength and Run Speed. Energy Cost decreases with higher Agility."
		},
		{
			"title" : "Slam",
			"type" : "Leg",
			"name" : "knightslam",
			"level" : 8,
			"text" : "An upgrade to Double Jump, press [G] (Bind [G] in your Controls) while midair to slam downwards. You take no fall damage upon landing, and cause a small explosion, damaging enemies. Damage scales with Strength and distance fallen from activation."
		},
		{
			"title" : "Armor Sphere",
			"type" : "Head",
			"name" : "knightarmorsphere",
			"level" : 16,
			"text" : "An upgrade to Spike Sphere, while transformed, ignore knockback and deal contact damage to enemies. Armor is also increased while transformed."
		},
		{
			"title" : "Charge!",
			"type" : "Body",
			"name" : "knightcharge!",
			"level" : 32,
			"text" : "An upgrade to Bash. While sprinting, the player receives physical resistance. While damage remains the same, enemies are stunned on hit. Damage scales with Strength and Run Speed. Energy Cost decreases with higher Agility."
		}
	],
	"weapon" : {
		"title" : "Aegis",
		"text" : [
			"The Aegis is a broadsword that can be used as a shield. Perfect Blocking triggers the Knight's class ability. Perfect Blocking with the Vital Aegis restores health.",
			"Attack Animations by ^blue;Ribs^reset;. Check out ^blue;Project Blade Dance^reset; if you haven't already!"
		],
		"image" : "/classes/weapons/knight.png",
		"name" : "knightaegissword",
		"quest" : "ivrpgaegisquest"
 	}
}
