{
	"title" : "Ninja",
	"name" : "ninja",
	"image" : "/classes/icons/ninja.png",
	"color" : "red",
	"stats" : {
		"dexterity" : 6,
		"agility" : 5,
		"intelligence" : 2
	},
	"ability" : {
		"text" : "+10% Bleed Chance and 0.5s Bleed Length during Nighttime or while Underground.",
		"image" : "/scripts/ninjacrit/ninjacrit.png",
		"name" : "ninjacrit"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Two-Handed Weapons.\nCannot use Ranged Weapons.\n Cannot use Magic Weapons.",
			"textColor" : "red",
			"apply" : {
				"wand" : {
					"all" : true
				},
				"ranged" : {
					"all" : true
				},
				"weapon" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use Hunting Bows and the\nBroken Protectorate Broadsword.",
			"textColor" : "green",
			"apply" : {
				"bow" : {
					"all" : true
				},
				"brokenprotectoratebroadsword" : {
					"named" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use the Adaptable Crossbow,\nEnergy Whips, and all Katanas",
			"textColor" : "green",
			"apply" : {
				"soluskatana" : {
					"named" : true
				},
				"energywhip" : {
					"named" : true
				},
				"adaptablecrossbow" : {
					"named" : true
				},
				"katana" : {
					"all" : true
				}
			}
		},
		{
			"type" : "status",
			"text" : "-50% Max Health",
			"textColor" : "red",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.5,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.25
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Dexterity",
			"textType" : "amazing",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.1
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "115% Base Power while using Throwing Daggers, Knives, Kunai, Stars, or Shurikens.",
			"type" : "weapon",
			"apply" : {
				"ninja" : {
					"amount" : 1.15,
					"twoHanded" : false,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "110% Base Power while using Chakrams, Daggers, or Whips.",
			"type" : "weapon",
			"apply" : {
				"chakram" : {
					"amount" : 1.1,
					"twoHanded" : false,
					"allowSecond" : true
				},
				"dagger" : {
					"amount" : 1.1,
					"twoHanded" : false,
					"allowSecond" : true
				},
				"whip" : {
					"amount" : 1.1,
					"twoHanded" : false,
					"allowSecond" : true
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+10% Speed and Jump Height.",
			"type" : "movement",
			"apply" : [
				{
					"stat" : "speedModifier",
					"amount" : 1.1
				},
				{
					"stat" : "airJumpModifier",
					"amount" : 1.1
				}
			]
		},
		{
			"text" : "-10% Fall Damage.",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fallDamageMultiplier",
					"amount" : 0.1,
					"negative" : true
				}
			]
		}
	],
	"techs" : [
		{
			"title" : "Flash Jump",
			"type" : "Leg",
			"name" : "ninjaflashjump",
			"level" : 4,
			"text" : "Press [Space] while midair to burst forward. For a short time after jumping, you are invulnerable to damage. As long as you remain in the air with energy remaining, you are invulnerable to fall damage. You may do this twice while midair."
		},
		{
			"title" : "Vanish Sphere",
			"type" : "Head",
			"name" : "ninjavanishsphere",
			"level" : 8,
			"text" : "Press [F] to morph into an invulnerable spike ball. Energy drains quickly while active. The invulnerability ends when you run out of energy or press [F] while transformed. Unlike other Spike Spheres, Vanish Sphere's speed scales with Aglity."
		},
		{
			"title" : "Shadow Step",
			"type" : "Body",
			"name" : "ninjaassassinate",
			"level" : 16,
			"text" : "Press [G] (Bind [G] in your Controls) to vanish. After 2 seconds, you appear at your cursor (if possible). If holding a sharp weapon, slash where you appear. During the cooldown, lose 20% Physical Resistance. Energy Cost depends on Distance and Agility."
		},
		{
			"title" : "Wall Cling",
			"type" : "Leg",
			"name" : "ninjawallcling",
			"level" : 32,
			"text" : "An upgrade to Flash Jump. Cling to walls by moving against them during a jump, and refresh your jumps upon doing so. Press [S] to slide down while clinging. Press [Space] while clinging or sliding to jump. Move away from the wall to get off."
		}
	],
	"weapon" : {
		"title" : "Aether",
		"text" : [
			"The Aether is a shuriken that never runs out and always causes bleeding. Blood Aether tracks enemies and goes through both walls and enemies. The tracking scales with Dexterity, and its time to live increases with Agility."
		],
		"image" : "/classes/weapons/ninja.png",
		"name" : "ninjaaethershuriken",
		"quest" : "ivrpgaetherquest"
 	}
}