{
	"title" : "Rogue",
	"name" : "rogue",
	"image" : "/classes/icons/rogue.png",
	"color" : "green",
	"stats" : {
		"dexterity" : 4,
		"endurance" : 3,
		"agility" : 3,
		"vigor" : 3
	},
	"ability" : {
		"text" : "While your Food Meter is filled at least halfway, gain +20% Poison Resistance.",
		"image" : "/scripts/roguepoison/roguepoison.png",
		"name" : "roguepoison"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Two-Handed Weapons.\nCannot use Magical Weapons.",
			"apply" : {
				"weapon" : {
					"twoHanded" : true
				},
				"wand" : {
					"all" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Energy Whip",
			"apply" : {
				"ranged" : {
					"all" : true
				},
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "status",
			"text" : "+20% Hunger Rate\n-20% Max Health",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.8,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "foodDelta",
					"amount" : 0.002,
					"negative" : true,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.001
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Dexterity",
			"textType" : "great",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "+20% Power while dual-wielding One-Handed Weapons.",
			"apply" : {
				"weapon" : {
					"amount" : 1.20,
					"with" : [
						"weapon"
					]
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+20% Chance to Poison monsters on hit.",
			"type" : "ability"
		}
	],
	"techs" : [
		{
			"title" : "Deadly Stance",
			"type" : "Body",
			"name" : "roguedeadlystance",
			"level" : 4,
			"text" : "Press [G] (Bind [G] in your Controls) to toggle an ability that increases Physical and Poison Resistance and grants Knockback Immunity. Drains energy while active, and is toggled off when no energy remains."
		},
		{
			"title" : "Toxic Sphere",
			"type" : "Head",
			"name" : "roguetoxicsphere",
			"level" : 8,
			"text" : "Press [F] to transform into a poison-immune Spike Sphere. Left click while transformed to shoot out a ring of poison clouds (Damage scales with Dexterity). Hold Right Click while transformed to decrease your Hunger Bar to regenerate Health and Energy."
		},
		{
			"title" : "Escape!",
			"type" : "Leg",
			"name" : "rogueescape",
			"level" : 16,
			"text" : "An upgrade to Double Jump, press [Space] to launch yourself in a direction of your choosing, leaving a cloud of smoke behind that disorients enemies. Disoriented enemies are slowed and do less damage. Defaults to a backwards launch."
		},
		{
			"title" : "Toxic Aura",
			"type" : "Body",
			"name" : "roguetoxicaura",
			"level" : 32,
			"text" : "Press [G] (Bind [G] in your Controls) to toggle a toxic field that inflicts enemies with a weakening poison. These enemies take more poison and bleed damage. Drains energy while active, and is toggled off when no energy remains."
		}
	],
	"weapon" : {
		"title" : "Siphon",
		"text" : [
			"The Siphon is a claw that uses energy to deal massive damage for its finisher. Finishers: Critical Slice causes bleed and fills hunger. Venom Slice causes poison and fills health. Lightning Slice causes static and fills energy."
		],
		"image" : "/classes/weapons/rogue.png",
		"name" : "roguesiphonclaw",
		"quest" : "ivrpgsiphonquest"
 	}
}