{
	"title" : "Soldier",
	"name" : "soldier",
	"image" : "/classes/icons/soldier.png",
	"color" : "orange",
	"stats" : {
		"vigor" : 5,
		"dexterity" : 4,
		"vitality" : 2,
		"endurance" : 2
	},
	"ability" : {
		"text" : "110% Power when Energy reaches full.\nCancelled when Energy drops below 75%.",
		"image" : "/scripts/soldierdiscipline/soldierdiscipline.png",
		"name" : "soldierdiscipline"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Melee Weapons.\nCannot use Magic Weapons.\nCannot Dual-Wield.\nCannot use Erchius Eye.",
			"textColor" : "#a01e00",
			"apply" : {
				"wand" : {
					"all" : true
				},
				"staff" : {
					"twoHanded" : true
				},
				"weapon" : {
					"with" : [
						"weapon"
					]
				},
				"melee" : {
					"all" : true
				},
				"erchiuseye" : {
					"named" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can equip the Broken Protectorate Broadsword.",
			"textColor" : "green",
			"apply" : {
				"brokenprotectoratebroadsword" : {
					"named" : true
				}
			}
		},
		{
			"type" : "movement",
			"text" : "90% Jump Height",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"stat" : "airJumpModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"type" : "status",
			"text" : "-20% Status Resistance",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vigor",
			"textType" : "great",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "120% Base Power while using One-Handed Guns in combination with Grenades.",
			"type" : "weapon",
			"apply" : {
				"ranged" : {
					"amount" : 1.2,
					"with" : [
						"soldier"
					]
				}
			}
		},
		{
			"text" : "110% Base Power with Sniper Rifles, Assault Rifles, and Shotguns.",
			"type" : "weapon",
			"apply" : {
				"assaultrifle" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"sniperrifle" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"shotgun" : {
					"amount" : 1.10,
					"twoHanded" : true
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+10% Chance to Stun monsters on hit. Stun Length depends on damage dealt.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "soldierstun",
					"chance" : 0.1,
					"length" : 5,
					"basedOnDamagePercent" : true 
				}
			]
		}
	],
	"techs" : [
		{
			"title" : "MRE",
			"type" : "Head",
			"name" : "soldiermre",
			"level" : 4,
			"text" : "Press [F] to eat an MRE (Meal Ready to Eat), gaining a bit of food and all your energy. There is a cooldown of 90 seconds before you can do this again. While the cooldown is active, you gain slight health regen, but your overall speed is decreased."
		},
		{
			"title" : "Marksman",
			"type" : "Body",
			"name" : "soldiermarksman",
			"level" : 8,
			"text" : "Press [G] (Bind [G] in your Controls) to gain extra weapon damage with ranged weapons and decreased energy regen block time: however, speed and resistance are decreased. You can end the effect by pressing [G] again. The cooldown shortens if so."
		},
		{
			"title" : "Energize",
			"type" : "Leg",
			"name" : "soldierenergypack",
			"level" : 16,
			"text" : "An upgrade to Double Jump, press [Space] to dash. You can dash in all cardinal directions, as well as change direction mid-dash. Dash Duration scales with Agility. You can dash twice in mid-air."
		},
		{
			"title" : "Tank Sphere",
			"type" : "Head",
			"name" : "soldiertanksphere",
			"level" : 32,
			"text" : "Press [F] to switch to a slow-moving Spike Sphere. Left click to shoot a missile using some energy. Hold right click to drain your energy in order to shield yourself from damage.\nCreated by SushiSquid!"
		}
	],
	"weapon" : {
		"title" : "Versa",
		"text" : [
			"The Versa is a gun that can fire in two modes. Versa Impact and Ricochet's shotgun blast can be held to increase damage and snipe enemies. Versa Ricochet's bullets bounce and increase in power everytime they do."
		],
		"image" : "/classes/weapons/soldier.png",
		"name" : "soldierversagun",
		"quest" : "ivrpgversaquest"
 	}
}