{
	"title" : "Soldier",
	"name" : "soldier",
	"image" : "/classes/icons/soldier.png",
	"color" : "orange",
	"stats" : {
		"vigor" : 5,
		"dexterity" : 4,
		"vitality" : 2,
		"endurance" : 2
	},
	"ability" : {
		"text" : "110% Power when Energy reaches full.\nCancelled when Energy drops below 75%.",
		"image" : "/scripts/soldierdiscipline/soldierdiscipline.png",
		"name" : "soldierdiscipline"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Melee Weapons.\nCannot use Magic Weapons.\nCannot Dual-Wield.\nCannot use Erchius Eye.",
			"textColor" : "#a01e00",
			"apply" : {
				"wand" : {
					"all" : true
				},
				"staff" : {
					"twoHanded" : true
				},
				"weapon" : {
					"with" : [
						"weapon"
					]
				},
				"melee" : {
					"all" : true
				},
				"magic" : {
					"all" : true
				},
				"erchiuseye" : {
					"named" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can equip the Broken Protectorate Broadsword.\nCan wield Daggers with Ranged Weapons. ",
			"textColor" : "green",
			"apply" : {
				"brokenprotectoratebroadsword" : {
					"named" : true
				},
				"dagger" : {
					"without" : [
						"melee",
						"wand"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can equip Aura and Kitsunebi.",
			"textColor" : "green",
			"apply" : {
				"lucarioaura" : {
					"anyHand" : true
				},
				"kitsunebi" : {
					"anyHand" : true
				}
			}
		},
		{
			"type" : "movement",
			"text" : "90% Jump Height",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"stat" : "airJumpModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"type" : "status",
			"text" : "-20% Status Resistance",
			"textColor" : "#a01e00",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vigor",
			"textType" : "great",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "ok",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "120% Base Power with a One-Handed Ranged Weapon (or 2H FFS Pistol) without another weapon equipped. 110% Base Power with Sniper Rifles, Assault Rifles, and Shotguns.",
			"type" : "weapon",
			"apply" : {
				"ranged" : {
					"amount" : 1.2,
					"twoHanded" : false,
					"without" : [
						"weapon"
					]
				},
				"rpgffspistol" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "",
			"type" : "weapon",
			"apply" : {
				"assaultrifle" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"sniperrifle" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"shotgun" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"rpgffs" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"rpgffssniper" : {
					"amount" : 1.10,
					"twoHanded" : true
				},
				"rpgffsshotgun" : {
					"amount" : 1.10,
					"twoHanded" : true
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+10% Chance to Stun monsters on hit. Stun Length depends on damage dealt.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "soldierstun",
					"chance" : 0.1,
					"length" : 5,
					"basedOnDamagePercent" : true 
				}
			]
		}
	],
	"techs" : [
		{
			"title" : "MRE+",
			"type" : "Head",
			"name" : "soldiermre",
			"level" : 4,
			"text" : "Press [Shift] + [Special 1] to eat an MRE, relieving some hunger and regenerating all Energy: this has a 90 second cooldown. While in cooldown, Health regens slowly but Movement Speed is decreased.\nIf you have a Grenade equipped, press [Special 1] to toss a weaker, generated copy towards your cursor for 20 Energy: this has a 2 second cooldown."
		},
		{
			"title" : "Marksman",
			"type" : "Body",
			"name" : "soldiermarksman",
			"level" : 8,
			"text" : "Press [Special 2] (Bind [Special 2] in your Controls) to gain extra weapon damage with ranged weapons and decreased energy regen block time: however, speed and resistance are decreased. You can end the effect by pressing [Special 2] again. The cooldown shortens if so."
		},
		{
			"title" : "Energize",
			"type" : "Leg",
			"name" : "soldierenergypack",
			"level" : 16,
			"text" : "An upgrade to Double Jump, press jump while aerial to dash. You can dash in all cardinal directions, as well as change direction mid-dash. Unless [Shift] is held, default direction is upwards. Dash Duration scales with Agility. You can dash twice in mid-air."
		},
		{
			"title" : "Tank Sphere",
			"type" : "Head",
			"name" : "soldiertanksphere",
			"level" : 32,
			"text" : "Press [Special 1] to switch to a slow-moving Spike Sphere. Left click to shoot a missile using some energy. Hold right click to drain your energy in order to shield yourself from damage.\nCreated by SushiSquid!"
		}
	],
	"weapon" : {
		"title" : "Versa",
		"text" : [
			"The Versa is a gun that can fire in two modes. Versa Impact and Ricochet's shotgun blast can be held to increase damage and snipe enemies. Versa Ricochet's bullets bounce and increase in power everytime they do."
		],
		"image" : "/classes/weapons/soldier.png",
		"name" : "soldierversagun",
		"quest" : "ivrpgversaquest"
 	}
}
