{
	"title" : "Wizard",
	"name" : "wizard",
	"image" : "/classes/icons/wizard.png",
	"color" : "magenta",
	"stats" : {
		"intelligence" : 7,
		"endurance" : 6
	},
	"ability" : {
		"text" : "While using Wands or Staves, gain +10% Fire, Poison, and Ice Resistance.",
		"image" : "/scripts/wizardaffinity/wizardaffinity.png",
		"name" : "wizardaffinity"
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Two-Handed Melee Weapons.\nCannot use Ranged Weapons.",
			"apply" : {
				"ranged" : {
					"all" : true
				},
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Erchius Eye, Evil Eye, Magnorbs",
			"apply" : {
				"ranged" : {
					"all" : true
				},
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "movement",
			"text" : "-20% Speed\n-20% Jump Height",
			"apply" : [
				{
					"stat" : "speedModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
				{
					"stat" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"type" : "status",
			"text" : "-20% Physical Resistance",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "maxEnergy",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Intelligence",
			"textType" : "amazing",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "good",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1
				}
			]
		}
	],
	"weaponBonuses" : [
		{
			"text" : "+10% Power while using a Wand in either hand without any other weapon equipped.",
			"apply" : {
				"wand" : {
					"amount" : 1.1,
					"twoHanded" : false,
					"without" : [
						"melee",
						"ranged"
					]
				}
			}
		},
		{
			"text" : "+10% Power with Staves.",
			"apply" : {
				"staff" : {
					"amount" : 1.1,
					"twoHanded" : true
				}
			}
		}
	],
	"passive" : [
		{
			"text" : "+6% Chance to Freeze, Burn, or Electrify enemies on hit. These effects can stack.",
			"type" : "ability"
		}
	],
	"techs" : [
		{
			"title" : "Gravity Sphere",
			"type" : "Head",
			"name" : "wizardgravitysphere",
			"level" : 4,
			"text" : "An upgrade to Spike Sphere, while transformed you regen slightly and are affected by low gravity. In addition, hold left click to create a barrier that pushes enemies away, draining energy to do so."
		},
		{
			"title" : "Hover",
			"type" : "Leg",
			"name" : "wizardhover",
			"level" : 8,
			"text" : "Press [Space] while in air to hover towards your cursor. The further your cursor, the faster you move. Your Energy drains while you hover. Hover speed scales with Agility."
		},
		{
			"title" : "Translocate",
			"type" : "Body",
			"name" : "wizardtranslocate",
			"level" : 16,
			"text" : "Press [G] (Bind [G] in your Controls) to teleport to your cursor (if possible). There is a slight cooldown before you can teleport again. Energy Cost depends on Distance and Agility. During Missions (and in your ship), Translocate is Line-of-Sight only!."
		},
		{
			"title" : "Magic Shield",
			"type" : "Head",
			"name" : "wizardmagicshield",
			"level" : 32,
			"text" : "Press [F] to toggle a magical shield that provides invulnerability to you and nearby allies. Drains energy while active, and is toggled off when no energy remains."
		}
	],
	"weapon" : {
		"title" : "Nova",
		"text" : [
			"The Nova is a staff that can change elements. The staff cycles between Nova, Fire, Electric, and Ice. Nova weakens enemies to Fire, Electricity, and Ice. Enemies killed by Primed Nova explode."
		],
		"image" : "/classes/weapons/wizard.png",
		"name" : "wizardnovastaff",
		"quest" : "ivrpgnovaquest"
 	}
}