{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.5,
      "type" : "iceexplosionknockback",
      "config" : {
        "damageTeam" : {"type" : "friendly"},
        "damageKind" : "ivrpg_elementressice"
      }
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/statuseffects/frozen/frozen.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.5,
                "variance" : {
                  "timeToLive" : 0.15,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/frozendust2/frozendust2.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/snowballexplosion/snowballexplosion.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 2.0,
                "variance" : {
                  "timeToLive" : 0.4,
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 0
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 30
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 60
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 90
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 120
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 150
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 180
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 210
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 240
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 270
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 300
    },
    {
      "action" : "projectile",
      "type" : "ivrpg_elementressice_diminished",
      "inheritDamageFactor" : 0.1,
      "angle" : 330
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_ice1.ogg", "/sfx/gun/grenadeblast_ice2.ogg", "/sfx/gun/grenadeblast_ice3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "blue"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.1,
      "delaySteps" : 2
    }

  ]
}
