{
	"title" : "Assassin",
	"ability" : {
		"text" : "Stay Invisible until you damage a foe: defeat them,\nor stay untouched for 10 seconds, to regain Invisibility.",
		"image" : "/ivrpg_specs/abilities/assassin/predator.png",
		"name" : "ivrpgpredator",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "sendEntityMessage",
						"messageName" : "ivrpgPredator"
					}
				]
			}
		]
	},
	"classic" : [
		{
			"type" : "require",
			"text" : "^red;20% Base Power while a\nDagger is not equipped.",
			"apply" : {
				"dagger" : {
					"amount" : 0.2
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "+20% Poison and Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "+50% Demonic and Shadow Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 0.5
				}
			]
		},
		{
			"text" : "120% Base Power While Wielding Daggers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.2,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-50% Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "75% Max Health and Energy",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				},
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.75,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Assassinate",
		"type" : "Body",
		"name" : "ivrpgassassinate",
		"image" : "/ivrpg_specs/techs/assassin/assassinate.png",
		"text" : "An upgrade to Shadow Step. Energy cost is decreased and the initial windup is removed, but Max Range is decreased to 10 Blocks. Dealing damage with this attack has a 10% chance to instantly kill enemies that aren’t facing you, percent chance increasing by 10% for every 10% Health the enemy is missing. Failing to deal damage with this attack instantly drains all Energy."
	},
	"weapon" : {
		"title" : "Heartstring",
		"text" : [
			"Primary Fire: A quick stab that deals increased damage when the other hand is empty.",
			"Passive: Attack enemies to Seal their Fate. Using Heartstring or Assassinate to defeat an enemy whose Fate is Sealed causes all nearby enemies with Sealed Fates to perish."
		],
		"image" : "/ivrpg_specs/images/assassinweapon.png",
		"name" : [
			//"ivrpgwheartstring"
		]
	}
}
