{
	"title" : "Battle Mage",
	"ability" : {
		"text" : "Power Multiplier increases up to +200% when multiple enemies are present, but decreases by -50% when there are none nearby.",
		"image" : "/ivrpg_specs/abilities/battlemage/battletendency.png",
		"name" : "ivrpgbattletendency",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Two Handed Melee Weapons.",
			"apply" : {
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "disable",
			"text" : "Cannot use Wands.",
			"textColor" : "red",
			"apply" : {
				"wand" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Two-Handed Melee Weapons: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"melee" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "80% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Battle Aura",
		"type" : "Head",
		"name" : "ivrpgbattleaura",
		"image" : "/ivrpg_specs/techs/battlemage/battleaura.png",
		"oldText" : "Press [Special 1] or [Shift] + [Special 1] to cycle between auras. \n^red;Blood Aura: 115% Power Multiplier; 75% Max Health. Damaging foes regens Health.\n^gray;Iron Aura: 115% Max Health; 75% Speed and Jump Height.\nDamaging foes grants temporary Armor.\n^green;Ionic Aura: 115% Speed and Jump Height; 75% Power Multiplier.\nDamaging foes regens Energy.",

		"text" : "Press [Special 1] to toggle Battle Aura. ^red;Dealing Damage builds Blood Aura, raising Power Multiplier (10%-200%). ^gray;Nearing enemies builds Iron Aura, raising Armor (5-50) and Physical Resistance (1%-25%). ^green;Using Energy builds Ionic Aura, increasing Movement Speed (10%-50%) and Jump Height (5%-25%). ^reset;Auras that reach a limit emit Elemental Damage: toggle to burst them; multiple Auras bursting simultaneously increases Damage and Radius."

	},
	"weapon" : {
		"title" : "Solstice",
		"text" : [
			"Primary Fire: a combo of stabs and wide sweeps.",
			"Alt Fire: charge Solstice to increase its potency and cause it to deal Nova Damage. Use again while charged to discharge the energy with a damaging Nova explosion.",
			"Passive: while charged, every kill with Solstice prevents your Blood, Iron, And Ionic Auras from decaying for five seconds."
		],
		"image" : "/ivrpg_specs/images/battlemageweapon.png",
		"name" : [
			"ivrpgwsolstice"
		]
	}
}
