{
	"title" : "Berserker",
	"ability" : {
		"text" : "Rage upon defeating enemies, gaining increasing Power Multiplier and Physical Resistance, but decreased Max Energy.",
		"image" : "/ivrpg_specs/abilities/berserker/RAGEMEATHEADRAGE.png",
		"name" : "ivrpgRAGEMEATHEADRAGE",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Shotguns and Two-Handed Melee Weapons.",
			"apply" : {
				"shotgun" : {
					"anyHand" : true
				},
				"rpgffsshotgun" : {
					"anyHand" : true
				},
				"melee" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "120% Base Power with Shotguns: Scales with Strength.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shotgun" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"strength" : 0.02
					}
				}
			}
		},
		{
			"text" : "120% Base Power While Wielding Axes or Hammers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"axe" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"hammer" : {
					"amount" : 1.20,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "75% Max Energy",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				}
			]
		},
		{
			"text" : "-20% Poison, Fire, Electric, and Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Berserk",
		"type" : "Head",
		"name" : "ivrpgberserk",
		"image" : "/ivrpg_specs/techs/berserker/berserk.png",
		"text" : "Press [Special 1] to enter Berserk Mode: in Berserk Mode, you are immune to Knockback, and every percent of Health missing adds one percent to your Power Multiplier. In addition, while in Berserk Mode, if Health dips below 50% Max Health, gain a 20% Speed Multiplier and an additional 30 Armor.\n^red;While in Berserk Mode, your Max Health and Energy are reduced by 20%."

	},
	"weapon" : {
		"title" : "Murderstick",
		"text" : [
			"Primary Fire: Fire a spray of shrapnel that tears enemies apart.",
			"Alt Fire: Swing Murderstick like a hammer.",
			"Passive: Killing enemies with Alt Fire increases the damage and pellet count and decreases the spread of Primary Fire."
		],
		"image" : "/ivrpg_specs/images/berserkerweapon.png",
		"name" : [
			"ivrpgwmurderstick",
			"ivrpgmeteoricmetalbar",
			"ivrpgsquirmingnervebundle"
		]
	}
}
