{
	"title" : "Captain",
	"ability" : {
		"text" : "Endurance and Agility Scaling decrease when alone.\nVigor and Vitality Scaling increase when near allies.",
		"image" : "/ivrpg_specs/abilities/Captain/bythepeople.png",
		"name" : "ivrpgbythepeople",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {
			}
		}
	],
	"effects" : [
		{
			"text" : "115% Base Power with One-Handed Weapons.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wand" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "125% Power Multiplier to nearby allies.",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				//applied in the By The People status
			]
		},
		{
			"text" : "+15 Armor to nearby allies.",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				//applied in the By The People status
			]
		},
		{
			"text" : "90% Power Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.9,
					"halvingStat" : "strength",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Ally Stance",
		"type" : "Head",
		"name" : "ivrpgallystance",
		"image" : "/ivrpg_specs/techs/captain/allystance.png",
		"text" : "Press [F] to change stances, making nearby allies behave differently.\nNo Stance: No Change.\nPower Stance: 125% Power Multplier but -15 Armor.\nArmor Stance: +15 Armor but 75% Speed and Jump Height.\nSpeed Stance: 125% Speed and Jump Height but 75% Power Multiplier."

	},
	"weapon" : {
		"title" : "Leader's Rally",
		"text" : [
			"Primary Fire: Hold to wave, rallying nearby allies into battle. While holding, energy drains quickly, but various benefits are applied to both you and your allies.",
			"While Held: Gain slight Health Regeneration. Nearby allies gain 150% Power Multiplier, +25% Resistance to all damage types, and slight Energy Regeneration."
		],
		"image" : "/ivrpg_specs/images/captainweapon.png",
		"name" : [
			"ivrpgwleadersrally"
		]
	}
}
