{
	"title" : "Crusader",
	"ability" : {
		"text" : "After killing an enemy, Power and Armor increase, and hits cause Judgement. Receiving Contact Damage decreases your Speed.",
		"image" : "/ivrpg_specs/abilities/crusader/purity.png",
		"name" : "ivrpgpurity",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Two-Handed Melee Weapons.",
			"apply" : {
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "require",
			"text" : "^red;10% Base Power while a\nBroadsword is not equipped",
			"apply" : {
				"broadsword" : {
					"amount" : 0.1
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Holy Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyStatusImmunity",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 1
				}
			]
		},
		{
			"text" : "+25% Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "+15% Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.15
				}
			]
		},
		{
			"text" : "150% Base Power with Broadswords",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"broadsword" : {
					"amount" : 1.5,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "120% Speed",
			"textType" : "benefit",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 1.2
				}
			]
		},
		{
			"text" : "-50% Poison, Demonic, and Shadow (FU) Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		}
	],
	"tech" : {
		"title" : "Resurgence",
		"type" : "Body",
		"name" : "ivrpgresurgence",
		"image" : "/ivrpg_specs/techs/crusader/resurgence.png",
		"text" : "An upgrade to Knight's Bash. Cause Judgement while sprinting. Bash damage is doubled while wielding a Broadsword instead of a rasied Shield. When taking fatal damage, create a holy explosion and immediately regenerate all Health and Energy; gain 150% Speed for 2 seconds afterwards. Has a cooldown of 180 seconds. Explosion damage scales with Vigor."

	},
	"weapon" : {
		"title" : "Oathkeeper",
		"text" : [
			"Primary Fire: A long flurry of attacks. Some hits cause Judgement Status.",
			"Secondary Fire: Hold to open Heaven's Gate. Release to close Heaven's Gate. Uses up a lot of Energy."
		],
		"image" : "/ivrpg_specs/images/crusaderweapon.png",
		"name" : [
			"ivrpgwoathkeeper",
			"ivrpgmeteoricmetalbar",
			"ivrpgnovacrystal"
		]
	}
}