{
	"title" : "Deadshot",
	"ability" : {
		"text" : "Every second while still, Bleed Chance increases by +2.5% up to +50%, and Bleed Length increases by +0.05 seconds, up to +1 second.",
		"image" : "/ivrpg_specs/abilities/deadshot/deadlypatience.png",
		"name" : "ivrpgdeadlypatience",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Melee Weapons",
			"textColor" : "red",
			"apply" : {
				"melee" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Rifles and Bows.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"bow" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"assaultrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"rifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "90% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Ideal Shot",
		"type" : "Body",
		"name" : "ivrpgidealshot",
		"image" : "/ivrpg_specs/techs/deadshot/idealshot.png",
		"text" : "An upgrade to Marksman: while Ideal Shot is active, Power Multiplier is increased by 150%, but movement is completely disabled. Getting hit prematurely breaks this effect without the normal reduction to cooldown. Must be on ground to activate."

	},
	"weapon" : {
		"title" : "Lotus",
		"text" : [
			"Primary Fire: an accurate, high-damage shot.",
			"Alt Fire: use all remaining Energy to fire a medium-damage shot that can curve around walls.",
			"Passive: defeating an enemy with Bleed Damage increases the next shot's damage by 1.25x. Otherwise, defeating an enemy grants +5% Max Energy (scaling up to +50% Max Energy) until you are hit or this weapon is holstered."
		],
		"image" : "/ivrpg_specs/images/deadshotweapon.png",
		"name" : [
			"ivrpgwlotus"
		]
	}
}
