{
	"title" : "Dragoon",
	"ability" : {
		"text" : "Upon landing from more than 15 blocks up, gain Increased Power and Armor for up to six seconds, scaling with fall distance.",
		"image" : "/ivrpg_specs/abilities/dragoon/flightless.png",
		"name" : "ivrpgflightless",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Spears and Quarterstaves.",
			"apply" : {
				"spear" : {
					"anyHand" : true
				},
				"quarterstaff" : {
					"anyHand" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use Assault Rifles (and FFS ARs, SMGs, or DMRs)",
			"apply" : {
				"assaultrifle" : {
					"anyHand" : true
				},
				"rpgffs" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "Fire and Lava Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "lavaImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Fall Damage Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "fallDamageMultiplier",
					"amount" : 0
				}
			]
		},
		{
			"text" : "120% Base Power with Spears, Assault Rifles and FFS SMGs/DMRs",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.2,
					"anyHand" : true
				},
				"assaultrifle" : {
					"amount" : 1.2,
					"anyHand" : true
				},
				"rpgffs" : {
					"amount" : 1.2,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "110% Base Power with Quarterstaves",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-33% Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.33,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.165
				}
			]
		},
		{
			"text" : "-33% Energy\nRecharge Rate",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenPercentageRate",
					"amount" : 0.33,
					"negative" : true,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.165
				}
			]
		},
		{
			"text" : "+33% Energy\nRecharge Delay",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenBlockTime",
					"amount" : 0.33,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.165,
					"halvingInverse" : true
				}
			]
		}
	],
	"tech" : {
		"title" : "Dragon's Leap",
		"type" : "Leg",
		"name" : "ivrpgdragonsleap",
		"image" : "/ivrpg_specs/techs/dragoon/dragonsleap.png",
		"text" : "An upgrade to Knight's Slam. Hold [Shift] and jump while grounded to shoot into the air. Doing so provides Invulnerability until you start to fall or hit the ground. Using this prevents you from double jumping in midair. Double-tap down while aerial to crash downwards towards your cursor, invulnerable while doing so. Upon landing, flame erupts from the ground, dealing more damage the longer you fell, and scaling with Strength."
	},
	"weapon" : {
		"title" : "Dragon's Bane",
		"text" : [
			"Primary Fire: A stab with more range than normal Spears that Sears whatever it hits. Hold to shoot flames.",
			"Secondary Fire: Hold to charge a high-damage lunge. Release to lunge while cloaked in lightning, greatly protecting you from damage. Lightning follows your lunging path."
		],
		"image" : "/ivrpg_specs/images/dragoonweapon.png",
		"name" : [
			"ivrpgwdragonsbane",
			"ivrpgmeteoricmetalbar"
		]
	}
}
