{
	"title" : "Elementress",
	"ability" : {
		"text" : "Randomly weave between Fire, Ice, and Electricity, gaining immunity to that element and causing its status on every hit.",
		"image" : "/ivrpg_specs/abilities/elementress/elementalweave.png",
		"name" : "ivrpgelementalweave",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Staffs.",
			"textColor" : "red",
			"apply" : {
				"staff" : {
					"all" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "can use Nova/Super Nova/Primed Nova.",
			"textColor" : "green",
			"apply" : {
				"wizardnovastaff" : {
					"named" : true
				},
				"wizardnovastaff2" : {
					"named" : true
				},
				"wizardnovastaff3" : {
					"named" : true
				}
			}
		}
		
	],
	"effects" : [
		{
			"text" : "Vigor x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+50% Nova, Electric, Ice, and Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.5
				}
			]
		},
		{
			"text" : "+20% Cosmic, Holy and Demonic Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "120% Base Power with Wands, Saturn Batons, and Daggers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wand" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				},
				"magebaton" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				},
				"dagger" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "75% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.75,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.125
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Attune",
		"type" : "Body",
		"name" : "ivrpgattune",
		"image" : "/ivrpg_specs/techs/elementress/attune.png",
		"text" : "Press Shift + [Special 2] to swap between Fire, Ice, and Electric: gain Immunity to that Element. Press Primary/Alt Fire without an item equipped to utilize an ^green;Instant^reset; spell: defeating foes with this raises your Attunement. As your Attunement rises, your ^green;Instant^reset; spell is improved. Provided your Attunement is not empty, holding Shift before using your ^green;Instant^reset; spell casts its ^orange;Ultimate^reset; variant. Hold [Special 2] to use a ^magenta;Continuous^reset; spell.",
		"attuneTitles" : {
			"fire" : "Solar Attunement",
			"ice" : "Glacial Attunement",
			"electric" : "Ionic Attunement"
		},
		"attuneText" : {
			"fire" : "^red;Immune to Fire Damage. In Fire Weave, Energy costs are reduced.\n^green;Instant^reset;: Press Primary/Alt Fire to cast Lesser Flame Burst. Defeat enemies with Flame Burst to improve it from Standard to Greater to Chaos.\n^magenta;Continuous^reset;: Hold [Special 2] to cast Ignition.^orange;\nUltimate^reset;: Press Shift + Primary/Alt Fire to cast Solar Explosion.\nSee the Lore \"^blue;Mechanics^reset; - Elementress: Attune Abilities\" for more information.",
			
			"ice" : "^#6099B5;Immune to Ice Damage. In Ice Weave, Energy costs are reduced.\n^green;Instant^reset;: Press Primary/Alt Fire to cast Lesser Icicle Rush. Defeat enemies with Icicle Rush to improve it from Standard to Greater to Chaos.\n^magenta;Continuous^reset;: Hold [Special 2] to cast Frozen Guard.^orange;\nUltimate^reset;: Press Shift + Primary/Alt Fire to cast Glacial Spike.\nSee the Lore \"^blue;Mechanics^reset; - Elementress: Attune Abilities\" for more information.",
			
			"electric" : "^yellow;Immune to Electric Damage. In Electric Weave, Energy costs are reduced.\n^green;Instant^reset;: Press Primary/Alt Fire to cast Lesser Arc Flash. Defeat enemies with Arc Flash to improve it from Standard to Greater to Chaos.\n^magenta;Continuous^reset;: Hold [Special 2] to cast Jolt.^orange;\nUltimate^reset;: Press Shift + Primary/Alt Fire to cast Ionic Thunder.\nSee the Lore \"^blue;Mechanics^reset; - Elementress: Attune Abilities\" for more information."
		}
	},
	"weapon" : {
		"title" : "Eclipse",
		"text" : [
			"Primary Fire: Create shards of Nova Energy that shoot towards enemies after a short time. If there are no enemies nearby, shards follow your cursor.",
			"Passive: During Daytime, shards leave small flames after breaking. During Nighttime, shards leave trails of icicles after breaking."
		],
		"image" : "/ivrpg_specs/images/elementressweapon.png",
		"name" : [
			"ivrpgweclipse"
		]
	},
	"loreUnlocks" : {
		"zia" : "^#c16bff;People - Zia",
		"apprenticesfolly" : "^#c16bff;People - Zia - The Apprentice's Folly",
		"attunementabilities" : "^blue;Mechanics^reset; - Attunement Abilities"
	}
}
