{
	"title" : "Mercenary",
	"ability" : {
		"text" : "While dual-wielding Pistols and SMGs, Power increases as Energy drains, but minor Fire Damage is taken!",
		"image" : "/ivrpg_specs/abilities/mercenary/gunsablazing.png",
		"name" : "ivrpggunsablazing",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Daggers, Pistols, and Submachine Guns.",
			"apply" : {
				"dagger" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				},
				"pistol" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				},
				"machinepistol" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "120% Base Power While Wielding Daggers, Pistols, Submachine Guns, or Grenades.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"pistol" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"machinepistol" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"grenade" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"smg" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"soldier" : {
					"amount" : 1.20,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-20% Poison, Fire, Electric, and Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Make it Rain",
		"type" : "Leg",
		"name" : "ivrpgmakeitrain",
		"image" : "/ivrpg_specs/techs/mercenary/makeitrain.png",
		"text" : "An upgrade to Soldier's Energize: while aerial, jump to dash upwards. Holding [Shift] while dashing causes the dash to traverse in the held direction: doing so consumes 30 Energy to leave behind three Shrapnel Grenades. The Shrapnel from these grenades always cause the Bleed status. Dash up to three times while aerial."

	},
	"weapon" : {
		"title" : "Shredder",
		"text" : [
			"Primary Fire: Slowly but accurately fires piercing bullets.",
			"Passive: Bullet Damage and Rate of Fire increase during continuous fire."
		],
		"image" : "/ivrpg_specs/images/mercenaryweapon.png",
		"name" : [
			"ivrpgwshredder",
			"ivrpgfiringmechanism"
		]
	}
}
