{
	"title" : "Necromancer",
	"ability" : {
		"text" : "When you defeat an enemy, there is a 33.3% chance that it will rise from the dead to help you in battle for the next ten seconds.",
		"image" : "/ivrpg_specs/abilities/necromancer/raiseundead.png",
		"name" : "ivrpgraiseundead",
		"apply" : [
			{
				"type" : "onKill",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgundead",
						"chance" : 0.333,
						"length" : 10,
						"type" : "target"
					}
				] 
			},
			{
				"type" : "onKill",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgundead",
						"chance" : 0.50,
						"length" : 10,
						"type" : "target",
						"fromSourceKind" : ["ivrpg_demonicscythe_forusall"]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Daggers.",
			"apply" : {
				"dagger" : {
					"with" : [
						"dagger"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can Wield Scythes.",
			"apply" : {
				"scythe" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+20% Demonic Resistance\n+20% Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "Shadow Immunity (FU)",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "shadowStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 3
				}
			]
		},
		{
			"text" : "120% Base Power with Daggers and Scythes: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.2,
					"anyHand" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				},
				"scythe" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "50% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.50,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "-20% Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.20,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Reap",
		"type" : "Head",
		"name" : "ivrpgreap",
		"image" : "/ivrpg_specs/techs/necromancer/reap.png",
		"text" : "Press [Special 1], draining 10 Health to kill nearby foes with ^red;less than ^green;Intelligence/3+15%^reset; ^red;remaining Health,^reset; who burst into mist that heals allies but harms foes. ^red;Defeat foes with Reap to harvest Souls:^reset; press [Shift] + [Special 1] to turn Souls into Bone Pteropods with 10-second lifespans; whose Power, Health, and Armor mimic yours; ^green;and who transfer Health back to you equal to 10% of Damage you take.^reset; Intelligence speeds the harvest rate of Souls. "
	},
	"weapon" : {
		"title" : "For Us All",
		"text" : [
			"Primary Fire: A large arching slash that deals Demonic Damage and causes Bleed.",
			"Secondary Fire: Hold to charge, and release to release Demonic Energy. The longer you hold the more Demonic Energy is released.",
			"Passive: Defeating enemies with For Us All has a 50% chance to raise them as undead."
		],
		"image" : "/ivrpg_specs/images/necromancerweapon.png",
		"name" : [
			"ivrpgwforusall"
		]
	}
}