{
	"title" : "Pilot",
	"ability" : {
		"text" : "Regenerate Health and Food while on your Ship. While piloting a vehicle, gain +100 Armor.",
		"image" : "/ivrpg_specs/abilities/pilot/homeawayfromhome.png",
		"name" : "ivrpghomeawayfromhome",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "120% Base Power While Wielding Pistols.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"pistol" : {
					"amount" : 1.2,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "80% Base Power",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "baseMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8,
					"halvingStat" : "dexterity",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Nanobot Overdrive",
		"type" : "Leg",
		"name" : "ivrpgnanobotoverdrive",
		"image" : "/ivrpg_specs/techs/pilot/nanobotoverdrive.png",
		"text" : "An upgrade to Enhanced Jump. Press [Special 3] to pilot one of three vehicles: the X-Suit, V-Bomber, and U-Sub. Switch between them by holding [Shift] and pressing [Special 3]. The X-Suit is a powerful exosuit that increases functionality in most situations. The V-Bomber is a lightning-fast jet for agile combat in an atmosphere or the vacuum of space. The U-Sub is submarine with mining capabilities that withstands environmental damage."

	},
	"weapon" : {
		"title" : "V-Transform",
		"text" : [
			"Primary Fire: Fire an Armor-Piercing Round that tears through enemies.",
			"Passive: Rather than scaling via Dexterity, V-Transform scales via Vigor."
		],
		"image" : "/ivrpg_specs/images/pilotweapon.png",
		"name" : [
			//"ivrpgwdrunktransformer"
		]
	}
}
