{
	"title" : "Pioneer",
	"ability" : {
		"text" : "125% Power Multiplier and Max Energy on Bookmarked Planets.\n120% Speed and +10% Resistance on Non-Bookmarked Planets.",
		"image" : "/ivrpg_specs/abilities/pioneer/terranova.png",
		"name" : "ivrpgterranova",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "125% Base Power\nWith All Weapons",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"weapon" : {
					"amount" : 1.25,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "+0.5% Hunger Rate",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "foodDelta",
					"amount" : 0.005,
					"negative" : true,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.0025
				}
			]
		}
	],
	"tech" : {
		"title" : "Colonize",
		"type" : "Head",
		"name" : "ivrpgcolonize",
		"image" : "/ivrpg_specs/techs/pioneer/colonize.png",
		"text" : "Pressing [F] places a Colony Flag if possible. Colony Flags can be set as waypoints for easy teleportation access. 600 second cooldown. Teleporting to a new location immediately resets cooldown."

	},
	"weapon" : {
		"title" : "Nautilus",
		"text" : [
			"Primary Fire: Surrounds you in a bubble that eases traversal through liquids, increases Jump Height, and decreases Gravity. The bubble's health is your Max Health. Press [Shift] to descend while in liquid.",
			"Passive: Nautilus greatly increases Power and Fire Resistance while held, and its bubble nullifies status and environmental damage."
		],
		"image" : "/ivrpg_specs/images/pioneerweapon.png",
		"name" : [
			"ivrpgwnautilus"
		]
	},
	"loreUnlocks" : {
		"sen" : "^blue;People - Sen",
		"thelightattheendofthetunnel" : "^blue;People - Sen - The Light at the End of the Tunnel"
	}
}