{
	"title" : "Sage",
	"ability" : {
		"text" : "Nearby defeated enemies release Soul Essence that seeks out allies with low Health and grants immediate Health Regeneration.",
		"image" : "/ivrpg_specs/abilities/sage/soulconversion.png",
		"name" : "ivrpgsoulconversion",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Staves and Glaives.",
			"apply" : {
				"staff" : {
					"twoHanded" : true
				},
				"quarterstaff" : {
					"anyHand" : true
				},
				"glaive" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "110% Base Power with Fist Weapons and 120% Base Power with Glaives: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.1,
					"allowSecond" : true,
					"scaling" : {
						"intelligence" : 0.0075
					}
				},
				"glaive" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				},
				"fist" : {
					"amount" : 1.1,
					"allowSecond" : true,
					"scaling" : {
						"intelligence" : 0.0075
					}
				}
			}
		},
		{
			"text" : "+20% Poison and Demonic Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Chrysalis",
		"type" : "Head",
		"name" : "ivrpgchrysalis",
		"image" : "/ivrpg_specs/techs/sage/chrysalis.png",
		"text" : "Press [Special 1] to summon Souls. Deal ^orange;Fire, ^blue;Ice, ^white;or ^yellow;Electric ^reset;damage to fill a soul: filled souls grant ^green;+20% own Element ^red;(but -10% other Element)^green; Resistance, and +5% Physical Resistance ^red;but -5% Power Multiplier^white;. Kill a foe with ^magenta;Nova damage^white; to remove a filled soul's power and resistance reduction. Press [Special 1] again to burst each soul, granting buffs to nearby allies: +12s Rage from ^orange;Fire^reset;; +3s Health Regen from ^blue;Ice^reset;; +6s Energy Regen from ^yellow;Electric.^reset;"

	},
	"weapon" : {
		"title" : "Rapture",
		"text" : [
			"Primary Fire: A flurry of attacks.",
			"Secondary Fire: Charge up the energy deep within the staff to call down beams of light that scorch enemies with Holy Damage.",
			"Passive: Holding shift before each attack changes Rapture's element between Physical, Fire, Ice, Electric, and Nova."
		],
		"image" : "/ivrpg_specs/images/sageweapon.png",
		"name" : [
			"ivrpgwrapture",
			"ivrpgnovacrystal"
		]
	}
}
