{
	"title" : "Scout",
	"ability" : {
		"text" : "When beaming to a planet, gain 30% Increased Speed and Jump and lose the Explorer's Resistance Reduction for 180 seconds.",
		"image" : "/ivrpg_specs/abilities/scout/newfrontiers.png",
		"name" : "ivrpgnewfrontiers",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+50% Fall Damage Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fallDamageMultiplier",
					"amount" : 0.5,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Max Energy",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 1.2
				}
			]
		},
		{
			"text" : "80% Base Power",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "baseMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8,
					"halvingStat" : "dexterity",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Heartbeat Sensor",
		"type" : "Body",
		"name" : "ivrpgheartbeatsensor",
		"image" : "/ivrpg_specs/techs/scout/heartbeatsensor.png",
		"text" : "Press [Special 2] to perform a scan of the surrounding area. Hostile Monsters will be highlighted in red for a moment, Friendly Monsters in yellow, and ores in the area will be highlighted based on their rarity."

	},
	"weapon" : {
		"title" : "Third Eye",
		"text" : [
			"Primary Fire: Fire off a grappling hook with increased range that produces light along its rope.",
			"Passive: While grappling, all nearby enemies glow a bright yellow, and have a higher chance to be inflicted with Bleed."
		],
		"image" : "/ivrpg_specs/images/scoutweapon.png",
		"name" : [
			//"ivrpgwthirdeye"
		]
	}
}
