{
	"title" : "Shade",
	"ability" : {
		"text" : "Invisibility regenerates Health. In darkness, Max Health increases; in light, Max Health decreases and Energy Regen Delay increases.",
		"image" : "/ivrpg_specs/abilities/shade/shadowscalling.png",
		"name" : "ivrpgshadowscalling",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Enables Sniper Rifles",
			"apply" : {
				"sniperrifle" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Sniper Rifles and Bows. 110% Base Power with Fist Weapons.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"bow" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"fist" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"claw" : {
					"amount" : 1.1,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "+25% Demonic and Ice Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "Shadow Immunity (FU)",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "shadowStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 3
				}
			]
		},
		{
			"text" : "-25% Fire and Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Quasar",
		"type" : "Body",
		"name" : "ivrpgquasar",
		"image" : "/ivrpg_specs/techs/shade/quasar.png",
		"text" : "Press [Special 2] to toggle an unstable invisibility that drains Energy: dealing Damage while this is active absorbs all remaining Energy to cause a localized collapse on that point of damage. This collapse deals Demonic Damage to nearby enemies, and the amount of damage scales with the amount of Energy that was absorbed. If no damage is dealt before Energy drains completely or the ability is toggled off, you are weakened until Energy regenerates."
	},
	"weapon" : {
		"title" : "FEAR",
		"text" : [
			"Primary Fire: fire a powerful bone arrow that deals massive damage and travels much farther.",
			"Alt Fire: fire a mine that pumps out a viscous blackout gas. Standing in this gas grants camouflage, but also decreases Power Multiplier and prevents Energy Regen.",
			"Passive: Perfect Release causes both arrows and blackout gas to cause Sacrifice Status."
		],
		"image" : "/ivrpg_specs/images/shadeweapon.png",
		"name" : [
			"ivrpgwfear"
		]
	}
}
