{
	"title" : "Valkyrie",
	"ability" : {
		"text" : "Gain a short period of Low-Gravity upon jumping. Staying airborne triggers Health Regeneration.",
		"image" : "/ivrpg_specs/abilities/valkyrie/flightofthevalkyrie.png",
		"name" : "ivrpgflightofthevalkyrie",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can dual-wield Shortswords and/or Shortspears.",
			"apply" : {
				"shortsword" : {
					"with" : [
						"shortsword"
					]
				},
				"shortspear" : {
					"with" : [
						"shortspear"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+10% Ice and Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "120% Base Power with Spears: Scales with Dex.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.2,
					"anyHand" : true,
					"scaling" : {
						"dexterity" : 0.02
					}
				}
			}
		},
		{
			"text" : "115% Base Power with Shortswords and Shortspears.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shortsword" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"shortspear" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-10% Fire and Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"negative" : true,
					"amount" : 0.1,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"negative" : true,
					"amount" : 0.1,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Einherjar",
		"type" : "Head",
		"name" : "ivrpgeinherjar",
		"image" : "/ivrpg_specs/techs/valkyrie/einherjar.png",
		"text" : "Press [Special 1] to target the ally nearest your cursor, other than you, that is within your line of sight. This ally is granted Invulnerability and +150% Power for 5 seconds. Doing so instantly drains all Energy and prevents you from regenerating Energy. The cooldown after successfully using Einherjar is 30 seconds. Press [Shift] + [Special 1] to convert 20% of your own Health into an instant Heal for nearby allies: this has a cooldown of 5 seconds."

	},
	"weapon" : {
		"title" : "Gungnir",
		"text" : [
			"Primary Fire: A three-hit combo that ends with an explosion that causes Judgement.",
			"Secondary Fire: Charge a throw that marks enemies with Holy Light. Charging longer adds tracking and causes Gungnir to bounce.",
			"Passive: Enemies marked then defeated by Gungnir burst and grant Health Regeneration and 133% Power with Magic Weapons to nearby allies."
		],
		"image" : "/ivrpg_specs/images/valkyrieweapon.png",
		"name" : [
			"ivrpgwgungnir",
			"ivrpgmeteoricmetal"
		]
	}
}
