{
	"title" : "Warlock",
	"ability" : {
		"text" : "Being brought below 40% Health creates a rift collapse that pushes back surrounding enemies and causes Starfall.",
		"image" : "/ivrpg_specs/abilities/warlock/beyondthestars.png",
		"name" : "ivrpgbeyondthestars",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Wands.",
			"textColor" : "red",
			"apply" : {
				"wand" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor x2",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1,
					"negative" : true
				}
			]
		},
		{
			"text" : "Nova and Cosmic Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "novaStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "cosmicStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "120% Base Power With Staves.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"staff" : {
					"amount" : 1.2,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "85% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.85,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.075
				}
			]
		}
	],
	"tech" : {
		"title" : "Nova Step",
		"type" : "Leg",
		"name" : "ivrpgnovastep",
		"image" : "/ivrpg_specs/techs/warlock/novastep.png",
		"text" : "Jumping while midair leaves a small pulsing platform beneath you that slowly drifts downwards. While active, the platform drips an unstable viscous liquid that causes a random elemental status (Fire, Electric, Ice) along with the Nova Status."

	},
	"weapon" : {
		"title" : "Orbital",
		"text" : [
			"Primary Fire: Use up all remaining Energy to create 5 orbiting Nova Crystals that seek nearby enemies and explode.",
			"Alt Fire: Create a rift in space that pulls enemies closer.",
			"Passive: If your health drops below 40% while Crystals are active, each remaining Crystal will shatter and instantly heal you by 15%."
		],
		"image" : "/ivrpg_specs/images/warlockweapon.png",
		"name" : [
			//"ivrpgworbital"
		]
	}
}
