{
	"title" : "Warlock",
	"ability" : {
		"text" : "Every attack you make inflicts the Starfall Status and deals additional Nova Damage equal to 5% of the Damage dealt.",
		"image" : "/ivrpg_specs/abilities/warlock/beyondthestars.png",
		"name" : "ivrpgbeyondthestars",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "applySelfDamageRequest",
						"damagePercent" : 5,
						"damageType" : "IgnoresDef",
						"damageKind" : "ivrpg_nova_warlock"
					},
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgstarfall",
						"chance" : 1.01,
						"length" : 5,
						"type" : "target"
					}
				]
			}
		]
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Wands.",
			"textColor" : "red",
			"apply" : {
				"wand" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor x2",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1,
					"negative" : true
				}
			]
		},
		{
			"text" : "Nova and Cosmic Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "novaStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "cosmicStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "120% Base Power With Staves and Grimoires.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"staff" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"grimoire" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "85% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.85,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.075
				}
			]
		}
	],
	"tech" : {
		"title" : "Nova Step",
		"type" : "Leg",
		"name" : "ivrpgnovastep",
		"image" : "/ivrpg_specs/techs/warlock/novastep.png",
		"text" : "An upgrade to Controlled Hover: while hovering, a Nova barrier protects you from 20% of all incoming Physical Damage and immediately strips the ^red;Burning^reset;, ^yellow;Electrified^reset;, and ^blue;Frost Slow^reset; Statuses. Taking damage while this is active fires Nova waves towards the source of the damage.\nAdditionally, press [Special 3] while aerial to leave a Nova Platform beneath you that slowly drifts downwards: while active, the platform drips an unstable viscous liquid that causes Starfall. "

	},
	"weapon" : {
		"title" : "Orbital",
		"text" : [
			"Primary Fire: Command an orbiting Nova Crystal to seek out a nearby enemy. Holding [Shift] commands Primed Nova Crystals. ",
			"Alt Fire: Create up to four Primed Nova Crystals. Holding [Shift] launches all available Nova Crystals.",
			"Passive: Primed Nova Crystals burst when hitting enemies. At 40% Max Health or lower, each Primed Nova Crystal shatters to heal you by 10%."
		],
		"image" : "/ivrpg_specs/images/warlockweapon.png",
		"name" : [
			//"ivrpgworbital"
		]
	}
}
