{
	"title" : "Wraith",
	"ability" : {
		"text" : "Gravity barely affects you. Upon taking the damage, become invulnerable and ethereal for a short time.",
		"image" : "/ivrpg_specs/abilities/wraith/betweenworlds.png",
		"name" : "ivrpgbetweenworlds",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Melee Weapons.",
			"apply" : {
				"melee" : {
					"twoHanded" : false
				}
			}
		},
		{
			"type" : "disable",
			"text" : "^red;Cannot Wield Two-Handed Weapons, Ranged Weapons, or Magic Weapons.^reset;",
			"apply" : {
				"weapon" : {
					"twoHanded" : true
				},
				"ranged" : {
					"all" : true
				},
				"wand" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "150% Max Energy",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 1.5
				}
			]
		},
		{
			"text" : "Suffocation Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "breathProtection",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Poison, Fire, Demonic and Shadow (FU) Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "lavaImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "poisonStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "demonicStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "shadowStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 3
				}
			]
		},
		{
			"text" : "120% Base Power with Fist Weapons: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"fist" : {
					"amount" : 1.2,
					"anyHand" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "30% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.30,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.35
				}
			]
		},
		{
			"text" : "-20% Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.20,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "-50% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.50,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		}
	],
	"tech" : {
		"title" : "Dark Phase",
		"type" : "Leg",
		"name" : "ivrpgdarkphase",
		"image" : "/ivrpg_specs/techs/wraith/darkphase.png",
		"text" : "Upon attempting to jump, you hover towards the direction you are holding instead. While doing so, you are completely immune to damage, and can phase through blocks. Costs 40 Energy per second. Travel speed scales with Agility. Holding [Shift] while doing so will remove the invulnerability and phase-ability, and halves the overall Energy cost."

	},
	"weapon" : {
		"title" : "Soulless Whisper",
		"text" : [
			"Primary Fire: a short stab that does minimal Demonic Damage.",
			"Combo Finisher: uses Energy to slash towards your aiming direction. Causes the 'Cursed' status, which afflicts enemies with random ailments, like the inability to move or a health debuff."
		],
		"image" : "/ivrpg_specs/images/wraithweapon.png",
		"name" : [
			"ivrpgwsoullesswhisper",
			"ivrpgsquirmingnervebundle",
			"ivrpgnovacrystal"
		]
	}
}
