{
	"title" : "Arc",
	"name" : "arc",
	"image" : "/affinities/icons/shock.png",
	"color" : "yellow",
	"stats" : {
		"agility" : 3,
		"intelligence" : 5
	},
	"immunity" : [
		{
			"text" : "Slow",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Radiation",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Shadow (FU)",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Electric Damage",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Ice Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-30% Health while submerged",
			"type" : "ability",
			"apply" : [

			]
		},
		{
			"text" : "-1 E/s while submerged",
			"type" : "ability",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+30% chance to Overload enemies when dealing damage. Overloaded enemies have -25% Speed and chain electrifying lightning to nearby enemies.",
			"type" : "ability"
		},
		{
			"text" : "^yellow;Upon expending all Energy, release an Electric explosion that deals massive damage and causes Overload.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"Fully Upgraded!"
	]
}