{
	"title" : "Cryo",
	"name" : "cryo",
	"image" : "/affinities/icons/frost.png",
	"color" : "blue",
	"stats" : {
		"vitality" : 3,
		"endurance" : 5
	},
	"immunity" : [
		{
			"text" : "Ice Damage",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Wet",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Breathing",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Extreme Cold (FU)",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Fire Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-15% Speed",
			"type" : "movement",
			"apply" : [

			]
		},
		{
			"text" : "-15% Jump",
			"type" : "movement",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+30% chance to Embrittle enemies when dealing damage. Embrittled enemies have -25% Physical Resistance and shatter when killed. This Ice Explosion deals Cold Damage and Frost Slows enemies.",
			"type" : "ability"
		},
		{
			"text" : "^blue;When your Health falls below one third, nearby enemies are knocked back and slowed.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"Fully Upgraded!"
	]
}