{
	"title" : "Flame",
	"name" : "flame",
	"image" : "/affinities/icons/flame.png",
	"aesthetic" : "firetrailIVRPG",
	"color" : "red",
	"stats" : {
		"vigor" : 3
	},
	"immunity" : [
		{
			"text" : "Fire Status",
			"apply" : [
				{
					"stat" : "fireStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Heat",
			"apply" : [
				{
					"stat" : "biomeheatImmunity",
					"amount" : 1
				}
			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Poison Resistance",
			"type" : "status",
			"apply" : [
				{
					"stat" : "poisonResistance",
					"type" : "amount",
					"amount" : 0.25,
					"removingStat" : "ivrpguceternalflame",
					"negative" : true
				}
			]
		},
		{
			"text" : "-30% Energy while submerged",
			"type" : "ability"
		},
		{
			"text" : "-1 HP/s while submerged",
			"type" : "ability"
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Sear enemies when dealing damage. Seared enemies have -25% Power and are Burned for the duration of Sear.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "ivrpgsear",
					"chance" : 0.1,
					"length" : 5
				}
			]
		}
	],
	"upgrade" : [
		"+20% chance to Sear enemies",
		"+5 Strength",
		"Immunities Added:",
		"Fire Damage",
		"Lava",
		"Extreme Heat"
	]
}