{
	"title" : "Flame",
	"name" : "flame",
	"image" : "/affinities/icons/flame.png",
	"color" : "red",
	"stats" : {
		"vigor" : 3
	},
	"immunity" : [
		{
			"text" : "Fire Status",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Heat",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Poison Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-30% Energy while submerged",
			"type" : "ability",
			"apply" : [

			]
		},
		{
			"text" : "-1 HP/s while submerged",
			"type" : "ability",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Sear enemies when dealing damage. Seared enemies have -25% Power and are Burned for the duration of Sear.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"+20% chance to Sear enemies",
		"+5 Strength",
		"Immunities Added:",
		"Fire Damage",
		"Lava",
		"Extreme Heat"
	]
}