{
	"title" : "Frost",
	"name" : "frost",
	"image" : "/affinities/icons/frost.png",
	"color" : "blue",
	"stats" : {
		"vitality" : 3
	},
	"immunity" : [
		{
			"text" : "Ice Status",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Wet",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Cold",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Fire Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-15% Speed",
			"type" : "movement",
			"apply" : [

			]
		},
		{
			"text" : "-15% Jump",
			"type" : "movement",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Embrittle enemies when dealing damage. Embrittled enemies have -25% Physical Resistance and shatter when killed. This Ice Explosion deals Cold Damage and Frost Slows enemies.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"+20% chance to Embrittle enemies",
		"+5 Endurance",
		"Immunities Added:",
		"Ice Damage",
		"Breathing",
		"Extreme Cold"
	]
}