{
	"title" : "Infernal",
	"name" : "infernal",
	"image" : "/affinities/icons/flame.png",
	"color" : "red",
	"aesthetic" : "firetrailIVRPG",
	"stats" : {
		"vigor" : 3,
		"strength" : 5
	},
	"immunity" : [
		{
			"text" : "Fire Damage",
			"apply" : [
				{
					"stat" : "fireResistance",
					"amount" : 3
				},
				{
					"stat" : "fireStatusImmunity",
					"amount" : 1
				}
			]

		},
		{
			"text" : "Lava",
			"apply" : [
				{
					"stat" : "lavaImmunity",
					"amount" : 1
				}
			]

		},
		{
			"text" : "Extreme Heat (FU)",
			"apply" : [
				{
					"stat" : "biomeheatImmunity",
					"amount" : 1
				},
				{
					"stat" : "ffextremeheatImmunity",
					"amount" : 1
				}
			]

		}
	],
	"weakness" : [
		{
			"text" : "-25% Poison Resistance",
			"type" : "status",
			"apply" : [
				{
					"stat" : "poisonResistance",
					"type" : "amount",
					"amount" : 0.25,
					"removingStat" : "ivrpguceternalflame",
					"negative" : true
				}
			]
		},
		{
			"text" : "-30% Energy while submerged",
			"type" : "ability"
		},
		{
			"text" : "-1 HP/s while submerged",
			"type" : "ability"
		}
	],
	"passive" : [
		{
			"text" : "+30% chance to Sear enemies when dealing damage. Seared enemies have -25% Power and are Burned for the duration of Sear.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "ivrpgsear",
					"chance" : 0.3,
					"length" : 5
				}
			]
		}
	],
	"upgrade" : [
		"Fully Upgraded!"
	]
}