{
	"title" : "Infernal",
	"name" : "infernal",
	"image" : "/affinities/icons/flame.png",
	"color" : "red",
	"stats" : {
		"vigor" : 3,
		"strength" : 5
	},
	"immunity" : [
		{
			"text" : "Fire Damage",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Lava",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Extreme Heat (FU)",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Poison Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-30% Energy while submerged",
			"type" : "ability",
			"apply" : [

			]
		},
		{
			"text" : "-1 HP/s while submerged",
			"type" : "ability",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+30% chance to Sear enemies when dealing damage. Seared enemies have -25% Power and are Burned for the duration of Sear.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"Fully Upgraded!"
	]
}