{
	"title" : "Shock",
	"name" : "shock",
	"image" : "/affinities/icons/shock.png",
	"color" : "yellow",
	"stats" : {
		"agility" : 3
	},
	"immunity" : [
		{
			"text" : "Slow",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Electric Status",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Ice Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-30% Health while submerged",
			"type" : "ability",
			"apply" : [

			]
		},
		{
			"text" : "-1 E/s while submerged",
			"type" : "ability",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Overload enemies when dealing damage. Overloaded enemies have -25% Speed and chain electrifying lightning to nearby enemies.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"+20% chance to Overload enemies",
		"+5 Intelligence",
		"Immunities Added:",
		"Electric Damage",
		"Radiation",
		"Shadow"
	]
}