{
	"title" : "Shock",
	"name" : "shock",
	"image" : "/affinities/icons/shock.png",
	"color" : "yellow",
	"aesthetic" : "electrictrailIVRPG",
	"stats" : {
		"agility" : 3
	},
	"immunity" : [
		{
			"text" : "Slow",
			"type" : "status",
			"apply" : [
				{
					"stat" : "tarStatusImmunity",
					"amount" : 1
				},
				{
					"stat" : "slimeImmunity",
					"amount" : 1
				},
				{
					"stat" : "fumudslowImmunity",
					"amount" : 1
				},
				{
					"stat" : "jungleslowImmunity",
					"amount" : 1
				},
				{
					"stat" : "spiderwebImmunity",
					"amount" : 1
				},
				{
					"stat" : "sandstormImmunity",
					"amount" : 1
				},
				{
					"stat" : "snowslowImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Electric Status",
			"type" : "status",
			"apply" : [
				{
					"stat" : "electricStatusImmunity",
					"amount" : 1
				}
			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Ice Resistance",
			"type" : "status",
			"apply" : [
				{
					"stat" : "iceResistance",
					"type" : "amount",
					"amount" : 0.25,
					"removingStat" : "ivrpgplasmacore",
					"negative" : true
				}
			]
		},
		{
			"text" : "-30% Health while submerged",
			"type" : "ability"
		},
		{
			"text" : "-1 E/s while submerged",
			"type" : "ability"
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Overload enemies when dealing damage. Overloaded enemies have -25% Speed and chain electrifying lightning to nearby enemies.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"+20% chance to Overload enemies",
		"+5 Intelligence",
		"Immunities Added:",
		"Electric Damage",
		"Radiation",
		"Shadow"
	]
}