{
	"title" : "Toxic",
	"name" : "toxic",
	"image" : "/affinities/icons/venom.png",
	"color" : "green",
	"aesthetic" : "ivrpgpoisontrail",
	"stats" : {
		"vigor" : 1,
		"agility" : 1,
		"dexterity" : 6
	},
	"immunity" : [
		{
			"text" : "Poison Damage",
			"apply" : [
				{
					"stat" : "poisonResistance",
					"amount" : 3
				},
				{
					"stat" : "poisonStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Tar",
			"apply" : [
				{
					"stat" : "tarStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Extreme Radiation (FU)",
			"apply" : [
				{
					"stat" : "biomeradiationImmunity",
					"amount" : 1
				},
				{
					"stat" : "ffextremeradiationImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Proto (FU)",
			"apply" : [
				{
					"stat" : "protoImmunity",
					"amount" : 1
				}
			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Electric Resistance",
			"type" : "status",
			"apply" : [
				{
					"stat" : "electricResistance",
					"type" : "amount",
					"amount" : 0.25,
					"removingStat" : "ivrpgucincurable",
					"negative" : true
				}
			]
		},
		{
			"text" : "-15% Health",
			"type" : "status",
			"apply" : [
				{
					"stat" : "maxHealth",
					"type" : "effectiveMultiplier",
					"amount" : 0.15,
					"removingStat" : "ivrpgucincurable",
					"negative" : true
				}
			]
		}
	],
	"passive" : [
		{
			"text" : "+30% chance to Toxify enemies when dealing damage. Toxified enemies have -25% Max Health and are Poisoned for the duration of Toxify.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "ivrpgtoxify",
					"chance" : 0.3,
					"length" : 5
				}
			]
		}
	],
	"upgrade" : [
		"Fully Upgraded!"
	]
}