{
	"title" : "Venom",
	"name" : "venom",
	"image" : "/affinities/icons/venom.png",
	"color" : "green",
	"stats" : {
		"vigor" : 1,
		"agility" : 1,
		"dexterity" : 1
	},
	"immunity" : [
		{
			"text" : "Poison Status",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Tar",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "Radiation",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Electric Resistance",
			"type" : "status",
			"apply" : [

			]
		},
		{
			"text" : "-15% Health",
			"type" : "status",
			"apply" : [

			]
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Toxify enemies when dealing damage. Toxified enemies have -25% Max Health and are Poisoned for the duration of Toxify.",
			"type" : "ability"
		}
	],
	"upgrade" : [
		"+20% chance to Toxify enemies",
		"+5 Dexterity",
		"Immunities Added:",
		"Poison Damage",
		"Extreme Radiation",
		"Proto"
	]
}