{
	"title" : "Venom",
	"name" : "venom",
	"image" : "/affinities/icons/venom.png",
	"color" : "green",
	"aesthetic" : "poisontrailIVRPG",
	"stats" : {
		"vigor" : 1,
		"agility" : 1,
		"dexterity" : 1
	},
	"immunity" : [
		{
			"text" : "Poison Status",
			"apply" : [
				{
					"stat" : "poisonStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Tar",
			"apply" : [
				{
					"stat" : "tarStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Radiation",
			"apply" : [
				{
					"stat" : "biomeradiationImmunity",
					"amount" : 1
				}
			]
		}
	],
	"weakness" : [
		{
			"text" : "-25% Electric Resistance",
			"type" : "status",
			"apply" : [
				{
					"stat" : "electricResistance",
					"type" : "amount",
					"amount" : 0.25,
					"removingStat" : "ivrpgucincurable",
					"negative" : true
				}
			]
		},
		{
			"text" : "-15% Health",
			"type" : "status",
			"apply" : [
				{
					"stat" : "maxHealth",
					"type" : "effectiveMultiplier",
					"amount" : 0.15,
					"removingStat" : "ivrpgucincurable",
					"negative" : true
				}
			]
		}
	],
	"passive" : [
		{
			"text" : "+10% chance to Toxify enemies when dealing damage. Toxified enemies have -25% Max Health and are Poisoned for the duration of Toxify.",
			"type" : "onHit",
			"apply" : [
				{
					"effect" : "ivrpgtoxify",
					"chance" : 0.1,
					"length" : 5
				}
			]
		}
	],
	"upgrade" : [
		"+20% chance to Toxify enemies",
		"+5 Dexterity",
		"Immunities Added:",
		"Poison Damage",
		"Extreme Radiation",
		"Proto"
	]
}