{
  "gui" : {
    "background" : {
      "zlevel" : -6,
      "type" : "background",
      "fileHeader" : "/interface/RPGskillbook/header.png",
      "fileBody" : "/interface/RPGskillbook/background.png",
      "fileFooter" : "/interface/RPGskillbook/footer.png"
    },
    "bookTabs" : {
      "type" : "radioGroup",
      "zlevel" : 2,
      "callback" : "updateBookTab",
      "toggleMode" : false,
      "buttons" : [
        {
          "id" : 0,
          "selected" : true,
          "position" : [4, 283],
          "baseImage" : "/interface/RPGskillbook/overviewtab.png",
          "baseImageChecked" : "/interface/RPGskillbook/overviewtab_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "tabname" : "Overview"
          }
        },
        {
          "id" : 1,
          "position" : [4, 258],
          "baseImage" : "/interface/RPGskillbook/stattab.png",
          "baseImageChecked" : "/interface/RPGskillbook/stattab_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "tabname" : "Stats"
          }
        },
        {
          "id" : 2,
          "position" : [4, 233],
          "baseImage" : "/interface/RPGskillbook/classtab.png",
          "baseImageChecked" : "/interface/RPGskillbook/classtab_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "tabname" : "Classes"
          }
        },
        {
          "id" : 3,
          "position" : [4, 208],
          "baseImage" : "/interface/RPGskillbook/affinitytab.png",
          "baseImageChecked" : "/interface/RPGskillbook/affinitytab_select.png",
          "pressedOffset" : [0, 0],
          "data" : {
            "tabname" : "Affinities"
          }
        }
      ]
    },
    "tabLabel" : {
      "type" : "label",
      "position" : [196, 308],
      "hAnchor" : "mid",
      "value" : "Overview"
    },
	"xpLabel" : { 
      "type" : "label",
      "position" : [332, 11],
      "vAnchor" : "bottom",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "XP",
      "color" : [193,211,40],
	  "visible" : true,
      "mouseTransparent" : true
    },
	"levelLabel" : { 
      "type" : "label",
      "position" : [10, 7],
      "vAnchor" : "bottom",
      "hAnchor" : "left",
      "width" : 120,
      "value" : "Level 1",
      "color" : "white",
      "fontSize" : 15.5,
      "mouseTransparent" : true
    },
    "experiencebar" : {
      "zlevel" : 10,
      "type" : "progress",
      "position" : [208,11],
      "background" : "/interface/RPGskillbook/emptybar.png",
      "size" : [120,8],
      "progressSet" : {
        "inner" : "/interface/RPGskillbook/experiencebar.png",
        "type" : "repeat"
      },
      "direction" : "horizontal"
    },
    "experiencebaricon" : {
    	"type" : "image",
    	"file" : "/interface/RPGskillbook/experienceorb_iconsmall.png",
    	"position" : [200,11],
    	"zlevel": 10
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [363, 328]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Mysterious Book",
      "subtitle" : "^#b9b5b2;Use it to strengthen your character!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/RPGskillbook/RPGskillbookicon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "layoutBG" : {
      "type" : "image",
      "file" : "/interface/RPGskillbook/layoutbg.png",
      "position" : [29, 25],
      "zlevel" : -5
    },
    "layout" : {
      "type" : "layout",
      "layoutType" : "basic",
      "rect" : [31,34,340,270]
    }
  },

  "scripts" : [ "/interface/RPGskillbook/RPGskillbookinterface.lua" ],
  "scriptDelta" : 1,

  "scriptWidgetCallbacks" : [
    "updateBookTab"
  ],

  "nameLabel" : "name > ",
  "descriptionLabel" : "description > ",

  "sounds" : {
  }
}
