{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "smallregularexplosionuniversal"
    },
    {
      "action" : "loop",
      "count" : 6,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.85,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "rotation" : 180
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/ivrpg_specs/techs/mercenary/projectiles/shrapnelgrenade_blast1.ogg", "/ivrpg_specs/techs/mercenary/projectiles/shrapnelgrenade_blast2.ogg", "/ivrpg_specs/techs/mercenary/projectiles/shrapnelgrenade_blast3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "gray"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.25,
      "delaySteps" : 2
    }

  ]
}
