{
	"title" : "Alchemist",
	"name" : "alchemist",
	"image" : "/professions/alchemist/icon.png",
	"color" : "magenta",
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Wands, Sat Batons, and Magic Orbs.",
			"apply" : {
				"wand" : {
					"onlyWithCorrectWeapons" : true
				},
				"magebaton" : {
					"onlyWithCorrectWeapons" : true
				},
				"magicorb" : {
					"onlyWithCorrectWeapons" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "+7% Fire, Electric, Ice, and Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.07
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.07
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.07
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.07
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "As long as you have enough Energy, drain 1 Energy/Pixel to transmute half of all Pixels you gain into Experience. Pixels are converted with 50% efficiency, for a rate of 1 XP per 2 Pixels. This ability will not affect Pixels you already have, but will affect pixels gained from selling items."
	},
	"ability" : {
		"text" : "Doing Elemental Damage provides +50% Resistance to that element for 10 seconds.",
		"name" : "ivrpgalchemiststatus"
	},
	"crafting" : {
		"type" : "ivrpgalchemiststation",
		"text" : "The Alchemist Station allows you craft throwable potions! Be careful, using too many raises ^red;Toxicity^reset;, which lowers Max Energy and Power."
	}
}
