{
	"title" : "Bard",
	"name" : "bard",
	"image" : "/professions/bard/icon.png",
	"color" : "white",
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+10 Protection",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "protection",
					"amount" : 10
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "Holding an instrument in hand causes defeated enemies to occasionally drop more experience."
	},
	"ability" : {
		"text" : "Holding an instrument in hand provides nearby players with various buffs, depending on the instrument.",
		"name" : "ivrpgbardstatus"
	},
	"crafting" : {
		"type" : "ivrpgbardstation",
		"text" : "The Bard Station allows you to craft instruments!"
	}
}