{
	"title" : "Botanist",
	"name" : "botanist",
	"image" : "/professions/botanist/icon.png",
	"color" : "green",
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+20% Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "As long as you have energy, walking over dirt automatically tills and waters it."
	},
	"ability" : {
		"text" : "",
		"name" : "ivrpgbotaniststatus"
	},
	"crafting" : {
		"type" : "ivrpgbotaniststation",
		"text" : "The Botanist Station allows you to synthesize various seeds!"
	}
}