{
	"title" : "Engineer",
	"name" : "engineer",
	"image" : "/professions/engineer/icon.png",
	"color" : "#fd6422",
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Ranged Weapons.",
			"apply" : {
				"ranged" : {
					"onlyWithCorrectWeapons" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "+10% Ice Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "+10% Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "AA Batteries, Batteries, and S-Power Cells in your inventory are instantly used when Energy falls below 25% Max Energy. Items are used from weakest to strongest, and instantly grant Energy. AA Batteries give +20 Energy, Batteries give +60 Energy, and S-Power Cells restore 50% of Max Energy. There is a 10 second cooldown between each activation!"
	},
	"ability" : {
		"text" : "While Hunger is near satiated, you and nearby Players and NPCs gain increased Max Energy.",
		"name" : "ivrpgengineerstatus"
	},
	"crafting" : {
		"type" : "ivrpgengineerstation",
		"text" : "The Engineer Station allows you craft electronics using fewer materials!"
	}
}