{
  "requiresBlueprint" : true,
  "craftingSound" : "/sfx/interface/crafting_general1.ogg",

  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/professions/invisibleui.png",
      "fileBody" : "/professions/invisibleui.png",
      "fileFooter" : "/professions/invisibleui.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/professions/invisibleui.png",
      "hover" : "/professions/invisibleui.png",
      "pressed" : "/professions/invisibleui.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/professions/invisibleui.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/professions/invisibleui.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnUpgrade" : {
      "type" : "button",
      "disabledImage" : "/professions/invisibleui.png",
      "base" : "/professions/invisibleui.png",
      "position" : [139, 258],
      "zlevel" : 5
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 243],
      "hAnchor" : "mid",
      "value" : ""
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 243],
      "hAnchor" : "mid",
      "value" : ""
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/professions/invisibleui.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/professions/invisibleui.png",
      "hover" : "/professions/invisibleui.png",
      "position" : [271, 43],
      "caption" : ""
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/professions/invisibleui.png",
      "hover" : "/professions/invisibleui.png",
      "position" : [271, 43],
      "caption" : ""
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/professions/invisibleui.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/professions/invisibleui.png",
      "baseImageChecked" : "/professions/invisibleui.png",
      "checkable" : true,
      "checked" : false,
      "position" : [47, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [58, 58],
      "hAnchor" : "left",
      "value" : ""
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/professions/invisibleui.png",
            "unselectedBG" : "/professions/invisibleui.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/professions/invisibleui.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : ""
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/professions/invisibleui.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/professions/invisibleui.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/professions/invisibleui.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [60, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblItemTab" : {
      "type" : "image",
      "file" : "/professions/invisibleui.png",
      "position" : [6, 223],
      "zlevel" : 6
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [4, 221],
          "baseImage" : "/professions/invisibleui.png",
          "baseImageChecked" : "/professions/invisibleui.png",
          "data" : {
            "filter" : [ "fakefiltertab" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
