{
	"title" : "Jeweler",
	"name" : "jeweler",
	"image" : "/professions/jeweler/icon.png",
	"color" : "blue",
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+30 Max Energy",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "maxEnergy",
					"amount" : 30
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "As long as you have more than 20 Food, drain 1 Food per 2 Experience Orbs to refine half of all bonus Experience Orbs you gain into Pixels. Experience Orbs are refined with 50% efficiency, for a rate of 1 Pixel per 2 Experience Orbs. Bonus Experience Orbs are gained via the Intelligence Stat: the nearest Player with the highest Intelligence determines this."
	},
	"ability" : {
		"text" : "Craft Jewelry that you and your allies can slot into armor (like Augments). Certain Jewelry grants unique effects when you wear them. See each piece of Jewelry for more information.",
		"name" : "ivrpgjewelerstatus"
	},
	"crafting" : {
		"type" : "ivrpgjewelerstation",
		"text" : "The Jeweler Station allows you to craft jewelry and remove jewelry from armor."
	}
}