{
	"title" : "Medic",
	"name" : "medic",
	"image" : "/interface/RPGskillbook/professions/medic_on.png",
	"color" : "white",
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+20 Max Health",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "maxHealth",
					"amount" : 20
				}
			]
		},
		{
			"text" : "+10% Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "Health Items, such as Bandages, Salves, and Medpacks, are instantly used when Health falls below 25% Max Health. Items are used from weakest to strongest, and are only used when you are not affected by a Regeneration Status."
	},
	"ability" : {
		"text" : "Nearby Friendly Players and NPCs gain slight Health Regeneration when your own Health is above 50% Max Health.",
		"name" : "regeneration2"
	},
	"crafting" : {
		"type" : "OpenCraftingInterface",
		"interactData" : {
			"config" : "/interface/windowConfig/crafting.config",
			"filter" : ["crafting"]
		},
		"text" : "Craft Medical Supplies in your special Crafting Station with increased efficiency."
	}
}