{
	"title" : "Medic",
	"name" : "medic",
	"image" : "/professions/medic/icon.png",
	"color" : "red",
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "+20 Max Health",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "maxHealth",
					"amount" : 20
				}
			]
		},
		{
			"text" : "+10% Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "Salves, Bandages, Medpacks, and Nanowrap Bandages in your inventory are instantly used when Health falls below 25% Max Health. If you have some of each, the stronger, faster ones are used first. The cooldown before this effect can happen again lasts as long as the duration of the healing item that was used, and the effect does not occur if you are already under the effect of a healing consumable."
	},
	"ability" : {
		"text" : "When your own Health is above 50% Max Health, nearby friendly Players and NPCs, up to 10 blocks away, gain slight Health Regeneration.",
		"name" : "ivrpgmedicstatus"
	},
	"crafting" : {
		"type" : "ivrpgmedicstation",
		"text" : "The Medic Station allows you to craft healing consumables using fewer materials."
	}
}