{
	"title" : "Miner",
	"name" : "miner",
	"image" : "/professions/miner/icon.png",
	"color" : "#80401c",
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Two-Handed Melee Weapons",
			"apply" : {
				"melee" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "+20% Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "Provide a glow underground that brightens and changes color when nearing ores in a 10 block radius. However, as your Energy / Max Energy ratio decreases, the glow weakens. The glow will match the color of the rarest nearby ore!"
	},
	"ability" : {
		"text" : "While Deep Underground, gain +10 Armor, +10% Physical Resistance, and 0.8x Fall Damage Multiplier.",
		"name" : "ivrpgminerstatus"
	},
	"crafting" : {
		"type" : "ivrpgminerstation",
		"text" : "The Miner Station allows you to smelt ore with greater yield, create alloys, and craft pickaxes!"
	}
}