{
	"medic" : {
		"text" : "The Medic supports their allies with passive healing. It provides access to cheap, craftable medical supplies, such as bandages and salve.",
		"color" : "red",
		"profession" : 1
	},
	"tamer" : {
		"text" : "The Tamer easily tames monsters and heals tamed creatures on the go. It provides access to cheap, craftable Capture Pods, as well as Advanced Capture Pods.",
		"color" : "#555555",
		"profession" : 2
	},
	"alchemist" : {
		"text" : "The Alchemist provides allies with unique statuses and inflicts dangerous ailments on enemies. It provides access to craftable, throwable potions.",
		"color" : "magenta",
		"profession" : 3
	},
	"bard" : {
		"text" : "The Bard plays music to support allies with increased resistance. It provides access to craftable instruments.",
		"color" : "yellow",
		"profession" : 4,
		"disabled" : true
	},
	"chef" : {
		"text" : "The Chef cooks wonderful delicacies to keep hunger satiated and give various bonuses. It provides access to cheap, craftable unique foods.",
		"color" : "#ffc4fa",
		"profession" : 5,
		"disabled" : true
	},
	"miner" : {
		"text" : "The Miner digs deep without fear, lighting up the darkness to find ores. It provides access to better ore conversion, enabling better resource usage.",
		"color" : "#80401c",
		"profession" : 6
	},
	"engineer" : {
		"text" : "The Engineer tinkers to create awesome mechanisms and buildings. It provides access to cheap, craftable electronics and scientific components.",
		"color" : "#fd6422",
		"profession" : 7
	},
	"botanist" : {
		"text" : "The Botanist grows herbs and gently tends to fields with great efficiency. It provides access to craftable seeds and better farming capabilities.",
		"color" : "green",
		"profession" : 8,
		"disabled" : true
	},
	"jeweler" : {
		"text" : "The Jeweler forms beautiful jewelry and sells them for high prices. It provides access to craftable accessories that augment armor.",
		"color" : "blue",
		"profession" : 9
	},
	"smith" : {
		"text" : "The Smith toils away to make dangerous weapons and strong armor. It provides access to craftable melee weapons and means to upgrade all weapons.",
		"color" : "#BBBBBB",
		"profession" : 10
	},
	"default" : {
		"text" : "Click a Profession's icon to see its benefits.",
		"color" : "white",
		"profession" : 0,
		"disabled" : true
	}
}