{
	"title" : "Smith",
	"name" : "smith",
	"image" : "/professions/smith/icon.png",
	"color" : "#BBBBBB",
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Melee Weapons.",
			"apply" : {
				"melee" : {
					"onlyWithCorrectWeapons" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "+10% Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "110% Armor",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "protection",
					"amount" : 1.1
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "As long as you have enough Energy, and upon taking Elemental Damage, drain up to 45 Energy to gain 15 seconds of +25% Resistance against that element. Only one kind of Resistance can apply at any given time. Energy Cost lowers if the buff is already applied."
	},
	"ability" : {
		"text" : "While Hunger is near satiated, you and nearby Players and NPCs gain increased Armor.",
		"name" : "ivrpgsmithstatus"
	},
	"crafting" : {
		"type" : "ivrpgsmithstation",
		"text" : "The Smith Station allows you upgrade weapons and craft melee weapons!"
	}
}