{
	"title" : "Tamer",
	"name" : "tamer",
	"image" : "/professions/tamer/icon.png",
	"color" : "#555555",
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Whips.",
			"apply" : {
				"whip" : {
					"onlyWithCorrectWeapons" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "+10% Physical Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "+5 Armor",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "protection",
					"amount" : 5
				}
			]
		}
	],
	"scaling" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		}
	],
	"passive" : {
		"text" : "Monster Food crafted in the Tamer Station, Raw Poultry, Fish, and Steak in your inventory are instantly used when your active Captured Monster's Health falls below 50% Max Health. Raw Poultry, Fish, and Steak provide Health Regeneration, while Monster Food provides extra bonuses. Monster Food is prioritized. There is a 30 second cooldown between each activation!"
	},
	"ability" : {
		"text" : "Nearby friendly Monsters gain Significantly Increased Armor and Increased Power and Movement Speed. This effect gets stronger as your Health / Max Health ratio decreases.",
		"name" : "ivrpgtamerstatus"
	},
	"crafting" : {
		"type" : "ivrpgtamerstation",
		"text" : "The Tamer Station allows you to craft Capture Pods, Monster Accessories, and Monster Food!"
	}
}