{
	"title" : "Adept",
	"ability" : {
		"otext" : "Nearby allies gain a temporary Speed Boost once Energy recharges. 150% Armor at Max Energy, 50% Armor at 0 Energy.",
		"text" : "Nearby allies gain a temporary Speed Boost once Energy recharges. When Energy reaches zero, nearby enemies are pushed away.",
		"image" : "/specs/abilities/adept/agilemagic.png",
		"name" : "ivrpgagilemagic",
		"apply" : [
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Wands.",
			"apply" : {
				"wand" : {
					"with" : [
						"wand",
						"melee"
					],
					"allowAlone" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+25% Elemental Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "radioactiveResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "115% Base Power with Wands: Scales with Dex.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wand" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true,
					"scaling" : {
						"dexterity" : 0.01
					}
				}
			}
		},
		{
			"text" : "66.6% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.666,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.167
				}
			]
		},
		{
			"text" : "-25% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Flash Step",
		"type" : "Leg",
		"name" : "ivrpgflashstep",
		"image" : "/specs/techs/adept/flashstep.png",
		"text" : "While holding [Shift], jump to instantly teleport towards the direction you are holding. Energy Cost is 10 per Flash Step and decreases with higher Intelligence. Distance scales with Agility, from 10 up to a max of 15. After 8 quick Flash Steps, each within 1.5 seconds of each other, subsequent Flash Steps cause strain on the body and begin to deal damage. ^red;You can Flash Step through and into walls, so be careful.^reset;"
	},
	"weapon" : {
		"title" : "Phase Shift",
		"text" : [
			"Primary Fire: While charged, create rifts of collapse along the path you draw. Upon releasing, unstable energy streams along the path to damage enemies in its wake. When the energy reaches a rift, an implosion occurs, drawing enemies closer.",
			"Passive: The unstable energy increases in power every time it reaches a rift."
		],
		"image" : "/specs/images/adeptweapon.png",
		"name" : [
			"ivrpgwphaseshift"
		]
	}
}