{
	"title" : "Adept",
	"ability" : {
		"text" : "Nearby allies gain a temporary Speed Boost once Energy recharges. 150% Armor at Max Energy, 50% Armor at 0 Energy.",
		"image" : "/specs/abilities/adept/agilemagic.png",
		"name" : "ivrpgagilemagic",
		"apply" : [
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Wands.",
			"apply" : {
				"wand" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+25% Elemental Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "radioactiveResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "115% Base Power with Wands: Scales with Dex.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wand" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true,
					"scaling" : {
						"dexterity" : 0.01
					}
				}
			}
		},
		{
			"text" : "66.6% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.666,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.167
				}
			]
		},
		{
			"text" : "-25% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Flash Step",
		"type" : "Leg",
		"name" : "ivrpgflashstep",
		"image" : "/specs/techs/adept/flashstep.png",
		"text" : "Upon attempting to jump, you instantly teleport towards the direction you are holding instead. Energy Cost is 10 per Flash Step and decreases with higher Intelligence. Distance scales with Agility, from 10 up to a max of 15, and is halved when holding [Shift]. After 8 quick Flash Steps, each within 1.5 seconds of each other, subsequent Flash Steps cause strain on the body and begin to deal damage. ^red;You can Flash Step through and into walls, so be careful.^reset;"
	},
	"weapon" : {
		"title" : "Phase Shift",
		"text" : [
			"Primary Fire: Hold to create a point of collapse that shoots volatile matter at nearby enemies. The collapse can also target allies, and provided short invulnerability and energy regen when it does. The longer fire is held, the longer the collapse lasts."
		],
		"image" : "/specs/images/adeptweapon.png",
		"name" : [
			"ivrpgwphaseshift"
		]
	}
}