{
	"title" : "Battle Mage",
	"ability" : {
		"text" : "Power Multiplier increases up to +200% when multiple enemies are present, but decreases by -50% when there are none nearby.",
		"image" : "/specs/abilities/battlemage/battletendency.png",
		"name" : "ivrpgbattletendency",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Two Handed Melee Weapons.",
			"apply" : {
				"melee" : {
					"twoHanded" : true
				}
			}
		},
		{
			"type" : "disable",
			"text" : "Cannot use Wands.",
			"textColor" : "red",
			"apply" : {
				"wand" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Two-Handed Melee Weapons: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"melee" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "80% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Battle Aura",
		"type" : "head",
		"name" : "ivrpgbattleaura",
		"image" : "/specs/techs/battlemage/battleaura.png",
		"text" : "Press Special 3 to toggle. Press Special 1 to switch between three auras that effect nearby allies. Blood Aura: +15% Power Multiplier at a cost of -25% Max Health; gain Health when damaging enemies. Ionic Aura: 1.15x Speed and Jump Height at a cost of -25% Power Multiplier; gain Energy when damaging enemies. Iron Aura: +15% Max Health at a cost of 0.75x Speed and Jump Height; gain ephemeral Protection when damaging enemies."

	},
	"weapon" : {
		"title" : "Solstice",
		"text" : [
			"Primary Fire: a wide sweeping combo interspersed with quick stabs.",
			"Alt Fire: charge Solstice to increase swing speed and add additional Nova Damage."
		],
		"image" : "/specs/images/battlemageweapon.png",
		"name" : [
			//"ivrpgwsolstice"
		]
	}
}
