{
	"title" : "Bounty Hunter",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Bounty Hunter/Capture Card.png",
		"name" : "ivrpgCapture Card",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Dead Or Alive",
		"type" : "head",
		"name" : "ivrpgdeadoralive",
		"image" : "/specs/techs/bountyhunter/deadoralive.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Headhunter",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/bountyhunterweapon.png",
		"name" : [
			//"ivrpgwheadhunter"
		]
	}
}
