{
	"title" : "Cannoneer",
	"ability" : {
		"text" : "Hits with a Shortsword - Grenade Launcher in hand - grant +50% Power, 10% Energy/Second, and ^green;explosive kills^white; for two seconds.",
		"image" : "/specs/abilities/cannoneer/fightinglion.png",
		"name" : "ivrpgfightinglion",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Rocket Launchers and Grenade Launchers.",
			"apply" : {
				"rocketlauncher" : {
					"anyHand" : true
				},
				"rpgffsrocket" : {
					"anyHand" : true
				},
				"rpgffsgl" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+50% Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.5
				}
			]
		},
		{
			"text" : "125% Base Power While Dual-Wielding Shortswords and Grenade Launchers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shortsword" : {
					"amount" : 1.25,
					"anyHand" : true,
					"with" : [
						"grenadelauncher"
					]
				}
			}
		},
		{
			"text" : "120% Base Power With Rocket Launchers and (FFS) Grenade Launchers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"rocketlauncher" : {
					"amount" : 1.2,
					"anyHand" : true
				},
				"rpgffsrocket" : {
					"amount" : 1.2,
					"anyHand" : true
				},
				"rpgffsgl" : {
					"amount" : 1.2,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "80% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.80,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "-20% Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Bombs Away",
		"type" : "Leg",
		"name" : "ivrpgbombsaway",
		"image" : "/specs/techs/cannoneer/bombsaway.png",
		"text" : "An upgrade to Double Jump. Trying to jump while holding [Shift] fires a cannonball towards your cursor that pierces enemies and explodes on impact with blocks. While aerial, jumping without holding [Shift] sends the cannonball flying downwards, in the opposite direction of your held horizontal movement key, allowing you to launch yourself twice. Damage scales with Dexterity. ^red;Grounded Fire Cooldown: 2.5 Seconds. Aerial Fire Cooldown: 0.5 Seconds."

	},
	"weapon" : {
		"title" : "Outburst & Stormhowl",
		"text" : [
			"Outburst: Fires five grenades. Grenades float in place, but detonate on impact with enemies. Each grenade deals a different status; Poison, Ice, Electric, Disorient, and Bleed.\n^red;Does less damage as Energy ratio decreases!",
			"Stormhowl: An arching slash with extended ranged followed by a directional stab. Causes Embrittle."
		],
		"image" : "/specs/images/cannoneerweapon.png",
		"name" : [
			"ivrpgwoutburst",
			"ivrpgwstormhowl"
		]
	}
}
