{
	"title" : "Cannoneer",
	"ability" : {
		"text" : "Landing a hit with a Shortsword grants 150% Power and +20 Energy/Second for two seconds as long as you have a Grenade Launcher in hand.",
		"image" : "/specs/abilities/cannoneer/fightinglion.png",
		"name" : "ivrpgfightinglion",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Rocket Launchers.",
			"apply" : {
				"rocketlauncher" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+50% Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.5
				}
			]
		},
		{
			"text" : "125% Base Power While Dual-Wielding Shortswords and Grenade Launchers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shortsword" : {
					"amount" : 1.25,
					"anyHand" : true,
					"with" : [
						"grenadelauncher"
					]
				}
			}
		},
		{
			"text" : "120% Base Power With Rocket Launchers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"rocketlauncher" : {
					"amount" : 1.2,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "80% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.80,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "-20% Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.20,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Bombs Away",
		"type" : "Leg",
		"name" : "ivrpgbombsaway",
		"image" : "/specs/techs/cannoneer/bombsaway.png",
		"text" : "An upgrade to Double Jump. Pressing [Space] fires a large cannonball that blasts through enemies and explodes on impact with blocks, dealing massive AoE damages. Launching this cannonball sends you flying, and it can be directionally launched forwards, backwards, downwards, and upwards using the movement keys [W,A,S,D]."

	},
	"weapon" : {
		"title" : "Outburst",
		"text" : [
			"Primary Fire: Hold to fire five different grenades that can be pre-detonated by letting go of Primary Fire.",
			"Passive: Each grenade deals a different status; Poison, Fire, Ice, Electric, and Bleed. The longer the grenades sit without being detonated, the more damage they do, up to 250% extra."
		],
		"image" : "/specs/images/cannoneerweapon.png",
		"name" : [
			//"ivrpgwoutburst"
		]
	}
}