{
	"title" : "Captain",
	"ability" : {
		"text" : "Endurance and Agility Scaling decrease when alone. Vigor and Vitality Scaling increase when near allies.",
		"image" : "/specs/abilities/Captain/bythepeople.png",
		"name" : "ivrpgbythepeople",
		"apply" : []
	},
	"classic" : [
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Ally Stance",
		"type" : "head",
		"name" : "ivrpgallystance",
		"image" : "/specs/techs/captain/allystance.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Leader’s Rally",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/captainweapon.png",
		"name" : [
			//"ivrpgwleader’srally"
		]
	}
}
