{
	"title" : "Changeling",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Changeling/Melty Blood.png",
		"name" : "ivrpgMelty Blood",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Shapeshift",
		"type" : "head",
		"name" : "ivrpgshapeshift",
		"image" : "/specs/techs/changeling/shapeshift.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "N_A",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/changelingweapon.png",
		"name" : [
			//"ivrpgwn_a"
		]
	}
}
