{
	"title" : "Changeling",
	"ability" : {
		"text" : "If Shapeshift is equipped, shrink and gain +50% Physical Resistance when Health drops below 15%. Item usage is disabled while shrunken.",
		"image" : "/specs/abilities/changeling/meltyblood.png",
		"name" : "ivrpgmeltyblood",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "All Weapons Disabled.",
			"textColor" : "red",
			"apply" : {
				"weapon" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+10% Physical Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "-20% Fire, Electric, Ice, and Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Shapeshift",
		"type" : "Head",
		"name" : "ivrpgshapeshift",
		"image" : "/specs/techs/changeling/shapeshift.png",
		"text" : "Press [Special 1] with or without [Shift] or down to shapeshift into one of three monsters: [Special 1] for Wisper; [Special 1] + [Shift] for Poptop; [Special 1] + down for Orbide. Each transformation has a Passive and 4 Actions via Left Click, Right Click, [Special 2], and [Special 3]. While transformed, check the Unique Weapon box above for more info. After getting many kills ^red;without warping^reset;, a flash will occur: if so, press [Shift], down, and [Specal 1] to ???.",
		"transformNames" : {
			"wisper" : "Wisper",
			"poptop" : "Poptop",
			"adultpoptop" : "Adult Poptop",
			"orbide" : "Orbide"
		},
		"transformBonusText" : {
			"wisper" : [
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "Ice Immunity",
					"textType" : "benefit"
				},
				{
					"text" : "Drowning Immunity",
					"textType" : "benefit"
				},
				{
					"text" : "+50% Max Energy",
					"textType" : "benefit"
				},
				{
					"text" : "-70% Fire Resistance",
					"textType" : "detriment"
				},
				{
					"text" : "-20% Electric and Poison Resistance",
					"textType" : "detriment"
				},
				{
					"text" : "-50% Max Health",
					"textType" : "detriment"
				},
				{
					"text" : "Vigor x2",
					"textType" : "scaling-up"
				}
			],
			"poptop" : [
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "+5 Armor",
					"textType" : "benefit"
				},
				{
					"text" : "-20% Fire, Electric, Ice, and Poison Resistance",
					"textType" : "detriment"
				},
				{
					"text" : "Strength x2",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vigor",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vitality x3",
					"textType" : "scaling-up"
				},
				{
					"text" : "Endurance",
					"textType" : "scaling-up"
				},
				{
					"text" : "Agility",
					"textType" : "scaling-down"
				}
			],
			"adultpoptop" : [
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "+15 Armor",
					"textType" : "benefit"
				},
				{
					"text" : "-20% Fire, Electric, Ice, and Poison Resistance",
					"textType" : "detriment"
				},
				{
					"text" : "Strength x5",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vigor x3",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vitality x5",
					"textType" : "scaling-up"
				},
				{
					"text" : "Endurance x3",
					"textType" : "scaling-up"
				}
			],
			"orbide" : [
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "+50% Ice, Fire, and Electric Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "-70% Poison Resistance",
					"textType" : "detriment"
				},
				{
					"text" : "-25% Max Health",
					"textType" : "detriment"
				},
				{
					"text" : "Dexterity x2",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vigor",
					"textType" : "scaling-up"
				}
			],
			"" : [
				{
					"text" : "Vitality",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vigor",
					"textType" : "scaling-up"
				},
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "-20% Fire, Electric, Ice, and Poison Resistance",
					"textType" : "detriment"
				}
			],
			"giant" : [
				{
					"text" : "Vitality",
					"textType" : "scaling-up"
				},
				{
					"text" : "Vigor",
					"textType" : "scaling-up"
				},
				{
					"text" : "Agility x3",
					"textType" : "scaling-down"
				},
				{
					"text" : "+10% Physical Resistance",
					"textType" : "benefit"
				},
				{
					"text" : "+50 Armor",
					"textType" : "benefit"
				},
				{
					"text" : "+200% Max Health",
					"textType" : "benefit"
				},
				{
					"text" : "1.5x Power Multiplier",
					"textType" : "benefit"
				},
				{
					"text" : "Non-Status Damage Immunity",
					"textType" : "benefit"
				},
				{
					"text" : "-20% Fire, Electric, Ice, and Poison Resistance",
					"textType" : "detriment"
				}
			]
		},
		"transformText" : {
			"wisper" : [
				"Passives: Fly using directional keys. Glow.\nPower Multiplier scales with Intelligence.",
				"Primary Fire: Shoot ice towards your cursor.\nPower: 20. Cost: 40 Energy.",
				"Alt Fire: Explode. Power: Range(50,0).\nCost: 20 Energy, Range(10%,0%) Max Health.",
				"Special 2: Drain 20 Energy/s to fly through blocks.",
				"Special 3: Drain 10 Energy/s to fly faster."
			],
			"poptop" : [
				"Passives: Bloodlust - killing foes raises power. Bloodlust decays over time.\nPower Multiplier scales with Strength.",
				"Primary Fire: Lunge. Power: 30. Cost: 20 Energy.",
				"Alt Fire: Attempt to eat a nearby foe. Restores 50% Damage Dealt as Health. Cost: 40 Energy.",
				"Special 2: Raise ally power and speed for 10 Energy/s.",
				"Special 3: Turn into Adult when Bloodlust nears max."
			],
			"adultpoptop" : [
				"Passives, Primary Fire, and Alt Fire remain basically unchanged from regular Poptop.",
				"Special 2: Roar. Nearby foes are stunned for 0.5 Seconds and disoriented for 2 Seconds. Nearby allies gain Rage for 5 Seconds. Cost: 80 Energy.",
				"When Bloodlust is completely lost, transform back to regular Poptop."
			],
			"orbide" : [
				"Passives: Fear - nearby foes do less damage. Glow. Power Multiplier scales with Dexterity.",
				"Primary Fire: Charge up then dash forward.\nPower: 30. Cost: 40 Energy.",
				"Alt Fire: A quick slash. Power: 15. Cost: 20 Energy.",
				"Special 2: Drain 10 Energy/s to become invulnerable. While invulnerable, regenerate Health.",
				"Special 3: Drain 10 Energy/s to move faster."
			],
			"" : [
				"You can't do many things,\nbut you can do the things that you can do.\n",
				"[Special 1] for Wisper",
				"[Shift] + [Special 1] for Poptop",
				"Down + [Special 1] for Orbide",
				"Down + [Shift] + [Special 1] for ???.",
				"^red;??? requires a large amount of space."
			],
			"giant" : [
				"Quite a big fella, aren't ya...",
				"Invulnerable to non-status damage.",
				"Do massive contact damage.",
				"Cannot use items.",
				"Expires after 10 seconds, or by prematurely canceling using any of the transformation keys."
			]
		}
	},
	"weapon" : {
		"title" : "-",
		"text" : [
			"-"
		],
		"image" : "/specs/images/changelingweapon.png",
		"name" : []
	}
}
