{
	"title" : "Cleric",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Cleric/Angel’s Breath.png",
		"name" : "ivrpgAngel’s Breath",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Holy Nova",
		"type" : "head",
		"name" : "ivrpgholynova",
		"image" : "/specs/techs/cleric/holynova.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Scripture",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/clericweapon.png",
		"name" : [
			//"ivrpgwscripture"
		]
	}
}
