{
	"title" : "Conquistador",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Conquistador/NETSI.png",
		"name" : "ivrpgNETSI",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "The Cavalrys Here",
		"type" : "body",
		"name" : "ivrpgthecavalryshere",
		"image" : "/specs/techs/conquistador/thecavalryshere.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Arquebus",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/conquistadorweapon.png",
		"name" : [
			//"ivrpgwarquebus"
		]
	}
}
