{
	"title" : "Conquistador",
	"ability" : {
		"text" : "Defeating an enemy that has not damaged you grants\n+10% Energy and Health Regeneration over 5 seconds.",
		"image" : "/specs/abilities/conquistador/inquisition.png",
		"name" : "ivrpginquisition",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield Crossbows, Sniper Rifles, and Shotguns.",
			"apply" : {
				"shotgun" : {
					"anyHand" : true
				},
				"sniperrifle" : {
					"anyHand" : true
				},
				"rpgffsshotgun" : {
					"anyHand" : true
				},
				"rpgffssniper" : {
					"anyHand" : true
				},
				"crossbow" : {
					"anyHand" : true
				}
			}
		},
		{
			"type" : "disable",
			"text" : "Cannot use Rocket / Grenade Launchers.",
			"textColor" : "red",
			"apply" : {
				"grenadelauncher" : {
					"all" : true
				},
				"rpgffsgl" : {
					"all" : true
				},
				"rocketlauncher" : {
					"all" : true
				},
				"rpgffsrocket" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Movement Speed",
			"textType" : "benefit",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 1.2
				}
			]
		},
		{
			"text" : "130% Base Power with Spears, Bows, Snipers, and Shotguns.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"sniperrifle" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"rpgffssniper" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"shotgun" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"rpgffsshotgun" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"bow" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"crossbow" : {
					"amount" : 1.3,
					"twoHanded" : true
				},
				"spear" : {
					"amount" : 1.3,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "80% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "-50% Demonic and Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.50,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.50,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		}
	],
	"tech" : {
		"title" : "The Cavalry's Here",
		"type" : "Body",
		"name" : "ivrpgthecavalryshere",
		"image" : "/specs/techs/conquistador/thecavalryshere.png",
		"text" : "Press [Special 2] to toggle your mount: summoning it costs 100 Energy.\nWhile mounted, Movement Speed, Jump Height, and Step Height are increased, and you gain 3x Base Energy and +100 Armor. Mount Health is equal to 2x your Max Health and regenerates while dismounted: while mounted, your mount takes damage instead of you. When Mount Health reaches 0, your mount despawns, and does not regenerate Health for 5 seconds."

	},
	"weapon" : {
		"title" : "Arquebus",
		"text" : [
			"Primary Fire: fires a piercing heavy bolt that stuns enemies. Upon contact with a block, the bolt explodes, dealing Holy Damage to nearby enemies.",
			"Alt Fire: loads Arquebus.",
			"Passive: enemies killed with the bolt's explosion grant +10% Health and Energy Regeneration to nearby allies."
		],
		"image" : "/specs/images/conquistadorweapon.png",
		"name" : [
			//"ivrpgwarquebus"
		]
	}
}
