{
	"title" : "Dark Templar",
	"ability" : {
		"text" : "Hitting enemies with Demonic Damage has a 20% chance to corrupt them. Corrupted enemies radiate Demonic Damage to nearby enemies.",
		"image" : "/specs/abilities/darktemplar/corruption.png",
		"name" : "ivrpgcorruption",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgcorrupted",
						"chance" : 0.2,
						"length" : 5,
						"type" : "target",
						"fromSourceKind" : [
							"demonic"
						]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Melee Weapons.",
			"apply" : {
				"melee" : {
					"with" : [
						"melee"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can Wield Broadswords, Halberds, and Spears.",
			"apply" : {
				"broadsword" : {
					"twoHanded" : true
				},
				"halberd" : {
					"twoHanded" : true
				},
				"spear" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "115% Base Power with Quarterstaves and Axes.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"axe" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "150% Base Power with Spears and Halberds",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.5,
					"twoHanded" : true
				},
				"halberd" : {
					"amount" : 1.5,
					"twoHanded" : true
				}
			}
		}
	],
	"tech" : {
		"title" : "Abounding Darkness",
		"type" : "body",
		"name" : "ivrpgaboundingdarkness",
		"image" : "/specs/techs/darktemplar/aboundingdarkness.png",
		"text" : "Press [W] to toggle, immediately sacrificing 50% Max Health and then draining it until toggled off. The initial sacrifice turns into radial demonic damage. As your Health gets lower, damage continues to spread, and Armor is granted to you. The amount of Health you have on toggle off determines your next pool of Max Health, up to a maximum of 1.5x, but a minimum of 0.25x. The amount of Damage you dealt due to radial Demonic Damage is converted to Health."

	},
	"weapon" : {
		"title" : "Heartless",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/darktemplarweapon.png",
		"name" : [
			//"ivrpgwheartless"
		]
	}
}
