{
	"title" : "Dark Templar",
	"ability" : {
		"text" : "Hitting enemies with Demonic Damage has a 30% chance to corrupt them. Corrupted enemies radiate Demonic Damage to nearby enemies.",
		"image" : "/specs/abilities/darktemplar/corruption.png",
		"name" : "ivrpgcorruption",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgcorrupted",
						"chance" : 0.3,
						"length" : 5,
						"type" : "target",
						"fromSourceKind" : [
							"demonic"
						]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Melee Weapons and Wield Two-Handed Melee Weapons.",
			"apply" : {
				"melee" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "115% Base Power with Spear or Axe-like Weapons.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"axe" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"halberd" : {
					"amount" : 1.15,
					"anyHand" : true
				},
				"polearm" : {
					"amount" : 1.15,
					"anyHand" : true
				},
				"spear" : {
					"amount" : 1.15,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "Bleed Chance and Length scales with Strength.",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgBleedChance",
					"amount" : 0.005,
					"statModifier" : "strength"
				},
				{
					"type" : "amount",
					"stat" : "ivrpgBleedLength",
					"amount" : 0.05,
					"statModifier" : "strength"
				}
			]
		},
		{
			"text" : "Vitality x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "150% Max Health",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 1.5
				}
			]
		},
		{
			"text" : "Demonic Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "demonicStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "75% Max Energy",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				}
			]
		},
		{
			"text" : "-50% Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "-20% Electric Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Abounding Darkness",
		"type" : "Body",
		"name" : "ivrpgaboundingdarkness",
		"image" : "/specs/techs/darktemplar/aboundingdarkness.png",
		"text" : "Press [H] (Bind [H] in your Controls) to toggle, immediately sacrificing 33% Max Health, dealing Demonic Damage to nearby enemies, and gaining +15% Power. While active: Health drains at a rate of 0.5% Max Health + 2 Health per Second; Power increases steadily up to 100% in 30 seconds; Bleed Damage dealt regens Health at a rate of 4 Damage to 1 Health; and you are immune to Healing Status."

	},
	"weapon" : {
		"title" : "Heartless",
		"text" : [
			"Primary Fire: A combo of far-reaching swings.\nThe first swing can be chained into Secondary Fire.",
			"Secondary Fire: A powerful lunging jab.\nCan be chained into Primary Fire's upwards swing.\nIncreased Armor while lunging.",
			"Passive: Getting kills builds Demonic Energy. Reaching a certain point unleashes this energy, causing Demonic explosions with each swing."
		],
		"image" : "/specs/images/darktemplarweapon.png",
		"name" : [
			"ivrpgwheartless",
			"ivrpgmeteoricmetalbar",
			"ivrpgetherealblade"
		]
	}
}
