{
	"title" : "Deadshot",
	"ability" : {
		"text" : "While standing still, Bleed Chance increases by 2.5% every second, up to +50%.",
		"image" : "/specs/abilities/deadshot/deadlypatience.png",
		"name" : "ivrpgdeadlypatience",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Melee Weapons",
			"textColor" : "red",
			"apply" : {
				"melee" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Rifles and Bows.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"bow" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"assaultrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"rifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "90% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Ideal Shot",
		"type" : "Body",
		"name" : "ivrpgidealshot",
		"image" : "/specs/techs/deadshot/idealshot.png",
		"text" : "An upgrade to Marksman: while Ideal Shot is active, Power Multiplier is increased further, but movement is completely disabled. Getting hit prematurely breaks this effect without the normal reduction to cooldown."

	},
	"weapon" : {
		"title" : "Lotus",
		"text" : [
			"Primary Fire: Fire an incredibly accurate, high damage shot.",
			"Secondary Fire: Use all remaining Energy to fire a medium damage shot that can curve around walls.",
			"Passive: Defeating an enemy with Bleed Damage increases the next shot’s damage by that amount. Otherwise, defeating an enemy grants a 1.05x Max Energy bonus, scaling up to 1.5x Max Energy, that dissipates when this weapon is holstered or when you are hit."
		],
		"image" : "/specs/images/deadshotweapon.png",
		"name" : [
			//"ivrpgwlotus"
		]
	}
}
