{
	"title" : "Dragoon",
	"ability" : {
		"text" : "Upon landing, create a shockwave that stuns nearby enemies. Stun Duration depends on fall distance and can reach up to seven seconds.",
		"image" : "/specs/abilities/dragoon/flightless.png",
		"name" : "ivrpgflightless",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Spears and Quarterstaves.",
			"apply" : {
				"spear" : {
					"anyHand" : true
				},
				"quarterstaff" : {
					"anyHand" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use Assault Rifles.",
			"apply" : {
				"assaultrifle" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "Fire and Lava Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "lavaImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "Fall Damage Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "fallDamageMultiplier",
					"amount" : 0
				}
			]
		},
		{
			"text" : "120% Base Power with Spears and Assault Rifles",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.2,
					"anyHand" : true
				},
				"assaultrifle" : {
					"amount" : 1.2,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "110% Base Power with Quarterstaves",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-33% Energy Recharge Rate",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenPercentageRate",
					"amount" : 0.33,
					"negative" : true,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.165
				}
			]
		},
		{
			"text" : "+33% Energy Recharge Delay",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenBlockTime",
					"amount" : 0.33,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.165,
					"halvingInverse" : true
				}
			]
		}
	],
	"tech" : {
		"title" : "Dragon's Leap",
		"type" : "Leg",
		"name" : "ivrpgdragonsleap",
		"image" : "/specs/techs/dragoon/dragonsleap.png",
		"text" : "An upgrade to Knight's Slam. Pressing [Space] while crouching shoots you up into the air. Doing so provides Invulnerability until you start to fall or hit the ground. Using this prevents you from double jumping in midair."
	},
	"weapon" : {
		"title" : "Dragon's Bane",
		"text" : [
			"Primary Fire: A stab with more range than normal Spears that Sears whatever it hits.",
			"Secondary Fire: Hold to charge a high-damage lunge. Release to lunge towards your cursor and temporarily increase Knockback Resistance and Physical Resistance. A spark of lightning that Overloads enemies follows your lunging path."
		],
		"image" : "/specs/images/dragoonweapon.png",
		"name" : [
			//"ivrpgwdragonsbane",
			"ivrpgmeteoricmetalbar"
		]
	}
}