{
	"title" : "Elementress",
	"ability" : {
		"text" : "Randomly weave between Fire, Ice, and Electricity, gaining immunity to that element and causing its status on every hit.",
		"image" : "/specs/abilities/elementress/elementalweave.png",
		"name" : "ivrpgelementalweave",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Staffs.",
			"textColor" : "red",
			"apply" : {
				"staff" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vigor x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+50% Nova, Electric, Ice, and Fire Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.5
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.5
				}
			]
		},
		{
			"text" : "+20% Cosmic, Holy and Demonic Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "cosmicResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "120% Base Power with Wands.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wand" : {
					"amount" : 1.2,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "75% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.75,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.125
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Attune",
		"type" : "Body",
		"name" : "ivrpgattune",
		"image" : "/specs/techs/elementress/attune.png",
		"text" : "Press Shift + [Special 2] to swap between Fire, Ice, and Electric: gain Immunity to that Element. Press Primary/Alt Fire without an item equipped to utilize an ^green;Instant^reset; spell: defeating foes with this raises your Attunement. As your Attunement rises, your ^green;Instant^reset; spell is improved. Provided your Attunement is not empty, holding Shift before using your ^green;Instant^reset; spell casts its ^orange;Ultimate^reset; variant. Hold [Special 2] to use a ^magenta;Continuous^reset; spell.",
		"attuneTitles" : {
			"fire" : "Volcanic Attunement",
			"ice" : "Glacial Attunement",
			"electric" : "Ionic Attunement"
		},
		"attuneText" : {
			"fire" : "Volcanic Attunement grants Immunity to Fire Damage.\n^green;Instant^reset;: Press Primary/Alt Fire to cast Lesser Flame Burst. Defeat enemies with Flame Burst to improve it from Standard to Greater to Chaos.\n^magenta;Continuous^reset;: Hold [Special 2] to cast Conflagrate.^orange;\nUltimate^reset;: Press Shift + Primary/Alt Fire to cast Explosion.",
			
			"ice" : "Instant - Primary/Alt Fire: Lesser Icicle Rush, a quick slide forwards that launches a massive icicle forwards. With Attunement charged, the Standard variant travels further; the Greater deals more Damage; and the Chaos shatters on contact with blocks, ejecting icy shrapnel. Continuous - [Special 2]: Frozen Guard, walls of ice that push enemies away. Ultimate - Shift + Primary/Alt Fire: Glacial Spike, a .",
			
			"electric" : "Instant - Primary/Alt Fire: Lesser Arc Flash, a discharge of electricity that chains between enemies. With Attunement charged, the Standard variant chains further; the Greater deals more Damage; and the Chaos can chain back to you, providing energy and causing all Attune attacks to deal Electric Damage. Continuous - [Special 2]: Jolt, a movement tool that renders its user invulnerable. Ultimate - Shift + Primary/Alt Fire: Thunder, a torrent of lightning that instantly kills enemies below 33% Health."
		}
	},
	"weapon" : {
		"title" : "Eclipse",
		"text" : [
			"Primary Fire: Create shards of Nova Energy that shoot towards enemies after a short time. If there are no enemies nearby, shards follow your cursor.",
			"Passive: During Daytime, shards leave small flames after breaking. During Nighttime, shards leave trails of icicles after breaking."
		],
		"image" : "/specs/images/elementressweapon.png",
		"name" : [
			"ivrpgweclipse"
		]
	},
	"loreUnlocks" : {
		"zia" : "^#c16bff;People - Zia",
		"apprenticesfolly" : "^#c16bff;People - Zia - The Apprentice's Folly"
	}
}
