{
	"title" : "Elementalist",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Elementalist/Elemental Weave.png",
		"name" : "ivrpgElemental Weave",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Attune",
		"type" : "body",
		"name" : "ivrpgattune",
		"image" : "/specs/techs/elementalist/attune.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Eclipse",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/elementalistweapon.png",
		"name" : [
			//"ivrpgweclipse"
		]
	}
}
