{
	"title" : "Fae",
	"ability" : {
		"text" : "125% Base Max Energy and -0.25 Energy Regen Delay while daytime and aboveground. Gain +25% Power when standing on Dirt or Grass.",
		"image" : "/specs/abilities/fae/onewithnature.png",
		"name" : "ivrpgonewithnature",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Ranged Weapons (Bows Excluded).",
			"textColor" : "red",
			"apply" : {
				"ranged" : {
					"all" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "",
			"textColor" : "green",
			"apply" : {
				"bow" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "110% Base Power with Whips and Fist/Claw Weapons.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"whip" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"fist" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"claw" : {
					"amount" : 1.1,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "120% Base Power with Bows.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"bow" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "Poison Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "poisonStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "-25% Electric, Fire, and Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				}
			]
		},
		{
			"text" : "90% Power Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.9,
					"halvingStat" : "strength",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Nymph's Blessing",
		"type" : "Leg",
		"name" : "ivrpgnymphsblessing",
		"image" : "/specs/techs/fae/nymphsblessing.png",
		"text" : "Use [Space] to dash up to four times midair and spread dazing powder with each dash. Hold [W] while midair to float, draining Energy as you do: while floating, nearby weakened monsters act friendly. Crouch for three seconds without getting hit to root yourself in place, granting Knockback Immunity and Health Regeneration; release crouch to unroot."

	},
	"weapon" : {
		"title" : "Chrysantha",
		"text" : [
			"Holding Primary Fire after landing the sweetspot pulls you to that position: enemies hit by the sweetspot are rooted for a brief period. Defeating rooted enemies grants Health Regeneration to nearby allies.",
			"If a Fist Weapon is equipped, use its finisher by holding Primary Fire after being pulled."
		],
		"image" : "/specs/images/faeweapon.png",
		"name" : [
			"ivrpgwchrysantha"
		]
	}
}
