{
	"title" : "Hunter",
	"ability" : {
		"text" : "Crouch for 2 seconds for 5 seconds of Invisibility. Use Energy or do Damage to dispel this and gain +33% Bleed Chance for 0.5 seconds.",
		"image" : "/specs/abilities/hunter/cloak.png",
		"name" : "ivrpgcloak",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Enables Two-Handed Ranged Weapons",
			"apply" : {
				"ranged" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+25% Electric, Fire, and Nova Resistance.",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "120% Base Power with Bows and Sniper Rifles.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"rpgffssniper" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"bow" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "115% Base Power with Pistols and Daggers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"pistol" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"rpgffspistol" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"dagger" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "90% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.9,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "-5 Protection",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "protection",
					"negative" : true,
					"amount" : 5,
					"halvingStat" : "endurance",
					"halvingAmount" : 2.5
				}
			]
		}
	],
	"tech" : {
		"title" : "Multitool",
		"type" : "Body",
		"name" : "ivrpgmultitool",
		"image" : "/specs/techs/hunter/multitool.png",
		"text" : "Press [Shift] + [Special 2] to switch between Fire, Electric, and Nova. Press [Special 2] to lob a Smokebomb towards your cursor (50 Energy, 6 Second Cooldown). Double-tap left or right to Dodge (No Energy, 3 Second Cooldown).\nUse Alt Fire when Energy is full to Energize Mida (Nova -> Deadfall, Electric -> Pulsar, Fire -> Sunshot): this effect drains Energy and then dissipates.\nGrenade, Dodge, and Energize effects depend on Multitool Element."
	},
	"weapon" : {
		"title" : "Mida",
		"text" : [
			"Mida: 30 Energy. Fires powerful arrows.",
			"Deadfall: Long Draw, Low Damage, 50 Energy. Tethers. Tethered foes slow and share damage.",
			"Pulsar: Medium Draw, Medium Damage, 40 Energy. Fires three shocking arrows. Bursts on activation.",
			"Sunshot: Short Draw, High Damage, 20 Energy. Pierces. Kills cause explosions and refund Energy.",
			"Passive: Perfect Release halves Energy Cost."
		],
		"image" : "/specs/images/hunterweapon.png",
		"name" : [
			"ivrpgwmida"
		]
	},
	"loreUnlocks" : {
		"soliste" : "^green;People - Soliste",
		"partners" : "^green;People - Soliste - Partners"
	}
}
