{
	"title" : "Juggernaut",
	"ability" : {
		"text" : "Speed increases the longer you run, but changing directions is harder. As Speed increases, Power increases up to +200%.",
		"image" : "/specs/abilities/juggernaut/inertia.png",
		"name" : "ivrpginertia",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "require",
			"text" : "^red;20% Base Power while a\nTwo-Handed Melee Weapon is not equipped.",
			"apply" : {
				"melee" : {
					"twoHanded" : true,
					"amount" : 0.2
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "130% Base Power with Two-Handed Melee Weapons.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"melee" : {
					"amount" : 1.3,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "50% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.5,
					"halvingStat" : "agility",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "125% Fall Damage Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "fallDamageMultiplier",
					"amount" : 1.25,
					"halvingStat" : "agility",
					"halvingAmount" : -0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Limit Break",
		"type" : "Body",
		"name" : "ivrpglimitbreak",
		"image" : "/specs/techs/juggernaut/limitbreak.png",
		"text" : "Press [W] to activate Limit Break. During Limit Break, gain +100% Physical Resistance, Knockback Immunity, and Infinite Energy. Limit Break lasts for 10 Seconds and has a cooldown of 60 Seconds. For every enemy killed while Limit Break is active, gain 2 Seconds of active time and decrease cooldown by 5 Seconds. Active time can be extended indefinitely, but cooldown time can only be reduced to a minimum of 30 Seconds."

	},
	"weapon" : {
		"title" : "Cleaving Meteor",
		"text" : [
			"Primary Fire: Hold to ready a brutal swing. Releasing early decreases damage dealt.",
			"Secondary Fire: Hold to charge the blade with energy and release to swing. This consumes all remaining energy, but deals increased damage, reaches much farther, and burns targets. Enemies killed by this attack explode."
		],
		"image" : "/specs/images/juggernautweapon.png",
		"name" : [
			"ivrpgwcleavingmeteor"
		]
	}
}
