{
	"title" : "Kunoichi",
	"ability" : {
		"text" : "Killing enemies with War-Fans grants Energy and Feather Falling. Defeating Male NPCs drops more Pixels and XP.",
		"image" : "/specs/abilities/kunoichi/tranquilwind.png",
		"name" : "ivrpgtranquilwind",
		"apply" : [
			{
				"type" : "onKill",
				"apply" : [
					{	
						"type" : "self",
						"effectType" : "addEphemeralEffect",
						"effect" : "nofalldamage",
						"chance" : 1,
						"length" : 10,
						"fromSourceKind" : [
							"warfan"
						]
					},
					{	
						"type" : "self",
						"effectType" : "addEphemeralEffect",
						"effect" : "nofalldamage",
						"chance" : 1,
						"length" : 10,
						"gender" : "male"
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Wield War-Fans.",
			"apply" : {
				"warfan" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Increased Movement Speed with Whips and War-Fans",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				//applied in the Tranquil Wind status
			]
		},
		{
			"text" : "115% Base Power with Whips.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"whip" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "125% Base Power with War-Fans: Scales with Dex.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"war-fan" : {
					"amount" : 1.25,
					"anyHand" : true,
					"allowSecond" : true,
					"scaling" : {
						"dexterity" : 0.01
					}
				}
			}
		},
		{
			"text" : "90% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.9,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "90% Power Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.9,
					"halvingStat" : "strength",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Swirling Petal",
		"type" : "Body",
		"name" : "ivrpgswirlingpetal",
		"image" : "/specs/techs/kunoichi/swirlingpetal.png",
		"text" : "Press [W] to flip backwards while invulnerable, releasing a sweet gas into the air as you do. The gas dazes enemies that get hit by it. Dazed enemies move slower and deal half damage."
	},
	"weapon" : {
		"title" : "Luxuria",
		"text" : [
			"Primary Fire: A slash of pressurized wind.",
			"Walking Forward: A quick thrust forwards.",
			"Walking Backward: A petal explosion.",
			"Crouching/Aerial: Fast swings in both directions.",
			"Holding Shift: Cancels directional input.",
			"Passive: Chaining from Primary and Forward Attacks raises Damage and Attack Speed."
		],
		"image" : "/specs/images/kunoichiweapon.png",
		"name" : [
			"ivrpgwluxuria"
		]
	}
}