{
	"title" : "Mechanist",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Mechanist/Skynet.png",
		"name" : "ivrpgSkynet",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "NAME",
		"type" : "head",
		"name" : "ivrpgname",
		"image" : "/specs/techs/mechanist/name.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Ex Mechina",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/mechanistweapon.png",
		"name" : [
			//"ivrpgwexmechina"
		]
	}
}
