{
	"title" : "Mechanist",
	"ability" : {
		"text" : "Nearby Friendly Robots gain Health Regen and +30 Protection.\nGain +30 Protection and +50% Max Energy while near Friendly Robots.",
		"image" : "/specs/abilities/mechanist/fortify.png",
		"name" : "ivrpgfortify",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Grenade Launchers (and Ex Mechina).",
			"apply" : {
				"grenadelauncher" : {
					"with" : [
						"rocketlauncher",
						"grenadelauncher"
					]
				},
				"rocketlauncher" : {
					"with" : [
						"rocketlauncher",
						"grenadelauncher"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use all Melee Weapons.",
			"apply" : {
				"melee" : {
					"anyHand" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "110% Base Power with Grenade/Rocket Launchers and Machine Pistols.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"grenadelauncher" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"rocketlauncher" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"machinepistol" : {
					"amount" : 1.1,
					"allowSecond" : true
				},
				"smg" : {
					"amount" : 1.1,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "120% Base Power with your Wrench.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"wrench" : {
					"amount" : 1.2,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "Electric Immunity",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 3
				},
				{
					"type" : "amount",
					"stat" : "electricStatusImmunity",
					"amount" : 1
				}
			]
		},
		{
			"text" : "80% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "80% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Skynet",
		"type" : "Head",
		"name" : "ivrpgskynet",
		"image" : "/specs/techs/mechanist/skynet.png",
		"text" : "Press [Special 1] to build a flying drone, or do so while crouched to build an automatic turret: each has an independent 60 second cooldown. Turrets and drones last for 60 seconds or until they are defeated. Turret and drone Health and Protection scale with your own Health and Protection, whereas Level and Power Multiplier scale with Intelligence and Dexterity."

	},
	"weapon" : {
		"title" : "Ex Mechina... and a wrench?",
		"text" : [
			"Ex Mechina: a One-Handed Rocket Launcher. Fires a rocket that explodes near enemies. Upon exploding, a small sphere of arc energy is left behind that hurts nearby enemies.",
			"Wrench: a One-Handed Wrench. Defeating robotic enemies with this weapon makes them friendly."
		],
		"image" : "/specs/images/mechanistweapon.png",
		"name" : [
			"ivrpgwexmechina",
			"ivrpgwwrench"
		]
	}
}
