{
	"title" : "Mercenary",
	"ability" : {
		"text" : "While dual-wielding Pistols and SMGs, depleting Energy deals minor Fire Damage to you, but increases Energy and Power, up to 1000%!",
		"image" : "/specs/abilities/mercenary/gunsablazing.png",
		"name" : "ivrpggunsablazing",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Daggers, Pistols, and Submachine Guns.",
			"apply" : {
				"dagger" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				},
				"pistol" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				},
				"machinepistol" : {
					"with" : [
						"dagger",
						"pistol",
						"smg",
						"machinepistol"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "120% Base Power While Wielding Daggers, Pistols, Submachine Guns, or Grenades.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"pistol" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"machinepistol" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"grenade" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"smg" : {
					"amount" : 1.20,
					"allowSecond" : true
				},
				"soldier" : {
					"amount" : 1.20,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-20% Poison, Fire, Electric, and Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Make it Rain",
		"type" : "Leg",
		"name" : "ivrpgmakeitrain",
		"image" : "/specs/techs/mercenary/makeitrain.png",
		"text" : "An upgrade to Soldier's Energize. Jumping while midair allows you to dash in any held direction up to three times: unless [Shift] is held, dashes will default upwards when no vertical direction is held."

	},
	"weapon" : {
		"title" : "Shredder",
		"text" : [
			"Primary Fire: Fires bullets slowly but accurately.",
			"Passive: Damage increases during continuous fire. Bullets always cause Bleed."
		],
		"image" : "/specs/images/mercenaryweapon.png",
		"name" : [
			//"ivrpgwshredder"
		]
	}
}
