{
	"title" : "Mercenary",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Mercenary/Guns A’ Blazing.png",
		"name" : "ivrpgGuns A’ Blazing",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Make it Rain",
		"type" : "body",
		"name" : "ivrpgmakeitrain",
		"image" : "/specs/techs/mercenary/makeitrain.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Shredder",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/mercenaryweapon.png",
		"name" : [
			//"ivrpgwshredder"
		]
	}
}
