{
	"title" : "Necromancer",
	"ability" : {
		"text" : "There is a 20% chance that enemies killed with a Dagger, Scythe, or Demonic Magic will revive and help you in battle for a short time.",
		"image" : "/specs/abilities/necromancer/raiseundead.png",
		"name" : "ivrpgraiseundead",
		"apply" : [
			{
				"type" : "onKill",
				"apply" : [
					{
						"effect" : "ivrpgundead",
						"chance" : 0.2,
						"length" : 5,
						"fromSourceKind" : [
							"dagger",
							"scythe",
							"demonic"
						]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Daggers.",
			"apply" : {
				"dagger" : {
					"with" : [
						"dagger"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can Wield Scythes.",
			"apply" : {
				"scythe" : {}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+20% Demonic Resistance\n+20% Poison Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "Shadow Immunity (FU)",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "shadowStatusImmunity",
					"amount" : 1
				},
				{
					"type" : "amount",
					"stat" : "shadowResistance",
					"amount" : 3
				}
			]
		},
		{
			"text" : "120% Base Power with Daggers and Scythes: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.2,
					"anyHand" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				},
				"scythe" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "50% Max Health",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxHealth",
					"amount" : 0.50,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "-20% Holy Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "holyResistance",
					"amount" : 0.20,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Reap",
		"type" : "Head",
		"name" : "ivrpgreap",
		"image" : "/specs/techs/necromancer/reap.png",
		"text" : "Press [G] to use 10 Health and reach out with a dangerous demonic magic. Any enemy hit by this magic with Current Health less than (Intelligence/3+15)% of their Max Health are immediately killed. Enemies killed by this magic explode into a mist that heals yourself and allies with a potent demonic energy, yet causes enemies to slowly deteriorate."

	},
	"weapon" : {
		"title" : "For Us All",
		"text" : [
			"Primary Fire: A large arching slash that always causes Bleed.",
			"Secondary Fire: Uses up all Energy to release a dark energy that curses enemies. Cursed enemies are lifted into the air for a short period, unable to move, but with increased contact damage."
		],
		"image" : "/specs/images/necromancerweapon.png",
		"name" : [
			"ivrpgforusall"
		]
	}
}