{
	"title" : "Operative",
	"ability" : {
		"text" : "+50% Power Multiplier for the first attack landed after 30 seconds without being damaged. Bonus Power Multiplier is not lost if an enemy is hit from behind.",
		"image" : "/specs/abilities/operative/guerrillatactics.png",
		"name" : "ivrpgguerrillatactics",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Ranged Weapons",
			"apply" : {
				"ranged" : {
					"all" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can dual-wield Pistols, SMGs, and Daggers",
			"apply" : {
				"pistol" : {
					"with" : {
						"dagger",
						"pistol",
						"machinepistol",
						"smg"
					}
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Sniper Rifles.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "110% Base Power with Daggers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.1,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "80% Power Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8
				}
			]
		}
	],
	"tech" : {
		"title" : "EMP Sphere",
		"type" : "Head",
		"name" : "ivrpgempsphere",
		"image" : "/specs/techs/operative/empsphere.png",
		"text" : "An upgrade to Spike Sphere. EMP Sphere moves faster than normal and is equipped to fire magnetic pulse grenades that negate Energy Regeneration and periodically stun enemies. Holding [Space] allows the sphere to magnetize towards opposite walls, but requires charge up time depending on the distance. Pressing [H] regardless of transformation plants a Beacon that slowly regenerates Energy for nearby allies and speeds up wall magnetization. When more than one beacon is within 20 blocks of another, the two chain electricity."

	},
	"weapon" : {
		"title" : "Breathless",
		"text" : [
			"Primary Fire: Fire a bullet that increases in damage the longer you stayed still before firing.",
			"Secondary Fire: Hold to charge a long-range energy blast that splits off into multiple paths and converges into a singular point.",
			"Passive: Energy regenerates slowly while using this weapon, but doesn’t lock upon running out and has no delay before beginning to regenerate. Crouching increases accuracy, and hitting Electrified or Overloaded enemies returns Energy."
		],
		"image" : "/specs/images/operativeweapon.png",
		"name" : [
			//"ivrpgwbreathless"
		]
	}
}
