{
	"title" : "Operative",
	"ability" : {
		"text" : "After 10 seconds without taking damage, the next attack gains +50% Power Multiplier. This Power is not lost if the attack hits from behind.",
		"image" : "/specs/abilities/operative/guerrillatactics.png",
		"name" : "ivrpgguerrillatactics",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "sendEntityMessage",
						"messageName" : "ivrpgguerrillatactics"
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Ranged Weapons",
			"apply" : {
				"ranged" : {
					"all" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can dual-wield Pistols, SMGs, and Daggers",
			"apply" : {
				"pistol" : {
					"with" : [
						"dagger",
						"pistol",
						"machinepistol",
						"smg"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "120% Base Power with Sniper Rifles.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"sniperrifle" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "110% Base Power with Daggers.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"dagger" : {
					"amount" : 1.1,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "80% Power Multiplier",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8
				}
			]
		}
	],
	"tech" : {
		"title" : "EMP Sphere",
		"type" : "Head",
		"name" : "ivrpgempsphere",
		"image" : "/specs/techs/operative/empsphereicon.png",
		"text" : "An upgrade to Spike Sphere: EMP Sphere moves quickly and can fire magnetic pulse grenades that Overload and Stun enemies. Holding [Space] allows the sphere to slowly magnetize towards nearby, opposite walls. Pressing [H] regardless of transformation plants a Beacon that slowly regenerates Energy for nearby allies and speeds up wall magnetization. When more than one beacon is within 20 blocks of another, the two chain electricity."

	},
	"weapon" : {
		"title" : "Breathless",
		"text" : [
			"Primary Fire: fire a high-caliber bullet. Accuracy increases when crouching.",
			"Alt Fire: hold to continuously fire short-range plasma beams that converge at a singular point.",
			"Passive: Breathless regenerates Energy and prevents it from locking. Hitting Electrified or Overloaded enemies returns Energy."
		],
		"image" : "/specs/images/operativeweapon.png",
		"name" : [
			//"ivrpgwbreathless"
		]
	}
}
