{
	"title" : "Operative",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Operative/GuerrillTactics.png",
		"name" : "ivrpgGuerrillTactics",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "EMP Sphere",
		"type" : "head",
		"name" : "ivrpgempsphere",
		"image" : "/specs/techs/operative/empsphere.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Breathless",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/operativeweapon.png",
		"name" : [
			//"ivrpgwbreathless"
		]
	}
}
