{
	"title" : "Paladin",
	"ability" : {
		"text" : "Perfect Shields restore 10% of Max Shield Stamina and grant 5 seconds of +20% Physical, Shadow, Demonic, and Poison Resistance.",
		"image" : "/specs/abilities/paladin/perfectbarrier.png",
		"name" : "ivrpgperfectbarrier",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Wands.",
			"apply" : {
				"wand" : {
					"without" : [
						"weapon"
					]
				}
			}
		},
		{
			"type" : "require",
			"text" : "^red;50% Base Power while a\nShield is not equipped.",
			"apply" : {
				"shield" : {
					"amount" : 0.5
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Intelligence x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+10% Elemental Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "150% Base Power with Shields:\nScales with Str. and Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shield" : {
					"amount" : 1.5,
					"anyHand" : true,
					"scaling" : {
						"intelligence" : 0.02,
						"strength" : 0.01
					}
				}
			}
		},
		{
			"text" : "90% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		},
		{
			"text" : "80% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Immaculate Shield",
		"type" : "Body",
		"name" : "ivrpgimmaculateshield",
		"image" : "/specs/techs/paladin/immaculateshield.png",
		"text" : "Pressing [W] toggles Immaculate Shield, a buff that halves Shield Stamina, lowers Movement Speed by 25%, but grants bonuses for your shield. While active, monsters that hit your shield are stricken with Judgement Status, and Perfect Shields provide 7% of your Max Health as instant Health gain to nearby allies. This scales up to 12% with Strength and Intelligence."

	},
	"weapon" : {
		"title" : "True Aegis",
		"text" : [
			"Primary Fire: A beam that causes Judgement, which increases Gravity and lowers Holy Resistance.",
			"Secondary Fire: Defend against incoming attacks. Prematurely stops Primary Fire.",
			"Passive: Successive Perfect Shields increase Damage and Beam Length. Normal Shield Hits (not while firing)lower this bonus, and Shield Breaks reset it."
		],
		"image" : "/specs/images/paladinweapon.png",
		"name" : [
			"ivrpgwtrueaegis"
		]
	}
}