{
	"text" : {
		"title" : "Paladin",
		"ability" : "Perfect Shields restore 5% of max Shield Stamina.",
		"classic" : {
			"1" : "Wands enabled.",
			"2" : "^red;Must equip a shield.^reset;\nThe Aegis Weapons are considered Shields."
		},
		"benefits" : {
			"1" : "+50% Power with Shields:\nScales with Str. and Int.",
			"2" : "+10% Elemental Resistance"
		},
		"detriments" : {
			"1" : "-10% Speed",
			"2" : "-20% Jump Height"
		},
		"scaling" : {
			"increase" : {
				"1" : "Intelligence",
				"2" : "Vigor"
			},
			"decrease" : {

			}
		},
		"tech" : {
			"title" : "Immaculate Shield",
			"type" : "Body",
			"text" : " Pressing [W] toggles Immaculate Shield, a buff that lowers overall Shield Stamina, but provides bonuses for your shield. While Immaculate Shield is active, monsters that hit your shield are stricken with Holy Status, and Perfect Shields provide a short but strong burst of healing to yourself and nearby allies."	
		},
		"weapon" : {
			"title" : "True Aegis",
			"text" : {
				"1" : "Passive: Successive Perfect Shields increase Primary Fire's Damage and Length.\nRegular Shield Hits reset this bonus.",
				"2" : "Secondary Fire: Defend against incoming attacks.",
				"3" : "Primary Fire: Fire a beam of Holy Light that debuffs monsters with Judgement, which increases Gravity and lowers Resistance to Holy Damage."
			}
		}
	},
	"images" : {
		"tech" : "techbuttonbackground.png",
		"ability" : "/specs/abilities/paladin/perfectbarrier.png",
		"weapon" : "paladinweapon.png"
	},
	"effects" : {
		"ability" : "perfectbarrier",
		"tech" : "ivrpgimmaculateshield",
		"weapon" : {
			"1" : "ivrpgtrueaegis"
		},
		"itemBonus" : {
			"shield" : {
				"amount" : 0.5,
				"twoHanded" : 0,
				"dualWield" : 0,
				"scaling" : {
					"intelligence" : 0.02,
					"strength" : 0.01
				}
			}
		},
		"classicMode" : {
			"enabled" : {
				"1" : {
					"tag" : "wand",
					"dualWield" : 0,
					"twoHanded" : 0,
					"otherWeaponsAllowed" : 0
				}
 			},
			"disabled" : {
			
			},
			"requirements" : {
				"shield" : 0
			}
		}
	}
}