{
	"title" : "Paladin",
	"ability" : {
		"text" : "Perfect Shields restore 5% of max Shield Stamina.",
		"image" : "/specs/abilities/paladin/perfectbarrier.png",
		"name" : "ivrpgperfectbarrier"
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Wands enabled.",
			"apply" : [
				{
					"tag" : "wand",
					"dualWield" : 0,
					"twoHanded" : 0,
					"otherWeaponsAllowed" : 0
				}
			]
		},
		{
			"type" : "require",
			"text" : "^red;-50% Power while a\nShield is not equipped.",
			"apply" : [
				{
					"tag" : "shield",
					"with" : 0,
					"type" : "amount",
					"amount" : 0.5
				}
			]
		}
	],
	"effects" : [
		{
			"text" : "Intelligence",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgintelligencescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+10% Elemental Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "+50% Power with Shields:\nScales with Str. and Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : [
				{
					"tag" : "shield",
					"amount" : 0.5,
					"twoHanded" : 0,
					"dualWield" : 0,
					"scaling" : {
						"intelligence" : 0.02,
						"strength" : 0.01
					}
				}
			]
		},
		{
			"text" : "-10% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.9
				}
			]
		},
		{
			"text" : "-20% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.8
				}
			]
		}
	],
	"tech" : {
		"title" : "Immaculate Shield",
		"type" : "Body",
		"name" : "ivrpgimmaculateshield",
		"image" : "/specs/techs/paladin/immaculateshield.png",
		"text" : " Pressing [W] toggles Immaculate Shield, a buff that halves Shield Stamina, but provides bonuses for your shield. While Immaculate Shield is active, monsters that hit your shield are stricken with Judgement Status, and Perfect Shields provide Health Regeneration to yourself and nearby allies."

	},
	"weapon" : {
		"title" : "True Aegis",
		"text" : [
			"Primary Fire: Fire a beam of Holy Light that debuffs monsters with Judgement, which increases Gravity and lowers Resistance to Holy Damage.",
			"Secondary Fire: Defend against incoming attacks.",
			"Passive: Successive Perfect Shields increase Primary Fire's Damage and Length. Normal Shield Hits lower this bonus, and Shield Breaks reset it."
		],
		"image" : "/specs/images/paladinweapon.png",
		"name" : "ivrpgtrueaegis"
	}
}