{
	"title" : "Pilot",
	"ability" : {
		"text" : "Regenerate Health and Food while on your Ship. Gain increased Power while using the V-Transformer.",
		"image" : "/specs/abilities/pilot/homeawayfromhome.png",
		"name" : "ivrpghomeawayfromhome",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "120% Base Power While Wielding Pistols.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"pistol" : {
					"amount" : 1.2,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "80% Base Power",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "baseMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8,
					"halvingStat" : "dexterity",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Nanobot Overdrive",
		"type" : "Leg",
		"name" : "ivrpgnanobotoverdrive",
		"image" : "/specs/techs/pilot/nanobotoverdrive.png",
		"text" : "An upgrade to Enhanced Jump. Horizontal Glide Speed increased. Rather than jumping when pressing [Space] while midair, you can instead hold [Space] to boost upwards. While this Tech is equipped, Vehicles in your inventory are slowly recharged. Use [Special 3] with V-Transformer equipped to summon and ride one of three vehicles."

	},
	"weapon" : {
		"title" : "V-Transformer",
		"text" : [
			"Primary Fire: Switch between X-Suit, V-Jet, and U-Sub. Use Nanobot Overdrive to pilot the vehicle.",
			"X-Suit: A powerful exosuit that increases functionality in every situation.",
			"V-Bomber: A lightning-fast jet for agile combat in an atmosphere or the vacuum of space.",
			"U-Sub: A submarine with mining capabilities that withstands environmental damage."
		],
		"image" : "/specs/images/pilotweapon.png",
		"name" : [
			//"ivrpgwdrunktransformer"
		]
	}
}
