{
	"title" : "Pilot",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Pilot/NONE.png",
		"name" : "ivrpgNONE",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Nanobot overcharge",
		"type" : "head",
		"name" : "ivrpgnanobotovercharge",
		"image" : "/specs/techs/pilot/nanobotovercharge.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "drunk transformer",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/pilotweapon.png",
		"name" : [
			//"ivrpgwdrunktransformer"
		]
	}
}
