{
	"title" : "Saboteur",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Saboteur/Ambidextrous.png",
		"name" : "ivrpgAmbidextrous",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Shrapnel Mine",
		"type" : "head",
		"name" : "ivrpgshrapnelmine",
		"image" : "/specs/techs/saboteur/shrapnelmine.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Sarin",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/saboteurweapon.png",
		"name" : [
			//"ivrpgwsarin"
		]
	}
}
