{
	"title" : "Saboteur",
	"ability" : {
		"text" : "Gain +50% Energy with Pistols, +30% Health with Daggers, +20% Speed with Whips, and +15% Physical Resistance with Fists or Claws.",
		"image" : "/specs/abilities/saboteur/ambidextrous.png",
		"name" : "ivrpgambidextrous",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Cannot use Two-Handed Weapons (Bows Excluded).",
			"textColor" : "red",
			"apply" : {
				"ranged" : {
					"twoHanded" : true
				},
				"melee" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+10% Bleed Chance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgBleedChance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "+2 Second Bleed Length",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgBleedLength",
					"amount" : 2
				}
			]
		},
		{
			"text" : "80% Base Power",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "baseMultiplier",
					"stat" : "powerMultiplier",
					"amount" : 0.8,
					"halvingStat" : "dexterity",
					"halvingAmount" : 0.1
				}
			]
		}
	],
	"tech" : {
		"title" : "Shrapnel Mine",
		"type" : "Head",
		"name" : "ivrpgshrapnelmine",
		"image" : "/specs/techs/saboteur/shrapnelmine.png",
		"text" : "Press [Special 1] to set a mine that detonates when near aggressive enemies.
While Dual-Wielding Pistols - explodes normally and causes Bleed.
While Wielding a Pistol and Dagger - explodes into piercing shrapnel.
While Wielding a Whip - creates a cloud that causes Toxify.
While Wielding a Claw or Fist - releases bolts of electricity that cause Overload.
While Dual-Wielding Daggers - does minimal damage, but stuns enemies."
	},
	"weapon" : {
		"title" : "Sarin & Overcharge",
		"text" : [
			"Sarin: a Dagger that deals minimal damage, but inflicts Spore. Enemies inflicted with Spore take ticks of Poison damage, and burst when hit, releasing pink clouds that inflict Spore.",
			"Overcharge: a Pistol that fires Overload inflicting bullets."
		],
		"image" : "/specs/images/saboteurweapon.png",
		"name" : [
			//"ivrpgwsarin"
		]
	}
}
