{
	"title" : "Sage",
	"ability" : {
		"text" : "Nearby defeated enemies release Soul Essence that seeks out allies with low Health and grants immediate Health Regeneration.",
		"image" : "/specs/abilities/sage/soulconversion.png",
		"name" : "ivrpgsoulconversion",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Staves and Glaives.",
			"apply" : {
				"staff" : {
					"twoHanded" : true
				},
				"quarterstaff" : {
					"all" : true
				},
				"glaive" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "110% Base Power with Fist Weapons and 120% Base Power with Glaives: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"quarterstaff" : {
					"amount" : 1.1,
					"allowSecond" : true,
					"scaling" : {
						"intelligence" : 0.0075
					}
				},
				"glaive" : {
					"amount" : 1.2,
					"twoHanded" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				},
				"fist" : {
					"amount" : 1.1,
					"allowSecond" : true,
					"scaling" : {
						"intelligence" : 0.0075
					}
				}
			}
		},
		{
			"text" : "+20% Poison and Demonic Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "demonicResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Inner Peace",
		"type" : "Head",
		"name" : "ivrpginnerpeace",
		"image" : "/specs/techs/sage/innerpeace.png",
		"text" : "Press [Special 1] to activate Inner Peace. While active, movement and tool usage are disabled, Energy drains constantly, and Physical Resistance is reduced, but Health regenerates. If this trance lasts for 10 seconds uninterrupted, nearby allies immediately regenerate Health, and Power Multiplier increases until the next time you deal damage. Taking damage immediately ends the trance."

	},
	"weapon" : {
		"title" : "Rapture",
		"text" : [
			"Primary Fire: A flurry of attacks that change elements depending on the world's primary biome.",
			"Secondary Fire: Charge up the energy deep within the staff to call down beams of light that scorch enemies with Holy Damage.",
			"Passive: Enemies that are defeated by this weapon's Holy Damage release Soul Essence."
		],
		"image" : "/specs/images/sageweapon.png",
		"name" : [
			//"ivrpgwrapture"
		]
	}
}
