{
	"text" : {
		"title" : "Paladin",
		"ability" : "Perfect Shields restore 5% of max Shield Stamina.",
		"classic" : {
			"1" : "^red;Must equip a shield.^reset;\nThe Aegis Weapons are considered Shields."
		},
		"benefits" : {
			"1" : "-20% Energy Regen Delay",
			"2" : "+25% Power with Katanas: Scales with Dex.",
			"3" : "+15% Power with Spears: Scales with Dex.",
			"4" : "+20% Power with Bows"
		},
		"detriments" : {
			"1" : "-10% Speed",
			"2" : "-20% Jump Height"
		},
		"scaling" : {
			"increase" : {
				"1" : "Intelligence",
				"2" : "Vigor"
			},
			"decrease" : {
			}
		},
		"tech" : {
			"title" : "Immaculate Shield",
			"type" : "Body",
			"text" : "Pressing [W] while a shield is up..."	
		},
		"weapon" : {
			"title" : "True Aegis",
			"text" : "The True Aegis is a Two-Handed Shield with the ability to block and fire a beam of holy light."
		}
	},
	"images" : {
		"tech" : "techbuttonbackground.png",
		"ability" : "/specs/abilities/paladin/perfectbarrier.png",
		"weapon" : "paladinweapon.png"
	},
	"effects" : {
		"ability" : "perfectbarrier",
		"tech" : "ivrpgimmaculateshield",
		"weapon" : {
			"1" : "ivrpgtrueaegis"
		}
	}
}