{
	"title" : "Samurai",
	"ability" : {
		"text" : "Getting kills with Katanas grants a brief bout of Increased Speed\nand Jump Height, as well as Energy Regeneration.",
		"image" : "/specs/abilities/samurai/swordswill.png",
		"name" : "ivrpgswordswill",
		"apply" : [
			{
				"type" : "onKill",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgswordswillstatus",
						"chance" : 1,
						"length" : 5,
						"type" : "self",
						"fromSourceKind" : [
							"katana"
						]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "disable",
			"text" : "Disables Shields, Broadswords, and Hammers",
			"textColor" : "red",
			"apply" : {
				"shield" : { "all" : true },
				"broadsword" : { "all" : true },
				"hammer" : { "all" : true }
			}
		},
		{
			"type" : "enable",
			"text" : "Enables Katanas",
			"textColor" : "green",
			"apply" : {
				"katana" : { "anyHand" : true }
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity x2",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength x2",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.1,
					"negative" : true
				}
			]
		},
		{
			"text" : "150% Base Power with Katanas.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"katana" : {
					"amount" : 1.5,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "125% Base Power with Spears and Bows.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.25,
					"twoHanded" : true
				},
				"bow" : {
					"amount" : 1.25,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "-0.2 Seconds Energy Regen Delay",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenBlockTime",
					"amount" : 0.2,
					"negative" : true
				}
			]
		},
		{
			"text" : "-25% Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.25,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Iaijutsu",
		"type" : "Body",
		"name" : "ivrpgiaijutsu",
		"image" : "/specs/techs/samurai/iaijutsu.png",
		"text" : "Double-Tap Left or Right to dash in that direction, using all your remaining Energy to conjure a sharp slash of air along your path. The damage of the slash scales with how much Energy remained upon use, along with Dexterity. Damage dealt by this ability is considered Katana Damage. You are immune to damage while dashing."

	},
	"weapon" : {
		"title" : "Samurai Heart",
		"text" : [
			"Primary Fire: A long chain of quick swings.",
			"Secondary Fire: Parry and counterattack if hit.",
			"Passive: Kills with this weapon increase swing-rate for a short period."
		],
		"image" : "/specs/images/samuraiweapon.png",
		"name" : [
			"ivrpgwsamuraiheart"
		]
	}
}
