{
	"title" : "Scout",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Scout/New Frontiers.png",
		"name" : "ivrpgNew Frontiers",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Heartbeat Sensor",
		"type" : "body",
		"name" : "ivrpgheartbeatsensor",
		"image" : "/specs/techs/scout/heartbeatsensor.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Third Eye",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/scoutweapon.png",
		"name" : [
			//"ivrpgwthirdeye"
		]
	}
}
