{
	"title" : "Shade",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Shade/Abounding Darkness.png",
		"name" : "ivrpgAbounding Darkness",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Hidden Dragon",
		"type" : "body",
		"name" : "ivrpghiddendragon",
		"image" : "/specs/techs/shade/hiddendragon.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Quasar",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/shadeweapon.png",
		"name" : [
			//"ivrpgwquasar"
		]
	}
}
