{
	"title" : "Technomancer",
	"ability" : {
		"text" : "Dealing damage has a 1% chance to inflict Overload, Sear, Toxify, and Embrittle. These debuffs can occur simultaneously.",
		"image" : "/specs/abilities/technomancer/biohazardous.png",
		"name" : "ivrpgbiohazardous",
		"apply" : [
			{
				"type" : "onHit",
				"apply" : [
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgsear",
						"chance" : 0.01,
						"length" : 5,
						"type" : "target"
					},
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgtoxify",
						"chance" : 0.01,
						"length" : 5,
						"type" : "target"
					},
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgoverload",
						"chance" : 0.01,
						"length" : 5,
						"type" : "target"
					},
					{
						"effectType" : "addEphemeralEffect",
						"effect" : "ivrpgembrittle",
						"chance" : 0.01,
						"length" : 5,
						"type" : "target"
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield Ranged Weapons and Wands.",
			"apply" : {
				"ranged" : {
					"with" : [
						"wand",
						"ranged"
					],
					"allowAlone" : true
				},
				"wand" : {
					"with" : [
						"wand",
						"ranged"
					],
					"allowAlone" : true
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can Wield Two-Handed Ranged Weapons.",
			"apply" : {
				"ranged" : {
					"twoHanded" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Dexterity",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "110% Base Power with Ranged Weapons: Scales with Int.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"ranged" : {
					"amount" : 1.1,
					"anyHand" : true,
					"scaling" : {
						"intelligence" : 0.02
					}
				}
			}
		},
		{
			"text" : "+20% Fire, Ice, Electric, Poison, and Nova Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "novaResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.2
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "-10% Physical Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "physicalResistance",
					"amount" : 0.1,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Elemental Overcharge",
		"type" : "Head",
		"name" : "ivrpgelementalovercharge",
		"image" : "/specs/techs/technomancer/elementalovercharge.png",
		"text" : "An upgrade to Wizard's Magic Shield: provides the same effect as Magic Shield, using up Energy to halve damage taken. However, while Elemental Overcharge is active, Element Resistances are maxed and Power Multiplier Increases up to +20% as Energy Decreases. Elemental Overcharge fires a bolt of pure Nova Energy in retaliation whenever you are damaged. Energy Regeneration is 75% as effective when compared to regular Magic Shield."

	},
	"weapon" : {
		"title" : "OmniaThrower",
		"text" : [
			"Primary Fire: Fire a stream of elemental energy.",
			"Secondary Fire: Switch Elements. Omnia-Thrower can switch between Nova, Fire, Electric, Ice, and Poison. Using Secondary Fire while holding Shift switches between Nova and the last used Element."
		],
		"image" : "/specs/images/technomancerweapon.png",
		"name" : [
			"ivrpgwomniathrower",
			"ivrpgfiringmechanism",
			"ivrpgnovacrystal"
		]
	}
}
