{
	"title" : "Titan",
	"ability" : {
		"text" : "+10 Armor with a Shield equipped.\nAfter Perfect Shielding, nearby allies gain +5 Armor for 10 seconds.",
		"image" : "/specs/abilities/titan/prometheantactics.png",
		"name" : "ivrpgprometheantactics",
		"apply" : [
		]
	},
	"classic" : [
		{
			"type" : "require",
			"text" : "^red;50% Base Power while a\nShield is not equipped.",
			"apply" : {
				"shield" : {
					"amount" : 0.5
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Endurance",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "115% Armor",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "protection",
					"amount" : 1.15
				}
			]
		},
		{
			"text" : "110% Shield Stamina",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "shieldHealth",
					"amount" : 1.1
				}
			]
			
		},
		{
			"text" : "150% Base Power While Dual-Wielding Machine Pistols and Shields.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"machinepistol" : {
					"amount" : 1.5,
					"anyHand" : true,
					"with" : [
						"shield"
					]
				}
			}
		},
		{
			"text" : "80% Speed",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "speedModifier",
					"amount" : 0.8,
					"halvingStat" : "agility",
					"halvingAmount" : 0.1
				}
			]
		},
		{
			"text" : "90% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.9,
					"halvingStat" : "agility",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Atlas' Burden",
		"type" : "Body",
		"name" : "ivrpgatlasburden",
		"image" : "/specs/techs/titan/atlasburden.png",
		"text" : "Pressing [W] toggles Atlas' Burden, a buff that halves Shield Stamina and Jump Height, but provides bonuses for your shield. While Atlas' Burden is active, enemies that hit your Shield have a 25% chance to be stunned for half a second; Perfect Shields stun all nearby enemies for two second; and Perfect Shields grant you and nearby allies 110% Base Power Multiplier, 120% Armor, and Knockback Immunity for five seconds."

	},
	"weapon" : {
		"title" : "Epimetheus",
		"text" : [
			"Primary Fire: Hold to fire bullets with an average rate of fire and accuracy.",
			"Passive: Getting kills with this weapon increases Max Health by 5% for 20 seconds, up to 150% Max Health. Perfect Shielding while this weapon is equipped grants a brief bout of Rage. These effects disappear upon switching off of Epimetheus."
		],
		"image" : "/specs/images/titanweapon.png",
		"name" : [
			//"ivrpgwepimetheus"
		]
	}
}