{
	"title" : "Valkyrie",
	"ability" : {
		"text" : "Gain a short period of Low-Gravity upon jumping. Staying airborne triggers Health Regeneration.",
		"image" : "/specs/abilities/valkyrie/flightofthevalkyrie.png",
		"name" : "ivrpgflightofthevalkyrie",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can dual-wield Shortswords.",
			"apply" : {
				"shortsword" : {
					"with" : [
						"shortsword"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Strength",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgstrengthscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+10% Ice and Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.1
				},
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.1
				}
			]
		},
		{
			"text" : "120% Base Power with Spears:\nScales with Dex.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"spear" : {
					"amount" : 1.2,
					"anyHand" : true,
					"scaling" : {
						"dexterity" : 0.02
					}
				}
			}
		},
		{
			"text" : "115% Base Power with Shortswords.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shortsword" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-10% Fire and Poison Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"negative" : true,
					"amount" : 0.1,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				},
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"negative" : true,
					"amount" : 0.1,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.05
				}
			]
		}
	],
	"tech" : {
		"title" : "Einherjar",
		"type" : "Head",
		"name" : "ivrpgeinherjar",
		"image" : "/specs/techs/valkyrie/einherjar.png",
		"text" : "Press [F] to target the ally nearest your cursor and grant them Invulnerability and +150% Damage for 5 seconds. Doing so costs 20% of your Max Health and instantly drains all energy."

	},
	"weapon" : {
		"title" : "Gungnir",
		"text" : [
			"Primary Fire: A three-hit combo.",
			"Secondary Fire: An extended jab that marks enemies for death.",
			"Passive: Enemies marked for death that are killed by this weapon burst into a holy light that grants regeneration and increased damage with wands and staffs for nearby allies."
		],
		"image" : "/specs/images/valkyrieweapon.png",
		"name" : [
			//"ivrpgwgungnir",
			"ivrpgmeteoricmetal"
		]
	}
}