{
	"title" : "Vanguard",
	"ability" : {
		"text" : "Increased Physical Resistance, Energy, and Speed while near enemies. Decreased Power and Energy while far from enemies.",
		"image" : "/specs/abilities/vanguard/inthefray.png",
		"name" : "ivrpginthefray",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can use Machine Pistols with other Weapons.",
			"apply" : {
				"machinepistol" : {
					"with" : [
						"ranged",
						"melee"
					]
				}
			}
		},
		{
			"type" : "enable",
			"text" : "Can use Melee Weapons.",
			"apply" : {
				"melee" : {
					"without" : [
						"melee"
					]
				}
			}
		},
		{
			"type" : "disable",
			"text" : "Cannot use Sniper Rifles, Rocket Launchers, or Grenade Launchers.",
			"textColor" : "red",
			"apply" : {
				"sniperrifle" : {
					"all" : true
				},
				"grenadelauncher" : {
					"all" : true
				},
				"rocketlauncher" : {
					"all" : true
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Vitality",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "+25% Electric Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "electricResistance",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "+25% Knockback Resistance",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "grit",
					"amount" : 0.25
				}
			]
		},
		{
			"text" : "150% Base Power with Shotguns",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shotgun" : {
					"amount" : 1.5,
					"anyHand" : true
				}
			}
		},
		{
			"text" : "120% Base Power with Machine Pistols",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"machinepistol" : {
					"amount" : 1.2,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "-50% Poison, Fire, and Ice Resistance",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "poisonResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "fireResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				},
				{
					"type" : "amount",
					"stat" : "iceResistance",
					"amount" : 0.5,
					"negative" : true,
					"halvingStat" : "endurance",
					"halvingAmount" : 0.25
				}
			]
		},
		{
			"text" : "+10% Hunger Rate",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "foodDelta",
					"amount" : 0.001,
					"negative" : true,
					"halvingStat" : "vitality",
					"halvingAmount" : 0.0005
				}
			]
		},
		{
			"text" : "75% Jump Height",
			"textType" : "detriment",
			"type" : "movement",
			"apply" : [
				{
					"type" : "airJumpModifier",
					"amount" : 0.75,
					"halvingStat" : "agility",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Rush",
		"type" : "Body",
		"name" : "ivrpgrush",
		"image" : "/specs/techs/vanguard/rush.png",
		"text" : "Pressing [G] while your cursor points near an enemy allows you to near-instantly travel towards that enemy. While traveling, you are immune to damage and can phase through walls. Upon reappearing, create a large electrical explosion that stuns, and regenerates 20% Max Energy upon landing a killing blow. Explosion Damage scales with Agility and Dexterity. Energy Cost is 150. ^red;You cannot use Rush on enemies inside blocks."

	},
	"weapon" : {
		"title" : "Danger Close",
		"text" : [
			"Primary Fire: Hold to quickly fire bullets but with terrible accuracy.",
			"Passive: Rate of fire increases the closer you are to enemies. Getting a kill with this weapon gives back a small percentage of Health and Energy over time. This weapon warns you when your Health goes below 30% and changes color upon nearing enemies or approaching low Health."
		],
		"image" : "/specs/images/vanguardweapon.png",
		"name" : [
			"ivrpgwdangerclose",
			"ivrpgfiringmechanism"
		]
	}
}