{
	"title" : "Vigilante",
	"ability" : {
		"text" : "Increased Speed and Power while near aggressive NPCs.\nNearby allies recharge 10% Energy when you kill an Outlaw or Bandit.",
		"image" : "/specs/abilities/vigilante/bymyownhands.png",
		"name" : "ivrpgbymyownhands",
		"apply" : [
			{
				"type" : "onKill",
				"apply" : [
					{
						"type" : "friendly",
						"effectType" : "modifyResourcePercentage",
						"effect" : "energy",
						"chance" : 1,
						"amount" : 0.1,
						"range" : 15,
						"targetList" : [
							"bandit",
							"outlaw"
						]
					}
				] 
			}
		]
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "Can Dual-Wield One-Handed Ranged Weapons.",
			"apply" : {
				"ranged" : {
					"with" : [
						"ranged"
					]
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vitality",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvitalityscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "Endurance",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgendurancescaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "+20% Energy Recharge Rate",
			"textType" : "benefit",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "energyRegenPercentageRate",
					"amount" : 0.2
				}
			]
		},
		{
			"text" : "115% Base Power with Pistols and Submachine Guns. (Just pistols in FFS)",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"pistol" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"rpgffspistol" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				},
				"machinepistol" : {
					"amount" : 1.15,
					"anyHand" : true,
					"allowSecond" : true
				}
			}
		},
		{
			"text" : "120% Base Power with Shotguns.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"shotgun" : {
					"amount" : 1.2,
					"twoHanded" : true
				},
				"rpgffsshotgun" : {
					"amount" : 1.2,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "75% Max Energy",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Desperado",
		"type" : "Body",
		"name" : "ivrpgdesperado",
		"image" : "/specs/techs/vigilante/desperado.png",
		"text" : "Press [G] to instantly regain all Energy and gain infinite Energy usage for 5 Seconds. The more Energy you would have drained while in this state, the higher your Power increases. After Desperado wears off, Max Energy is decreased by 50% for 30 seconds before it can be used again."

	},
	"weapon" : {
		"title" : "Anne & Marie",
		"text" : [
			"Anne: a pistol that uses 16.7% Max Energy per shot, but does massive damage and knockback. Paired with Marie, each shot uses 12.5% Max Energy instead, and sets enemies ablaze.",
			"Marie: a pistol with High RoF, Low Energy Usage, and Low Damage. Bullets pierce and cause bleed. Paired with Anne, gain +20% Physical and Knockback Resistance."
		],
		"image" : "/specs/images/vigilanteweapon.png",
		"name" : [
			"ivrpgwanne",
			"ivrpgwmarie"
		]
	}
}
