{
	"title" : "Vinetender",
	"ability" : {
		"text" : "-",
		"image" : "/specs/abilities/Vinetender/One With Nature.png",
		"name" : "ivrpgOne With Nature",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "enable",
			"text" : "-",
			"apply" : {}
		},
		{
			"type" : "disable",
			"text" : "-",
			"textColor" : "red",
			"apply" : {}
		},
		{
			"type" : "require",
			"text" : "-",
			"apply" : {}
		}
	],
	"effects" : [
		{
			"text" : "-",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "benefit",
			"type" : "status",
			"apply" : []
		},
		{
			"text" : "-",
			"textType" : "detriment",
			"type" : "status",
			"apply" : []
		}
	],
	"tech" : {
		"title" : "Peaceful Aura",
		"type" : "body",
		"name" : "ivrpgpeacefulaura",
		"image" : "/specs/techs/vinetender/peacefulaura.png",
		"text" : "-"

	},
	"weapon" : {
		"title" : "Chrysantha",
		"text" : [
			"Primary Fire: ",
			""
		],
		"image" : "/specs/images/vinetenderweapon.png",
		"name" : [
			//"ivrpgwchrysantha"
		]
	}
}
