{
	"title" : "Wanderer",
	"ability" : {
		"text" : "+100% Power and +20% to all Resistances while far from allies.\n+100% Power while near enemy NPCs and Players.",
		"image" : "/specs/abilities/wanderer/thestranger.png",
		"name" : "ivrpgthestranger",
		"apply" : []
	},
	"classic" : [
		{
			"type" : "require",
			"text" : "^red;50% Base Power while a\nKatana is not equipped.",
			"apply" : {
				"katana" : {
					"twoHanded" : true,
					"amount" : 0.5
				}
			}
		}
	],
	"effects" : [
		{
			"text" : "Dexterity",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgdexterityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Agility",
			"textType" : "scaling-up",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgagilityscaling",
					"amount" : 0.05
				}
			]
		},
		{
			"text" : "Vigor",
			"textType" : "scaling-down",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "ivrpgvigorscaling",
					"amount" : 0.05,
					"negative" : true
				}
			]
		},
		{
			"text" : "150% Base Power with Katanas.",
			"textType" : "benefit",
			"type" : "weapon",
			"apply" : {
				"katana" : {
					"amount" : 1.5,
					"twoHanded" : true
				}
			}
		},
		{
			"text" : "-0.5% Hunger Rate",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "amount",
					"stat" : "foodDelta",
					"amount" : 0.005
				}
			]
		},
		{
			"text" : "75% Max Energy",
			"textType" : "detriment",
			"type" : "status",
			"apply" : [
				{
					"type" : "effectiveMultiplier",
					"stat" : "maxEnergy",
					"amount" : 0.75,
					"halvingStat" : "vigor",
					"halvingAmount" : 0.125
				}
			]
		}
	],
	"tech" : {
		"title" : "Soliloquy",
		"type" : "Head",
		"name" : "ivrpgsoliloquy",
		"image" : "/specs/techs/wanderer/soliloquy.png",
		"text" : "Press [Special 1] to start Soliloquy. Successfully killing an enemy while this effect is active raises Power by 10% and Bleed Chance by 1%, but lowers all Resistances by 5%, and is uncapped. Soliloquy cannot be toggled off, but is removed when taking damage."
	},
	"weapon" : {
		"title" : "Nomadic Soul",
		"text" : [
			"Primary Fire: When aerial, thrust downwards; otherwise, attack with a two-step combo.",
			"Alt Fire: With Shift held, sheathe the blade; when moving left or right, stab and step in that direction; otherwise, perform a rising slash.",
			"Passive: Sheath quickly after a kill to raise the power of your next draw. Kills with the sheathing attack further increase the bonus."
		],
		"image" : "/specs/images/wandererweapon.png",
		"name" : [
			"ivrpgwnomadicsoul"
		]
	}
}
