{
	// AUTO HEAL
    "ivrpg_alchemicpotion_heal1": {
        "name": "Auto Heal I",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_heal1"
    },
    "ivrpg_alchemicpotion_heal2": {
        "name": "Auto Heal II",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_heal2"
    },
    "ivrpg_alchemicpotion_heal3": {
        "name": "Auto Heal III",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_heal3"
    },
    "ivrpg_alchemicpotion_heal4": {
        "name": "Auto Heal IV",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_heal4"
    },
    "ivrpg_alchemicpotion_heal5": {
        "name": "Auto Heal V",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_heal5"
    },

	// INSTANT HEAL
    "ivrpg_alchemictincture_instantheal1": {
        "name": "Instant Heal I",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_instantheal1"
    },
    "ivrpg_alchemictincture_instantheal2": {
        "name": "Instant Heal II",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_instantheal2"
    },
    "ivrpg_alchemictincture_instantheal3": {
        "name": "Instant Heal III",
        "hue": "D64554",
        "effect": "ivrpg_alchemic_instantheal3"
    },

	// DRAGON'S BREATH
    "ivrpg_alchemicpotion_bleed1": {
        "name": "Dragon's Breath I",
        "hue": "9616CC",
        "effect": "ivrpg_alchemic_bleed1"
    },
    "ivrpg_alchemicpotion_bleed2": {
        "name": "Dragon's Breath II",
        "hue": "9616CC",
        "effect": "ivrpg_alchemic_bleed2"
    },
    "ivrpg_alchemicpotion_bleed3": {
        "name": "Dragon's Breath III",
        "hue": "9616CC",
        "effect": "ivrpg_alchemic_bleed3"
    },
    "ivrpg_alchemicpotion_bleed4": {
        "name": "Dragon's Breath IV",
        "hue": "9616CC",
        "effect": "ivrpg_alchemic_bleed4"
    },
    "ivrpg_alchemicpotion_bleed5": {
        "name": "Dragon's Breath V",
        "hue": "9616CC",
        "effect": "ivrpg_alchemic_bleed5"
    },

	// DRAGON'S BLOOD
    "ivrpg_alchemicpotion_damage1": {
        "name": "Dragon's Blood I",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damage1"
    },
    "ivrpg_alchemicpotion_damage2": {
        "name": "Dragon's Blood II",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damage2"
    },
    "ivrpg_alchemicpotion_damage3": {
        "name": "Dragon's Blood III",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damage3"
    },
    "ivrpg_alchemicpotion_damage4": {
        "name": "Dragon's Blood IV",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damage4"
    },
    "ivrpg_alchemicpotion_damage5": {
        "name": "Dragon's Blood V",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damage5"
    },

	// DAMAGE DOWN
    "ivrpg_alchemicbane_damagedown1": {
        "name": "Damage Down I",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damagedown1",
        "bane" : true
    },
	"ivrpg_alchemicbane_damagedown2": {
        "name": "Damage Down II",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damagedown2",
        "bane" : true
    },
	"ivrpg_alchemicbane_damagedown3": {
        "name": "Damage Down III",
        "hue": "D67A11",
        "effect": "ivrpg_alchemic_damagedown3",
        "bane" : true
    },
	
	// IRON SKIN
	"ivrpg_alchemicpotion_defense1": {
        "name": "Iron Skin I",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defense1"
    },
	"ivrpg_alchemicpotion_defense2": {
        "name": "Iron Skin II",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defense2"
    },
	"ivrpg_alchemicpotion_defense3": {
        "name": "Iron Skin III",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defense3"
    },
	
	// DEFENSE DOWN
	"ivrpg_alchemicbane_defensedown1": {
        "name": "Defense Down I",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defensedown1",
        "bane" : true
    },
	"ivrpg_alchemicbane_defensedown2": {
        "name": "Defense Down II",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defensedown2",
        "bane" : true
    },
	"ivrpg_alchemicbane_defensedown3": {
        "name": "Defense Down III",
        "hue": "636363",
        "effect": "ivrpg_alchemic_defensedown3",
        "bane" : true
    },
	
	// INSTANT DEFENSE
	    "ivrpg_alchemictincture_instantdefense1": {
        "name": "Instant Defense I",
        "hue": "636363",
        "effect": "ivrpg_alchemic_instantdefense1"
    },
	    "ivrpg_alchemictincture_instantdefense2": {
        "name": "Instant Defense II",
        "hue": "636363",
        "effect": "ivrpg_alchemic_instantdefense2"
    },
	    "ivrpg_alchemictincture_instantdefense3": {
        "name": "Instant Defense III",
        "hue": "636363",
        "effect": "ivrpg_alchemic_instantdefense3"
    },

	// FAIRY DUST
	    "ivrpg_alchemicpotion_fairy1": {
        "name": "Fairy Dust I",
        "hue": "F46EF7",
        "effect": "ivrpg_alchemic_fairy1"
    },
	    "ivrpg_alchemicpotion_fairy2": {
        "name": "Fairy Dust II",
        "hue": "F46EF7",
        "effect": "ivrpg_alchemic_fairy2"
    },
	    "ivrpg_alchemicpotion_fairy3": {
        "name": "Fairy Dust III",
        "hue": "F46EF7",
        "effect": "ivrpg_alchemic_fairy3"
    },

	// STATUS RESIST
	    "ivrpg_alchemicpotion_resist1": {
        "name": "Status Resist I",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resist1"
    },
	    "ivrpg_alchemicpotion_resist2": {
        "name": "Status Resist II",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resist2"
    },
	    "ivrpg_alchemicpotion_resist3": {
        "name": "Status Resist III",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resist3"
    },

	// RESIST DOWN
	    "ivrpg_alchemicbane_resistdown1": {
        "name": "Resist Down I",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resistdown1",
        "bane" : true
    },
	    "ivrpg_alchemicbane_resistdown2": {
        "name": "Resist Down II",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resistdown2",
        "bane" : true
    },
	    "ivrpg_alchemicbane_resistdown3": {
        "name": "Resist Down III",
        "hue": "1043D8",
        "effect": "ivrpg_alchemic_resistdown3",
        "bane" : true
    },

	// VILE VIAL
	    "ivrpg_alchemicpotion_vile": {
        "name": "Vile Vial",
        "hue": "2FCC16",
        "effect": "ivrpg_alchemic_vile"
    },

	// INSTANT ENERGY
	    "ivrpg_alchemictincture_instantenergy1": {
        "name": "Instant Energy I",
        "hue": "2FCC16",
        "effect": "ivrpg_alchemic_instantenergy1"
    },
	    "ivrpg_alchemictincture_instantenergy2": {
        "name": "Instant Energy II",
        "hue": "2FCC16",
        "effect": "ivrpg_alchemic_instantenergy2"
    },
	    "ivrpg_alchemictincture_instantenergy3": {
        "name": "Instant Energy III",
        "hue": "2FCC16",
        "effect": "ivrpg_alchemic_instantenergy3"
    }
}
