{
// AUTO-HEAL
  "ivrpg_alchemicpotion_heal1" : "ivrpg_alchemic_heal1",
  "ivrpg_alchemicpotion_heal2" : "ivrpg_alchemic_heal2",
  "ivrpg_alchemicpotion_heal3" : "ivrpg_alchemic_heal3",
  "ivrpg_alchemicpotion_heal4" : "ivrpg_alchemic_heal4",
  "ivrpg_alchemicpotion_heal5" : "ivrpg_alchemic_heal5",
// DRAGON'S BREATH
  "ivrpg_alchemicpotion_bleed1" : "ivrpg_alchemic_bleed1",
  "ivrpg_alchemicpotion_bleed2" : "ivrpg_alchemic_bleed2",
  "ivrpg_alchemicpotion_bleed3" : "ivrpg_alchemic_bleed3",
  "ivrpg_alchemicpotion_bleed4" : "ivrpg_alchemic_bleed4",
  "ivrpg_alchemicpotion_bleed5" : "ivrpg_alchemic_bleed5",
// DRAGON'S BLOOD
  "ivrpg_alchemicpotion_damage1" : "ivrpg_alchemic_damage1",
  "ivrpg_alchemicpotion_damage2" : "ivrpg_alchemic_damage2",
  "ivrpg_alchemicpotion_damage3" : "ivrpg_alchemic_damage3",
  "ivrpg_alchemicpotion_damage4" : "ivrpg_alchemic_damage4",
  "ivrpg_alchemicpotion_damage5" : "ivrpg_alchemic_damage5",
// IRON SKIN
  "ivrpg_alchemicpotion_defense1" : "ivrpg_alchemic_defense1",
  "ivrpg_alchemicpotion_defense2" : "ivrpg_alchemic_defense2",
  "ivrpg_alchemicpotion_defense3" : "ivrpg_alchemic_defense3",
// FAIRY DUST
  "ivrpg_alchemicpotion_fairy1" : "ivrpg_alchemic_fairy1",
  "ivrpg_alchemicpotion_fairy2" : "ivrpg_alchemic_fairy2",
  "ivrpg_alchemicpotion_fairy3" : "ivrpg_alchemic_fairy3",
// STATUS RESIST
  "ivrpg_alchemicpotion_resist1" : "ivrpg_alchemic_resist1",
  "ivrpg_alchemicpotion_resist2" : "ivrpg_alchemic_resist2",
  "ivrpg_alchemicpotion_resist3" : "ivrpg_alchemic_resist3",
// VILE VIAL
  "ivrpg_alchemicpotion_vile" : "ivrpg_alchemic_vile"
}
